@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@font-face {
  font-family: 'overkillt2' ;
  src: url(Heatizen-EaVBj.ttf);
}

.overkillt2 {
	position: relative;
  width: 500px;
  margin: 20px auto 130px;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
}


.overkillt2 credit {
  position: absolute;
  width: 100%;
  display:block;

  font-family: arial;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;

  bottom:40px;
  right:260px;
  display: flex;
  align-items: stretch;
  justify-content: center;

  transform: rotate(270deg);
}

.overkillt2_img {
  position: absolute;
  bottom: -120px;
  left: -260px;
  width: 190%;
  height: 750px;
  background: transparent url('https://ik.imagekit.io/arl60/Ardent/shop/Missy/Overkill/IMG_29922.png?updatedAt=1760226815888') no-repeat center bottom;
  background-size: contain; 
  z-index: 5;
  pointer-events: none;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.9)) drop-shadow(0 0 2px rgba(0, 0, 0, 0.9));
}

.overkillt2_bor {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #980000, #000 90%);
  padding: 3px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.overkillt2_con {
  position: relative;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  pointer-events: none;
  margin: 0 auto;
  background: black;
}

.overkillt2_con::before{
  content:'';
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  background:url('https://ik.imagekit.io/arl60/Ardent/shop/sharedmedia/blooddrip.jpg?updatedAt=1762267710921') no-repeat left;
  background-size:cover;
  background-attachment:fixed;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
}

.overkillt2_con > * {
  position: relative;
  z-index: 2;
}

.overkillt2_incon {
  position: relative;
  overflow: hidden;
  padding: 10px 15px 570px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #0f111b, rgba(11, 41, 35, 0.5), rgba(0, 0, 0, 0.698));
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  font-size: 10px;
  color: #eaeaea;
  line-height: 1.2;
  border: 2px solid;
  border-image: linear-gradient(to bottom, rgb(38, 74, 68), #000000) 1;
}

.overkillt2_incon speak {
  color: #FFDC75;
  font-family: "Comfortaa", sans-serif;
  font-size: 11px;
  color: transparent;
  text-align: center;
  background: linear-gradient(to bottom, rgb(246, 41, 41), #f00);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: none;
  line-height: 0.9;
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.8));
}

.overkillt2_incon d {
  display: block;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, transparent, #f00, transparent);
  width: 80%;
  height: 1.5px;
}

.overkillt2_speech {
  display: block;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  bottom: 430px;
  right: 25px;
  z-index: 10;
  width: 60%;
}

.overkillt2_speech speak {
  display: inline;
  font-family: 'overkillt2';
  letter-spacing: 6px;
  color: transparent;
  background: linear-gradient(to bottom, #f00, #522323);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: none;
  font-size: 45px;
  line-height: 1.1;
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.8)) drop-shadow(0 0 3px rgba(0,0,0,0.8));
  transform: rotate(50deg);
  text-align: center;
}

@media (max-width: 1200px) {

  .overkillt2 {
    filter: none;
    margin: 10px auto;
  }

  .overkillt2_con::before {
    display: none;
  }

.overkillt2 credit {
  position: relative;
  display:block;
  inset:auto;
  display:block;
  transform: none;
  text-align: center;
}

.overkillt2_speech {
  position: relative;
  inset:auto;
}

.overkillt2_img {
  display: none;
}
.overkillt2_incon {
  padding: 5px;
}

}

