@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@font-face {
  font-family: 'overkillt5' ;
  src: url(Heatizen-EaVBj.ttf);
}

.overkillt5 {
  position: relative;
  width: 100%;
  width: 450px;
  margin: 20px auto 0;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
  filter: drop-shadow(-2px 0 5px #000000);
}

.overkillt5 credit {
  position: absolute;
  top: 376px;
  left: 408px;
  width: 100px;
  display: block;
  text-align: left;
  font-family: arial;
  text-transform: uppercase;
  font-size: 10px;
  z-index: 10;
  transform: rotate(-270deg);
  font-weight: bold;
}

.overkillt5 credit::before {
  content: 'code by andy';
}

.overkillt5_img {
  position: absolute;
  top: 27px;
  left: -10px;
  width: 100%;
  height: 500px;
  background: transparent url('https://ik.imagekit.io/arl60/Ardent/shop/Missy/Overkill/SPOILER_Bust_.png?updatedAt=1760140634131') no-repeat top;
  background-size: contain; 
  z-index: 1;
  pointer-events: none;
  filter: drop-shadow(0 0 2px #000000);
}

.overkillt5_bor {
  position: relative;
  width: 100%;
  background: black;
  padding: 0 4px 10px;
  box-sizing: border-box;
  margin: 0 auto;
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 400'%3e%3cpath d='M300,0 C350,200 600,200 600,400 L0,400 C0,200 250,200 300,0 Z'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 400'%3e%3cpath d='M300,400 C350,200 600,200 600,0 L0,0 C0,200 250,200 300,400 Z'/%3e%3c/svg%3e"), linear-gradient(black, black);
  -webkit-mask-position: top center, bottom center, 0 340px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 400px, 100% 400px, 100% calc(100% - 680px);
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 400'%3e%3cpath d='M300,0 C350,200 600,200 600,400 L0,400 C0,200 250,200 300,0 Z'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 400'%3e%3cpath d='M300,400 C350,200 600,200 600,0 L0,0 C0,200 250,200 300,400 Z'/%3e%3c/svg%3e"), linear-gradient(black, black);
  mask-position: top center, bottom center, 0 340px;
  mask-repeat: no-repeat;
  mask-size: 100% 400px, 100% 400px, 100% calc(100% - 680px);
}

.overkillt5_bor::before, .overkillt5_bor::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 1.2px;
  background: linear-gradient(to right, transparent, red, transparent);
  z-index: 1;
  pointer-events: none;
  filter: drop-shadow(0 0 5px #ff0000);
}

.overkillt5_bor::before {
  top: 525px;
}

.overkillt5_bor::after {
  bottom: 300px;
}

.overkillt5_con {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, red, black);
  padding: 0 10px;
  box-sizing: border-box;
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 400'%3e%3cpath d='M300,0 C350,200 600,200 600,400 L0,400 C0,200 250,200 300,0 Z'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 400'%3e%3cpath d='M300,400 C350,200 600,200 600,0 L0,0 C0,200 250,200 300,400 Z'/%3e%3c/svg%3e"), linear-gradient(black, black);
  -webkit-mask-position: top center, bottom center, 0 340px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 400px, 100% 400px, 100% calc(100% - 680px);
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 400'%3e%3cpath d='M300,0 C350,200 600,200 600,400 L0,400 C0,200 250,200 300,0 Z'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 400'%3e%3cpath d='M300,400 C350,200 600,200 600,0 L0,0 C0,200 250,200 300,400 Z'/%3e%3c/svg%3e"), linear-gradient(black, black);
  mask-position: top center, bottom center, 0 340px;
  mask-repeat: no-repeat;
  mask-size: 100% 400px, 100% 400px, 100% calc(100% - 680px);
}


.overkillt5_incon {
  padding: 530px 15px 300px;
  background: rgba(0, 0, 0, 0.8);
  min-height: 100px;

  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 400'%3e%3cpath d='M300,0 C350,200 600,200 600,400 L0,400 C0,200 250,200 300,0 Z'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 400'%3e%3cpath d='M300,400 C350,200 600,200 600,0 L0,0 C0,200 250,200 300,400 Z'/%3e%3c/svg%3e"), linear-gradient(black, black);
  -webkit-mask-position: top center, bottom center, 0 340px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 400px, 100% 400px, 100% calc(100% - 680px);
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 400'%3e%3cpath d='M300,0 C350,200 600,200 600,400 L0,400 C0,200 250,200 300,0 Z'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 400'%3e%3cpath d='M300,400 C350,200 600,200 600,0 L0,0 C0,200 250,200 300,400 Z'/%3e%3c/svg%3e"), linear-gradient(black, black);
  mask-position: top center, bottom center, 0 340px;
  mask-repeat: no-repeat;
  mask-size: 100% 400px, 100% 400px, 100% calc(100% - 680px);


  text-align:center;
  font-family: "comfortaa", serif;
  font-size: 10px;
  color:#ffffff;
  line-height: 1.2;
}


.overkillt5_incon speak {
  font-family: "comfortaa", serif;
  font-size: 11px;
  color: transparent;
  background: linear-gradient(to bottom, #E72127, #B21C20);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
  text-shadow: none !important;
  line-height: 1;
  filter: drop-shadow(0 0 2px black);
}

.overkillt5_speech {
  position: absolute;
  bottom: 170px;
  left: -3px;
  color: transparent;
  background: linear-gradient(to bottom, #C6070D, #771215);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: none !important;
  text-align: center;
  width:100%;
  line-height: 0.8;
  filter: drop-shadow(0 0 2px black);
}

.overkillt5_speech speak {
  font-family: 'overkillt5';
  font-weight: bold;
  font-size: 60px;
}

@media (max-width: 1200px) {
  .overkillt5 {
    filter: none;
  }

  .overkillt5 credit {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    margin: 5px auto 0;
    text-align: center;
    transform: none;
  }

  .overkillt5_img,
  .overkillt5::after,
  .overkillt5_bor::before  {
    display: none;
  }

  .overkillt5_bor,
  .overkillt5_con,
  .overkillt5_incon {
    -webkit-mask-image: none;
    mask-image: none;
    margin: 0 auto;
    padding: 10px;
  }

  .overkillt5_speech {
    position: relative;
    inset:auto;
    display: block;
    font-size: 40px;
    text-align: center;
    transform: none;
    padding:0;
  }
    .overkillt5_speech br {
    font-size:0;
  }



}
