@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


.basiliskt2_bor {
  margin: 20px auto;
  padding:4px;
  width: 700px;
  box-sizing: border-box;
  border-radius: 100px 0 100px 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.85), 20px 20px 50px rgba(0, 0, 0, 0.5);
background: linear-gradient(to bottom, #000000, #7F8BC7, #48768D, #151D1F);
}

.basiliskt2_con {
  position: relative;
  z-index: 0;
  width: 100%;
  height: auto;
  padding: 30px 30px 690px;
  border-radius: 100px 0 100px 0;
  box-sizing: border-box;
  overflow: hidden;
  background: url('https://i.imgur.com/CvOxRUA.jpeg') no-repeat center calc(100% + 100px);
  background-size: 110%;
  pointer-events: none;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
}

.basiliskt2_con::after {
  content: '';
  position: absolute;
  bottom: 770px;
  right: 0;
  left: 0;
  z-index: 1;
  height: 300px;
  background: linear-gradient(to top, transparent 0, #7F8BC7 50%, transparent 100%);
  pointer-events: none;
}

.basiliskt2_inbor {
  position: relative;
  z-index: 6;
  margin: 0 auto;
  padding: 2px;
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;
  border-radius: 90px 10px 10px;
  background: linear-gradient(
    to bottom,
    #aee9f9 0%,
    #57ADD9 30%,
    #1DB5C7 70%,
    #14353a 100%
  );
  box-shadow: 0 0 10px 2px #36BBC9;
}


.basiliskt2_incon {
  position: relative;
  z-index: 6;
  padding: 40px 30px 120px;
  border-radius: 90px 10px 10px;
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;
  overflow: visible;
  background: linear-gradient(to bottom, rgba(4, 23, 31, 0.85), rgba(15, 44, 48, 0.85));
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
}

.basiliskt2_text,
.basiliskt2_diag,
.basiliskt2_speech {
  position: relative;
  z-index: 2;
}

.basiliskt2_text {
  margin: 0;
  padding: 20px 30px;
  font-family: 'Merriweather';
  font-size: 13px;
  color: #fff;
  text-align: justify;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.basiliskt2_text::before {
  content: '';
  display: block;
  height: 2px;
  line-height: normal;
  margin: -10px 0 10px 0;
  background: linear-gradient(to right, transparent 10%, #90E3F1 50%, transparent 90%);
}

.basiliskt2_text::after {
  content: '';
  display: block;
  height: 2px;
  line-height: normal;
  margin: 10px 0 -10px 0;
  background: linear-gradient(to right, transparent 10%, #90E3F1 50%, transparent 90%);
}

.basiliskt2_diag, .basiliskt2_diagb {
  font-size: 18px;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(to bottom, #36BBC9 0%, #43e0e6 50%, #36BBC9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 0 3px #43e0e6);
  line-height: 1;
}

.basiliskt2_diag {
  font-family: 'Merriweather';
}

.basiliskt2_diagb {
  font-family: 'Megrim';
}


.basiliskt2_speech {
  margin: -25px 0 -135px 0;
  font-family: 'Megrim';
  font-size: 30px;
  font-weight: bold;
  color: transparent;
  text-align: center;
  background: linear-gradient(to bottom, #36BBC9 0%, #43e0e6 50%, #36BBC9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 0 5px #43e0e6);
}

@media (max-width: 1200px) {
  .basiliskt2_diag, .basiliskt2_diagb, .basiliskt2_speech, .basiliskt2_text {
    filter: none;
  }

  .basiliskt2_bor, .basiliskt2_con, .basiliskt2_inbor, .basiliskt2_incon {
    border-radius: 0;
  }

  .basiliskt2_con::after {
    display: none;
  }

  .basiliskt2_text::before, .basiliskt2_text::after {
    display: none;
  }

}
