@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

.shaylat1 {
  position: relative;
  width: 800px;
  margin: 260px auto 30px;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
  font-family: "Karla", sans-serif;
}
.shaylat1:after{
  content:'code by andy';
  position: absolute;
  font-family: "Unica One", sans-serif;
  text-align: center;
  width: 100%;
  margin: 5px 0 0;
}
.shaylat1 shay {
  position: absolute;
  top: -239px;
  left: 57px;
  width: 712px;
  height: 728px;
  background: url('https://ik.imagekit.io/arl60/Ardent/shop/Seadragoness/shayla/one.png?updatedAt=1791215810731')
    no-repeat left / contain;
  z-index: 10;
  pointer-events: none;
  filter: drop-shadow(1px 1px 30px #17215461) drop-shadow(1px 1px 2px #8fe5ffc4);
}
.shaylat1 bor {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 500px;
  margin: 0 auto;
  padding: 2px;
  background: linear-gradient(to bottom, #5937a2, #000);
  border-radius: 250px 250px 0 0;
  overflow: hidden;
  box-shadow: 2px 2px 3px black, 1px 1px 2px black;
}
.shaylat1 con {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  border-radius: inherit;
}
.shaylat1 con::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 15;
  width: 70%;
  height: 1px;
  background: linear-gradient(to right, transparent, #9fd4ffa6, transparent);
  pointer-events: none;
}
.shaylat1 con::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: url('https://cdna.artstation.com/p/assets/images/images/062/537/418/large/rutger-van-de-steeg-leviathan-own.jpg?1683372435')
    center / cover no-repeat;
  filter: saturate(2);
  pointer-events: none;
}
.shaylat1 inbor {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 2px;
  border-radius: inherit;
  background: linear-gradient(to bottom, #5e7fc5, #0c1733);
  box-shadow: 2px 2px 3px black, 0 0 3px black;
}
.shaylat1 inbor::after {
  content: '';
  position: absolute;
  inset: 0 10px 10px;
  z-index: 15;
  border: 1px solid;
  border-top: none;
  border-image: linear-gradient(to top, #5b7a938c, #9fd4ff14 45%, transparent 70%) 1;
  pointer-events: none;
}
.shaylat1 incon {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 450px 25px 0;
  border-radius: inherit;
  background: linear-gradient(to bottom, #214c75 250px, #09141c);
  box-shadow: inset 0 0 10px #0a0a28;
  overflow: hidden;
  text-align: justify;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: .3px;
  color: #bed1d6;
  text-shadow: 0 1px 2px #00000080;
}
.shaylat1 incon video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  filter: hue-rotate(20deg) saturate(.5);
  -webkit-mask: linear-gradient(to top, transparent, black 50%);
          mask: linear-gradient(to top, transparent, black 50%);
  pointer-events: none;
}
.shaylat1 incon::before,
.shaylat1 incon::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: linear-gradient(90deg, #67a9b3, #e1ecff, #84d7ff);
  -webkit-mask: url('https://ik.imagekit.io/arl60/Ardent/assets/thunvider.png')
    center / contain no-repeat;
          mask: url('https://ik.imagekit.io/arl60/Ardent/assets/thunvider.png')
    center / contain no-repeat;
  pointer-events: none;
  z-index: 5;
}
.shaylat1 incon::before { top: 410px; height: 50px; }
.shaylat1 incon::after { bottom: 75px; height: 40px; }
.shaylat1 b,
.shaylat1 .mycode_b {
  display: inline;
  font-family: "Cormorant", serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 1;
  color: transparent;
  background: linear-gradient(to bottom, #B2FFF8, #01B8FF);
  -webkit-background-clip: text;
          background-clip: text;
  text-shadow: none;
}
.shaylat1 b:last-of-type {
  display: inline-block;
  width: 100%;
  margin: 30px auto 10px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

@media (max-width: 1200px) {
  .shaylat1 { margin:auto; max-width:450px; }
  .shaylat1:after {margin: -18px 0 0;}
  .shaylat1 incon::before,
  .shaylat1 video,
  .shaylat1 con:before,
  .shaylat1 shay { display: none; }
  .shaylat1 bor { margin: 0 0 20px;border-radius: 0;width: 100%; background: none;box-shadow:none;}
  .shaylat1 con { padding: 0; }
  .shaylat1 incon { padding: 0 18px 0; }
  .shaylat1 incon video { height: 280px; }
}
