@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

.shaylat5 {
	position: relative;
  width: 800px;
  margin: 20px auto 95px;
  position: relative;
  overflow: visible;
  padding: 0;
  box-sizing: border-box;
}
.shaylat5:before {
  content: 'code by andy';
  position: absolute;
  bottom:-65px;
  left:138px;
  width: 100%;
  height:50px;
  text-align: left;
  font-family: "Unica One", arial;
  text-transform: lowercase;
  font-size: 14px;
  font-weight: 400;
}
.shaylat5 shay {
  position: absolute;
  bottom: -155px;
  left: 14px;
  width: 785px;
  height: 630px;
  margin: 0 auto;
  background: url('https://ik.imagekit.io/arl60/Ardent/shop/Seadragoness/shayla/plushie2.png')
    no-repeat left;
  background-size: contain; 
  z-index: 5;
  pointer-events: none;
  filter: drop-shadow(1px 1px 2px rgb(191, 197, 220));
}
.shaylat5 bor {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 500px;
  padding: 12px;
  margin: 0 60px 0 auto;
  border: none;
  border-radius: 0;
  overflow: hidden;
  filter: drop-shadow(1px 1px 2px black);
}
.shaylat5 bor::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 5;
  border-radius: inherit;
  padding: 3px;
  pointer-events: none;
  background: linear-gradient(100deg, #b7ccdf 0 40%, #fff 47%, #9dadba 50%, #fff 53%, #b8dfdf 60% 100%) 0 0 / 300% 100%;
  animation: shaysheent5 7s linear infinite;
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
          mask: linear-gradient(#000 0 0) content-box exclude, linear-gradient(#000 0 0);
}
@keyframes shaysheent5 {
  to { background-position: 100% 0; }
}
.shaylat5 con {
  display: block;
  position: relative;
  box-sizing: border-box;
  border-radius: inherit;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  pointer-events: none;
  margin: 0 auto;
}
.shaylat5 con::before {
  border-radius: inherit;
  content:'';
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  background: url('https://cdna.artstation.com/p/assets/images/images/062/537/418/large/rutger-van-de-steeg-leviathan-own.jpg?1683372435');
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  filter: saturate(0.9) hue-rotate(10deg);
}
.shaylat5 inbor {
  display: block;
  position: relative;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #c2d8fb, #fff, #71839e);
  padding: 2px;
  border-radius: inherit;
  box-shadow: 1px 1px 5px black;
}
.shaylat5 inbor:after {
  position: absolute;
  content: '';
  bottom: 180px;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  width: 89%;
  height: 7px;
  border: 1.5px solid;
  border-left: none;
  border-right: none;
  border-image: linear-gradient(90deg, #fff, #bff0ff, #fff) 1;
  opacity: 0.81;
}
.shaylat5 incon {
  display: block;
  position: relative;
  box-sizing: border-box;
  border-radius: inherit;
  padding: 10px 30px 160px;
  width: 100%;
  background: linear-gradient(to bottom,#274564, #14141e);
  height: auto;
  box-shadow: inset 0 0 10px rgb(6, 8, 12);
  text-align: justify;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size:14px;
  color: #c6d1e1;
  line-height: 1.2;
  overflow: hidden;
  z-index: 5;
}
.shaylat5 incon:before {
  content: '';
  position: absolute;
  top: -207px;
  left: 111px;
  width: 100%;
  height: 500px;
  background: #54748f;
  opacity: 0.4;
  filter: drop-shadow(0 0 2px black) brightness(1);
  --divit: url('https://ik.imagekit.io/arl60/Ardent/assets/zap6.png?updatedAt=1791234226184');
  -webkit-mask: var(--divit)
    center / contain no-repeat;
          mask: var(--divit)
    center / contain no-repeat;
  z-index: -1;
}
.shaylat5 incon:after {
  content: '';
  position: absolute;
  bottom: -188px;
  left: -39px;
  width: 100%;
  height: 500px;
  background: #54748f;
  opacity: 0.4;
  transform: rotate(80deg);
  filter: drop-shadow(0 0 2px black) brightness(1);
  --divit2: url('https://ik.imagekit.io/arl60/Ardent/assets/zap5.png?updatedAt=1791234226222');
  -webkit-mask: var(--divit2)
    center / contain no-repeat;
          mask: var(--divit2)
    center / contain no-repeat;
  z-index: -1;
}
.shaylat5 b,
.shaylat5 .mycode_b {
  display: inline;
  font-family: "Cormorant", serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 1;
  color: transparent !important;
  background: linear-gradient(to bottom, #B2FFF8, #01B8FF) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  text-shadow: none !important;
}
.shaylat5 b:last-of-type {
  display: block;
  position: absolute;
  text-align: center;
  font-size:25px;
  bottom: 102px;
  left:157px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 1200px) {
  .shaylat5 {margin: 0;left:50%;transform:translateX(-50%);}
  .shaylat5 con:before,
  .shaylat5 incon:before,
  .shaylat5 incon:after,
  .shaylat5 shay {display: none;}
  .shaylat5 inbor,
  .shaylat5 bor {
    margin:0;
    background: none;
    border-radius: 0;
    box-shadow: none;
    border: none;
    padding: 0;
    filter: none;
    color: inherit;
  }
  .shaylat5 con {padding:10px;}
  .shaylat5 bor {
    max-width: 450px;
    width: 100%;
    margin: auto;
  }
  .shaylat5 incon {padding: 10px 20px 0;}
  .shaylat5 b:last-of-type {
    display: block;
    position: relative;
    inset:0;
    margin-top: 30px;
  }
  .shaylat5 inbor:after {bottom: 100px;}
  .shaylat5:before {
    content: 'code by andy';
    position: absolute;
    bottom:-60px;
    left:0;
    width: 100%;
    height:50px;
    text-align: center;
    font-family: "Unica One", arial;
    text-transform: lowercase;
    font-size: 14px;
    font-weight: 400;
  }
}
