@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@font-face {
    font-family: 'WickedBrush';
    src: url('WickedBrush-YzmMv.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* 
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;

  font-family: 'WickedBrush', sans-serif;
  font-weight: 400;
*/

.aesont2 {
	position: relative;
  width: 500px;
  margin: 50px auto 20px;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
}


.aesont2 credit {
  position: absolute;
  width: 100%;
  display: block;
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-weight: bold;
  bottom: -17px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*! transform: rotate(270deg); */
}

.aesont2 t {
  position: absolute;
  top:353px;
  left:158px;
  z-index:10;
  
  color: white;
  font-family: "WickedBrush", cursive;
  font-weight: 400;
  font-size: 78px;
  
  filter:drop-shadow(0 0 10px black);
}


.aesont2_img {
  position: absolute;
  top: -64px;
  left: -173px;
  width: 171%;
  height: 547px;
  background: transparent
    url('https://ik.imagekit.io/arl60/Ardent/shop/Missy/Aeson/OKXD_JkA.png') no-repeat bottom;
  background-size: auto;
  background-size: contain;
  z-index: 5;
  pointer-events: none;
  filter: drop-shadow(0 0 5px rgba(151, 180, 206, 0.9)) drop-shadow(0 0 2px rgba(0, 0, 0, 0.9));
  transform: rotate(-3deg);
}

.aesont2_bor {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  background: black;
  padding: 3px;
  border-radius: 300px 300px 0 0;
  overflow: hidden;
}

.aesont2_con {
  position: relative;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  pointer-events: none;
  margin: 0 auto;
  background: white;
  border-radius: 300px 300px 0 0;
}

.aesont2_con::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  
  background: url('https://ik.imagekit.io/arl60/Ardent/shop/sharedmedia/darkforest.jpg?updatedAt=1760139131305') no-repeat center fixed;
  filter: hue-rotate(-30deg);
  border-radius: 300px 300px 0 0;

}

.aesont2_con > * {
  position: relative;
  z-index: 2;
}

.aesont2_incon {
  position: relative;
  overflow: hidden;
  padding: 450px 15px 10px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #151c27ed, #0B0D12E0);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #E8DAEE;
  line-height: 1.2;
  border-radius: 300px 300px 0 0;
}

.aesont2_incon d {
  display:block;
  margin:0 auto;
  width:100%;
  height:10px;

  border-top: 1.1px solid;
  border-image: linear-gradient(to right, transparent, #45DCDC, transparent) 1;
}

.aesont2_incon speak {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  text-shadow: none;
  line-height: 0.9;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.aesont2_speech {
  display: block;
  margin: 5px auto -5px;
  text-align: center;
  line-height: 0;
}

.aesont2_speech speak {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  text-shadow: none;
  font-size: 15px;
  line-height: 1.1;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.aesont2_incon speak, .aesont2_speech speak {
  color: transparent;
  background: linear-gradient(to bottom, #45DCDC,#9AE9E9);
  -webkit-background-clip: text;
  background-clip: text;
}

/*
@media (max-width: 1200px) {

  .aesont2 {
    filter: none;
    margin: 10px auto;
  }

  .aesont2_con::before {
    display: none;
  }

.aesont2 credit {
  position: relative;
  inset:auto;
  display:block;
  text-align: center;
  transform:none;
}

.aesont2_speech {
  position: relative;
  inset:auto;
  padding:0;
}

.aesont2_img {
  display: none;
}
.aesont2_incon {
  padding: 10px;
}

}

