

body {
	position: relative;
	background-repeat: repeat-y;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}

body:after {
    filter: saturate(0.8) brightness(0.8);
}
