@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');

.andysignature {
  background-color: transparent;
  padding: 10px 0 0 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Mrs Saint Delafield', cursive;
  font-size: 40px;
}

.c_andysignature {
  width: auto;
  height: 230px;
}

.andysignature_tooltip {
  position: relative;
  display: inline-block;
}

.andysignature_tooltiptext {
  visibility: hidden;
  width: 150px;
  color: #333;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  text-align: center;
  padding: 8px 0;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 10px;
  font-family: 'arial', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  pointer-events: none;
}

.andysignature_tooltip:hover .andysignature_tooltiptext {
  visibility: visible;
  opacity: 1;
}
