@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');


nav {
    background: rgba(9,23,52, 0.4) !important;
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.6));
    display: flex;
    justify-content: center;
    font-family: 'Didact Gothic', serif;
    font-size: 10px;
}

nav a {
    color: #a7b9d4 !important;
    transition: color 0.2s ease;
    margin: 0;
}

nav a:hover {
    color: #ffa4f0 !important;
    transition: color 0.2s ease;
}


#content {
    margin-top: -60px !important;
    max-width: 1000px;
}

.player_profile > .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 100px;
    text-align:right;
    color: rgb(255, 255, 255);
    width: 500px;
    height: auto;
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.6));
    text-transform: capitalize !important;
    margin: -75px 0 0 -200px;
    pointer-events: none;
}

h1 span {
    text-decoration: none !important;
}


.profile > div:nth-child(1) img {
    content: url('https://ik.imagekit.io/arl60/Ardent/personal/Andy/Andy2.png?updatedAt=1755463582012') !important;
    width: 400px !important;
    height: 400px !important;
    object-fit: contain;
    display: block;
    object-position: center center;
    pointer-events: none;
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.6));
}


.profile > div:nth-child(2) {
    background: rgba(9,23,52, 0.7);
    padding: 0 5px;
    text-align:center !important;
    box-shadow: 0 0 10px rgba(152, 57, 255,0.8);
    border: 1px solid #d0eaf7; 
    font-family: "Cormorant Infant", serif;
    font-size: 14px;
}

.profile > div:nth-child(2) a {
    color: #FFB3FF !important;
    z-index: 10;
    transition: color 0.2s ease;
}

.profile > div:nth-child(2) a:hover {
    color: #a46cff !important;
    z-index: 10;
    transition: color 0.2s ease;
}

.profile > div:nth-child(5) {
    margin: 0 0 5px;
    width: 100%;
    
}


.player_profile > div:nth-child(5), .player_profile > div:nth-child(7) {
    margin: 0 auto;
    width: 100%;
}


.player_profile > div:nth-child(5) > div > div, .player_profile > div:nth-child(7) > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 103.5%;
    box-sizing: border-box;
    margin: -15px auto 0 -15px;
}

.player_profile > div:nth-child(7) > div > div {
    margin: -35px auto -40px -15px;
}

.player_profile > div:nth-child(5) > div > div > *, .player_profile > div:nth-child(7) > div > div > * {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}


.blocky {
box-sizing: border-box;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.7), 4px 4px 12px rgba(0,0,0,0.5);
    border: 1px solid #d0eaf7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Cormorant Infant", serif;
    font-size: 14px;
    text-align: center;
    overflow: visible;
    z-index: 1;
    box-shadow: 0 0 10px rgba(152, 57, 255,0.8);
    margin: 3px !important;
    padding: 10px 10px 20px;
    position: relative;
}

.blocky > span {
    filter: drop-shadow(2px 2px 0.5px rgba(0, 0, 0, 0.6));
    font-family: 'Didact Gothic', serif;
    text-shadow: none !important;
    font-size: 12px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    padding: 2px 0;
    color: #d4e6f1;
    background: linear-gradient(to right, transparent, rgba(201, 186, 233, 0.4), transparent);
    border-radius: 0 0 10px 10px;
}
  

.thead {
    font-family: "Cormorant Infant", serif;
    font-size: 16px;
	text-align: center;
    text-transform: capitalize !important;
    padding: 10px 0;
    color: #d4e6f1;
    box-shadow: 0 0 10px rgba(152, 57, 255,0.8);
	text-shadow: 1px 1px 2px rgba(0,0,0,0.7), 4px 4px 12px rgba(0,0,0,0.5) !important;
    border: 1px solid #d0eaf7;
}

.thead b {
    font-weight: 100 !important;
}

.sip_tbl_head,
.sip_tbl_th,
.sip_tbl_td {
    color:white;
	background: rgba(9,23,52, 0.7);
	text-shadow: 2px 2px 4px rgba(0,0,0,0.7), 4px 4px 12px rgba(0,0,0,0.5);
    font-family: "Cormorant Infant", serif;
    font-size: 12px;
}

.tborder {
    text-align:center;
    font-family: "Cormorant Infant", serif;
    font-size: 16px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7), 4px 4px 12px rgba(0,0,0,0.5);
}

.tborder a {
    color: #251f61 !important;
    transition: color 0.2s ease;    
}

.tborder a:hover {
    color: #b3def7 !important;
    transition: color 0.2s ease;    
}

.overlay_wrapper {
    position: absolute;
    display: inline-block; 
}

.overlay_image {
    position: absolute;
    max-width: 300px;
    height: auto;
    z-index: 10;
    filter: drop-shadow(0 0 3px #000000);
    border-radius: 8px;
    pointer-events:none;
}

.overlay_text {
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'redressed', Serif;
    font-size: 23px;
    white-space: nowrap;
    z-index: 10;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7), 4px 4px 12px rgba(0,0,0,0.5);
}

.overlay_text a {
    color: #ffffff !important;
    transition: color 0.2s ease;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7), 4px 4px 12px rgba(0,0,0,0.5);
}

.overlay_text a:hover {
    color: #de5efe !important;
    transition: color 0.2s ease;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7), 4px 4px 12px rgba(0,0,0,0.5);
}

.misc {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px 0 0;
}

.misc::before {
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, white, transparent);
}

.pagedoll {
    width: 100px;
    height: 100px;
    margin: 0 5px;
}

@media (max-width: 1000px) {

.overlay_image, .overlay_text {
    display: none;
}

h1 {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.profile > div:nth-child(2) {
    background: rgba(9,23,52, 0.7);
    padding: 10px 5px;
    text-align:center !important;
    width: 100%;
}

nav {
    justify-content: flex-start;

}

}

