@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

/*
    font-family: "Mrs Saint Delafield", cursive;
    font-weight: 400;

    font-family: "Girassol", serif;
    font-weight: 400;

    font-family: "Amarante", serif;
    font-weight: 400;
*/

.andyvault {
    margin: 0 auto;
    width: 850px;
}

.andyvault h1 {
    display: block;
    text-align: center;
    font-size: 45px;
    font-family: "Amarante", serif;
    font-weight: 400;
    filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
    text-transform: capitalize;
    padding: 20px 0 0;
}


.andyvault > br {
    font-size:0;
}

.andyvault > div {
    font-size:0;
}

.andyvault label {
    display: flex;
    position:relative;
    align-items: center;
    justify-content: center;
    padding: 0 20px 0 0;

    margin: 5px auto;
    width: 95%;
    height: 40px !important;
    border: 1px solid #000000;
    box-shadow: inset 0 0 5px rgba(59, 52, 52, 0.6), 0 0 6px rgb(0, 0, 0);
    cursor: pointer;

    font-family: "Girassol", serif;
    font-weight: 400;
    font-size: 20px;
    z-index:1;

    text-shadow: 1px 1px 2px rgba(0,0,0,0.7), 0 0 1px rgba(0,0,0,0.5);
}

.andyvault label::before {
    content: '';
    position:absolute;
    inset:0;

    width:100%;
    height:100%;
    pointer-events: none;
    z-index:-1;

    background-color: var(--bg);
    background-image: var(--img);
    background-position: var(--pos);
    background-size: var(--size);
    background-repeat:no-repeat;
    background-attachment: local;
}



.andyvault input {
    display: none !important;
    position: absolute !important;
    left: -9999px !important;
    opacity: 0 !important;
}

.andyvault input + br,
br + .andytvault input {
    display: none;
}

.andyvault_con {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
}

.andyvault input:checked + .andyvault_con {
    max-height: 1000px !important;
    opacity: 1 !important;
}
