@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');

.andysignature {
  background-color: transparent;
  padding: 10px 0 0 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Mrs Saint Delafield', cursive;
  font-size: 40px;
}

.c_andysignature_container {
  width: 230px;
  height: 230px;
  display: inline-block;
  vertical-align: middle;
}

.c_andysignature {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.andysignature_tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
}

.andysignature_tooltiptext {
  visibility: hidden;
  width: auto;
  color: #333;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  text-align: center;
  padding: 8px 10px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.3s;
  font-size: 10px;
  font-family: 'arial', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.andysignature_tooltip:hover .andysignature_tooltiptext {
  visibility: visible;
  opacity: 1;
}

.c_andysignature_spoiler {
  filter: brightness(0);
  transition: filter 0.3s ease-in-out;
}

.andysignature_tooltip:hover .c_andysignature_spoiler {
  filter: brightness(1);
}
