
@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

/*
  DO NOT USE WITHOUT ANDY'S PERMISSION.
*/

html {
  scrollbar-width: thin;
  scrollbar-color: var(--grey) var(--srf2);
}
::-webkit-scrollbar { 
	width: 10px; height: 10px; }
::-webkit-scrollbar-track { 
	background: var(--srf2); }
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, var(--grey), color-mix(in oklab, var(--grey) 65%, black));
  border: 1px solid var(--srf2);
}
::-webkit-scrollbar-thumb:hover { 
	background: color-mix(in oklab, var(--grey) 60%, white); }

body {
	position: relative;
  background: white;
}
body:after {
	background: var(--bg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
header {background:none;}
a { color: var(--acc) !important;}
nav {
	background: var(--srf) !important;
	backdrop-filter: blur(2px);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	margin: 0 20px;
	font-weight: 400;
	font-family: var(--f3);
	font-size: 14px !important;
	letter-spacing: 2px;
	text-transform: lowercase;
}
.dropdown-menu {
	background: color-mix(in srgb, var(--srf2) 88%, transparent);
}
.dropdown-menu a{
	font-size: 15px;
	text-transform: lowercase;
}
#content {
	background: transparent;
	margin: 0 auto 6%;
	max-width: 1200px;
	width: 100%;
	padding: 2% 3% 3%;
	color: white;
  font-family: var(--f4);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

h1{
	position: absolute;
	top:-690px;
	left:125%;
  font-family: var(--f1);
	text-transform: capitalize;
	font-size: 140px;
	margin: 0;
	padding: 20px;
  color: transparent;
  background: linear-gradient(to bottom, #FEFFFF,#D98EFB);
  -webkit-background-clip: text;
  background-clip: text;
	filter:drop-shadow(1px 1px 2px black);
}
h1>span{text-decoration: none !important;}
.profile.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px;
	margin-bottom:10px !important;
}
.profile.flex > br.clear,
.profile.flex > .spacer { display: none; }

.profile.flex > div:nth-of-type(1) { flex: 0 0 100%; }
.profile.flex > div:nth-of-type(2) { flex: 0 0 25%; }
.profile.flex > .profinfo { flex: 1 1 0; min-width: 0; }
.profile.flex > div:nth-of-type(1) img {display:none;}
.profile.flex > div:nth-of-type(1) {
	position: relative;
	height: 600px;
	width: 100%;
	background-image: url('https://ik.imagekit.io/arl60/Ardent/personal/Andy/Andy2.png?updatedAt=1755463582012');
  background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom:0;
	pointer-events:none;
	margin:10px 0 0;
}
.flex.fill.profinfo:has(d){
	flex-direction: row;
	gap:10px;
}
.full.profinfowrap {margin:0;}
.flex.fill.profinfo {
	flex-direction: column;
	margin:0;
}
.blocky, .profile.flex > div:nth-of-type(2) {
	background: linear-gradient(to bottom, var(--srf), var(--srf2));
	margin:0 0 10px!important;
	border: 2px solid;
	letter-spacing: 1.3px;
	text-align: center;
	padding:25px 20px 10px;
	box-shadow: inset 0 0 10px #312b4294;;
	border-image: linear-gradient(to right, var(--frame1), var(--frame2), var(--frame1)) 1;
}
.profile.flex > div:nth-of-type(2) { align-self: stretch; }
.profile.flex > div:nth-of-type(2) {
	position: relative;
	border-radius: 10px;
	margin: 0 !important;
	padding: 30px 10px 10px;
}
.profile.flex > div:nth-of-type(2) > div:first-of-type > div { 
	text-transform: uppercase;
	font-size:10px;
	text-align:center;
	padding: 0 60px;
}
.profile.flex > div:nth-of-type(2) > div:first-of-type > div i { 
	font-style: normal;
}
.profile.flex a[href*="finduser"] { 
	display:block;
  text-transform:uppercase;
	letter-spacing: 2px;
	text-align: center;
}
.profile.flex a[href*="do_search"] { 
	display: block;
  text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 10px;
	text-align: center;
}
.profile.flex a[href*="private.php"] { 
	display: block;
	text-align: center;
	font: 25px var(--f2);
	margin: -10px 0 0;
}
.profile.flex > div:nth-of-type(2) > div:first-of-type > div > a > img {
  display:block;
	width: auto;
	height:40px;
	margin-inline:auto;
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
  50% { transform: translateY(5px) scalex(-1); }
}
.flex.fill.profinfo:has(info) > p {display:none;}
.blocky:has(info){
	padding: 40px 30px;
	margin: 0 !important;
}
info[split] {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
info[split] > box {
  flex: 0 0 140px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
info[split] > p {
  flex: 1 1 0;
  min-width: 0;
  margin: 0;
}
info[split] box a {
  display: block;
  text-align: center;
  padding: 8px;
  border: 1px solid;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 2px;
	box-shadow: 0 0 10px #2b1d5294;
	background: var(--srf);
  border-image: linear-gradient(to right, var(--frame1), var(--frame2), var(--frame1)) 1;
  transition: transform .3s ease;
}
info[split] box a:hover {
	transform: scale(1.1);
  transition: transform .3s ease;
}
.player_profile > .flex:nth-of-type(3) > .full.profinfowrap > .flex.fill.profinfo > div,
.player_profile > .flex:nth-of-type(4) > .full.profinfowrap > .flex.fill.profinfo > div,
.player_profile > .flex:nth-of-type(3) > .full.profinfowrap > .flex.fill.profinfo > div > span,
.player_profile > .flex:nth-of-type(4) > .full.profinfowrap > .flex.fill.profinfo > div > span
{
	font-size:0;
	letter-spacing: 0;
	padding: 23px 20px 13px;
}
.player_profile > .flex:nth-of-type(3) > .full.profinfowrap > .flex.fill.profinfo > div > span:before,
.player_profile > .flex:nth-of-type(4) > .full.profinfowrap > .flex.fill.profinfo > div > span:before{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	letter-spacing: 2px;
	font-size:15px;	
	padding: 0;
}
.player_profile > .flex:nth-of-type(3) > .full.profinfowrap > .flex.fill.profinfo > div:nth-of-type(1) > span:before{
	content:var(--q1);
}
.player_profile > .flex:nth-of-type(3) > .full.profinfowrap > .flex.fill.profinfo > div:nth-of-type(2) > span:before{
	content:var(--q2);	
}
.player_profile > .flex:nth-of-type(3) > .full.profinfowrap > .flex.fill.profinfo > div:nth-of-type(3) > span:before{
	content:var(--q3);	
}
.player_profile > .flex:nth-of-type(4) > .full.profinfowrap > .flex.fill.profinfo > div:nth-of-type(1) > span:before{
	content:var(--q4);	
}
.player_profile > .flex:nth-of-type(4) > .full.profinfowrap > .flex.fill.profinfo > div:nth-of-type(2) > span:before{
	content:var(--q5);	
}
.player_profile > .flex:nth-of-type(3) > .full.profinfowrap > .flex.fill.profinfo 
> div:nth-of-type(1):before{
	content:var(--a1);
	font-size:15px;
}
.player_profile > .flex:nth-of-type(3) > .full.profinfowrap > .flex.fill.profinfo
> div:nth-of-type(2):before{
	content:var(--a2);
	font-size:15px;
}
.player_profile > .flex:nth-of-type(3) > .full.profinfowrap > .flex.fill.profinfo
> div:nth-of-type(3):before{
	content:var(--a3);
	font-size:15px;
}
.player_profile > .flex:nth-of-type(4) > .full.profinfowrap > .flex.fill.profinfo
> div:nth-of-type(1):before{
	content:var(--a4);
	font-size:15px;
}
.player_profile > .flex:nth-of-type(4) > .full.profinfowrap > .flex.fill.profinfo
> div:nth-of-type(2):before{
	content:var(--a5);
	font-size:15px;
}
.blocky > span {
	font: 16px var(--f3);
	letter-spacing: 1.5px;
	color: var(--acc);
	text-shadow: 0 0 2px black;
	text-align: center;
	left:0;
	top:5px;
}
.blocky.board {
	position: relative;
	padding: 130px 10% 40px;
	overflow: hidden;
}
.blocky.board:before {
	content: var(--rmc);
	position: absolute;
	bottom: 10px;
	right: 8px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font: 12px var(--f4);
	color: var(--grey);
}
.blocky.board > span {
	top:0;
	bottom: auto;
	background: var(--srf);
	width: 100%;
	left: 50%;
	transform:translateX(-50%);
	font-size:0;
	padding: 20px 0;
  border-bottom: 2px solid color-mix(in srgb, var(--acc) 25%, transparent);
  box-shadow: 0 5px 10px #231e4891;
}
.blocky.board > span:after{
	content:var(--rm);
	font: 50px var(--f1);
	text-transform: capitalize;
	letter-spacing: 8px;
	text-shadow: 0 0 2px black, 0 0 2px black;
	color: white;
}
.subforums a i { display: none;}
.subforums a {background: transparent;}
.subforums a {
  position: relative;
  z-index: 0;
  display: inline-block;
  margin-top: 100px;
  padding: 2px 10px;
  background: var(--srf);
	border-radius:10px;
  color: var(--acc) !important;
  font: 25px var(--f2);
  text-transform: capitalize;
  text-shadow: 0 0 5px black;
  filter: drop-shadow(2px 2px 10px #13124596);
  transition: color .25s;
}
.subforums a::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 50%;
  bottom: 25px;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background: var(--cimg) center / contain no-repeat;
}
a[href*="member.php?action=profile"]:hover {
  color: white !important;
}
.subforums a::before { transition: transform 0.5s; }
.subforums a:hover::before { transform: translateX(-50%) scale(1.1); }
.sip_tbl {
  margin: 10px 0 20px;
}
.tborder {
	position: relative;
	z-index: 1;
	background: var(--srf3);
	text-align: center;
  font-family: var(--f4);
	text-transform: lowercase;
	text-align: right;
	font-size:12px;
	border: 2px solid var(--tbc);
	box-shadow: inset 0 0 10px #000000ad;
	overflow:hidden;
}
.tborder:before{
	content: '';
	position: absolute;
	inset: 0;
	z-index: 2;
	pointer-events: none;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	background:var(--tbg);
	background-size: cover;
	pointer-events: none;
}
.thead {
	position: relative;
	background:transparent;
  padding: 25px 0 10px;
  border-bottom: 2px solid color-mix(in srgb, var(--acc) 25%, transparent);
  box-shadow: 0 5px 10px #231e4891;
	background: var(--srf);
	z-index: 1;
}
tr > td {
  padding: 0 20px 20px;
}
.thead strong {
	display: block;
	font-weight: 400;
	color: white;
	font: 50px var(--f2);
	text-transform: capitalize;
	text-align: center;
  text-shadow: 0 0 2px black, 0 0 5px black;
}
.sip_tbl_td {
	background:transparent;
	color: var(--grey);
	text-align: justify;
}
.sip_tbl_th {
	color: var(--acc);
	padding:10px;
	background: transparent;
	border-bottom: 1px solid color-mix(in oklab, var(--grey) 12%, transparent);
}
.sip_tbl_td:nth-child(1) { 
  width: 20px;
	text-align: center;
  padding: 0 10px;
}
.sip_tbl_td > img {
  object-fit: contain;
}
.sip_tbl_td:nth-child(2) { 
  font-weight: bold;
  white-space: wrap;
  text-transform: uppercase;
	text-align: left;
  letter-spacing: 1.2px;
  font-size:11px;
  padding: 0 5px;
}
.sip_tbl_td:nth-child(3) { 
  text-align: left;
  padding: 5px 10px;
  opacity: 0.7;
  text-transform: lowercase;
  font-style: italic;
  width: auto;
	text-align: justify;
}
.sip_tbl_td:nth-child(4),
.sip_tbl_td:nth-child(5) { 
  text-align: center;
  font-size:10px;
}
tr:nth-child(odd) .sip_tbl_td { background: color-mix(in srgb, var(--srf3) 88%, black); }

.blocky.board > span:before,
.thead strong:before{
	content:'';
	position: absolute;
	inset:0;
	width: 100%;
	opacity: .25;
	z-index: -1;
	background: var(--arbg);
	background-size:cover;
	background-position: 50% 20%;
	filter: drop-shadow(0 0 3px black);
}
.flex {margin: 0 !important;}
.clear, .spacer {display:none;}
.profile.flex > div:nth-of-type(2) > div > .tborder {border:none !important;}
.blocky:has(info) > span {display: none;}
corner {
  position: fixed;
  display: block;
  bottom: 3%;
  right: 2%;
  height: 150px;
  width: 150px;
  z-index: 10;
  background: var(--cimg) center / contain no-repeat;
  pointer-events:none;
  animation: corner 3s ease-in-out infinite;
}
@keyframes corner {
  50% { transform: translateY(15px); }
}

@media (max-width: 1200px) {
	h1{left: 110%;}
}
@media (max-width: 800px) {
	h1 {
		top: -55%;left: 50%; 
		transform:translatex(-50%);
	  font-size:100px;
	}
	.profile.flex > div:nth-of-type(1) {
		height: 500px;
		margin: -50px 0 0;
	}
	.thead strong {font-size:40px;}
	.tborder:before {display: none;}
  info[split] { flex-direction: column; }
  info[split] > box { flex: 0 0 auto; width: 100%; }
	.profile.flex > div:nth-of-type(1) { flex: 0 0 100%; }
	.profile.flex > div:nth-of-type(2) { flex: 0 0 100%; }
	.blocky.board {padding-top:20%;}
	.blocky.board > span:after {
		font-size:35px;
		letter-spacing: 1.3px;
	}
}



/* NAME &tr=w-1000 */ a[href$="uid="] { background-image: url('URL'); }

:root {
  --acc: #E1BEFF;
  --grey: white;
  --srf: #382a5fc7;
  --srf2: #2b498fe5;
	--srf3: #3f3e7ed1;
  --bor: #252525;
  --frame1: #7B589E;
  --frame2: #C680F9;
	--tbc: #775093;

  --bg: url('https://ik.imagekit.io/arl60/Ardent/personal/Backgrounds/stardust_4k.png');
	--acbg: url('https://ik.imagekit.io/arl60/Ardent/shop/sharedmedia/2632725_8741.jpg?updatedAt=1760754138078&tr=w-1000');
	--tbg: url('https://ik.imagekit.io/arl60/Ardent/personal/Backgrounds/SNOWFALL%20LOOP.gif');
  --arbg: url('https://ik.imagekit.io/arl60/Ardent/personal/Backgrounds/snow.png');
	
  --f1: "WindSong", cursive;
  --f2: "Allura", cursive;
  --f3: "Cormorant Garamond", serif;
  --f4: "Didact Gothic", sans-serif;
	
	
	--q1: "new thread?";
	--a1: "yes, though depending on how many I have currently I may not get to it in a timely manner.";
	
	--q2: "new plotsies?";
	--a2: "always looking for new and exciting plots! im not super consistent though, but I can try my best.";
	
	--q3: "can i ping you?";
	--a3: "please do. i'm incredibly forgetful";
	
	--q4: "powerplaying?";
	--a4: "okay with most things if it moves the plot along, so long as it doesn't end in permanent harm. never hurts to ask though!";
	
	--q5: "assumptions?";
	--a5: "my characters have their routines and favoured locations described in their profiles. if in the same pack it can be assumed ours have met.";

  --rm: "Andy's Roster";
	--rmc: "12 active characters";
	
	--cimg: url('https://ik.imagekit.io/arl60/Ardent/personal/Andy/LouComputer.png?updatedAt=1758330467435');
}
