@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Didact+Gothic&display=swap');


#off { opacity:0;}
#off + label {
  padding: 6px 14px;
  background: #2f3255;
  color: #f2daff;
  border: 1px solid #3a2f59;
  border-radius: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  width: 200px;
}

html:not(:has(#off:checked)) {
  & body {
    background: black;
    font-family: "Didact Gothic", sans-serif;
    font-size: 12px;
  }
  & body:after {
    background-image: url('https://ik.imagekit.io/arl60/Ardent/personal/Backgrounds/new_year_eve_4k.png?updatedAt=1774151769756');
  }
  & nav {
    background: #2f3255 !important;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    margin: 0 20px;
    font-weight: 400;
    font-size: 12px !important;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  & .dropdown-menu { background: #2c273d; }
  & a { color: #f2daff !important; }
  & header { position: relative; background: none; }
  & header .title { font-size: 0; padding: 50px 0; }
  & #content {
    position: relative;
    background:transparent;
    box-sizing: border-box;
    margin: 0 auto 150px;
    color: white !important;
  }
  & #content:before {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform:translateX(-50%);
    content: 'background @ aenami - code @ andy';
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.5;
  }
  & #content > h1 { 
    position: relative;
    margin: 400px 0 0;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 60px;
    letter-spacing: 2px;
    filter: drop-shadow(0 0 5px black);
    z-index: 10;
  }
  & #content > h1:before{
    content: '';
    position: absolute;
    top:-400px;
    left:0;
    width:100%;
    height: 400px;
    background: url('https://ik.imagekit.io/arl60/Ardent/personal/Andy/loucoffee.png')
      no-repeat center / contain;
    z-index: -1;
  }
  & #content > h2 {
    position: relative;
    width: 500px;
    margin: -8px auto 80px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font: 20px "Didact Gothic", sans-serif;
    letter-spacing: 5px;
    text-shadow: 0 0 1px black, 0 0 1px black;
    background: linear-gradient(to right, transparent, #454b8c, transparent);
    z-index: 10;
  }
  & #content > h2 em { font-style: normal;}
  & .float_right,
    #content .clear {display: none;}
  & .flex:has(.postbit) { margin: 0 0 -30px; }
  & .flex:has(vault[andy]) .member_postbit {
    background: #9c9bc3bd;
    border-radius: 20px;
    margin: 0 10px 0 0 !important;
  }
  & .flex:has(vault[andy]) .author_avatar {
    box-shadow: 2px 4px 2px #0000006b;
  }
  & .flex:has(vault[andy]) .author_avatar img {
    object-fit: cover;
    width: 100%;
  }
  & small {
    color: #cfb8f0 !important;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 8px;
  }
  & .flex > div > small {
    position: absolute;
    bottom:20px;
    left:50%;
    transform:translateX(-50%);
    opacity: 0.4;
  }
  & .postbit_multiquote,
    .postbit_quote,
    .postbit_find,
    .postbit_pm,
    .postbit_email {display:none}
  & .postwrap:has(vault[andy]) {
    position: relative;
    background: #110a23d1;
    border-radius: 20px;
    padding: 60px 60px;
    box-sizing: border-box;
  }
  & .tborder {
    position: relative;
    background: #110a23d1;
    border-radius: 20px;
  }
  & .thead {
    background: transparent;
    font-family: Redressed;
    text-shadow: none;
    text-transform: capitalize;
    font-size: 20px;
    color: white;
    padding: 30px 0 10px;
    text-align: center;
    opacity: 0.6;
  }
  & .tborder:before,
  & .postwrap:has(vault[andy]):before {
    content: '';
    z-index: 10;
    position: absolute;
    inset: 0;
    border: 70px solid;
    border-image: url('https://ik.imagekit.io/arl60/Ardent/shop/Morgay/Vaevnir/frame.png?updatedAt=1755025540494') 70 stretch;
    pointer-events: none;
    filter: brightness(.40) sepia(1) saturate(1) hue-rotate(-160deg);
  }
  & #quickreply_e td { padding: 20px 50px 0; }
  & #quickreply_e { display: flex; flex-wrap: wrap; }
  & #quickreply_e > tr {
    display: flex;
    width: 100%;
    box-sizing: border-box;
  }
  & #quickreply_e > tr:first-of-type > td:first-of-type { flex: 0 0 22%; }
  & #quickreply_e > tr:first-of-type > td:last-of-type { flex: 1 1 0; min-width: 0; }
  & #quickreply_e > tr:nth-last-of-type(-n+2) > td {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 20px 0;
  }
  & #quickreply_e > tr:nth-last-of-type(2) > td { display: flex; justify-content: flex-end; }
  & #quickreply_e > tr:nth-last-of-type(1) > td { display: flex; justify-content: flex-start; }
  & #quickreply_e > tr:nth-last-of-type(2) {
    text-align: right;
    flex: 0 0 60%;
    max-width: 60%;
  }
  & #quickreply_e > tr:nth-last-of-type(1) {
    flex: 0 0 30%;
    max-width: 30%;
  }
  & #quickreply_e button { margin: 5px 0; height: 26px; }
  & th, & .affiliates img, & input, & select, & textarea, & code, & button, & hr {
    background: #3f3257;
    color: white;
  }
  & #message {
    background: #3f3759;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    color: white;
  }
  & input, & button, & select { border-radius: 10px; padding: 2px 10px; }
}
