@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Puppies+Play&display=swap');

/*

  font-family: "Unica One", sans-serif;
  font-weight: bold;

  font-family: "Bad Script", cursive;
  font-weight: 400;

  font-family: "Didact Gothic", sans-serif;
  font-weight: 400; 

  font-family: "Puppies Play", cursive;
  font-weight: 400;

*/


.bluebellt3 {
  position:relative;
  margin: 20px auto;
  padding: 600px 0 0;
  width: 800px;
  box-sizing: border-box;
 
  background: url('https://ik.imagekit.io/arl60/Ardent/shop/Hermes/Bluebell/0mIjtz9s_o.png') no-repeat;
  background-size: 100%;
  background-position: top;
  
  box-shadow: 2px 2px 3px black;
}

.bluebellt3 credit {
  position: absolute;
  top: 71px;
  right: -112px;
  width: 200px;
  display:block;
  text-align:center;
  font-size: 11px;
  font-family: "Unica One", sans-serif;
  font-weight: bold;
  z-index: 10;
  transform: rotate(90deg);
}

.bluebellt3 bor {
  margin: auto;
  width: 100%;
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 5px;
  background: repeating-linear-gradient(90deg, #182b84, #000109, #10206f, #182b84);
  background-size: 200% 200%;
  animation: bluebellt3_borframe 10s linear infinite;
}

@keyframes bluebellt3_borframe {
  0% { background-position: 0% 0%; }
  100% { background-position: 200% 200%; }
}

.bluebellt3 con {
  position: relative;
  display: block;
  box-sizing: border-box;
  z-index: 0;
  width: 100%;
  padding: 33px 35px 30px 38px;
  box-sizing: border-box;
  overflow: hidden;
  background: black;
  
}

.bluebellt3 con video {
  position: absolute;
  inset:0;
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: center;
  opacity: 1;
  filter: blur(1px);
}


.bluebellt3 incon {
  position: relative;
  display: block;
  box-sizing: border-box;
  z-index: 6;
  padding: 20px 40px 0;
  width: 100%;
  overflow: visible;
  background: linear-gradient(to top, #121d3bba,#040715);
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  text-align: justify;
  line-height: 1.2;
  text-shadow: 1px 1px 1px black;
  box-shadow: inset 0 0 10px black;
  
  border: 5px solid white;
  border-image: linear-gradient(145deg, #182b84, #000109, #182b84) 1;
}

.bluebellt3 incon:before {
  content: '';
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 20px;
  background: linear-gradient(90deg, #e7cd90, #ffdc55, #e7cd90);
  mask: url('https://ik.imagekit.io/arl60/Ardent/shop/assets/2.png?updatedAt=1761259622322') no-repeat center;
  mask-size: contain;
  -webkit-mask: url('https://ik.imagekit.io/arl60/Ardent/shop/assets/2.png?updatedAt=1761259622322') no-repeat center;
  -webkit-mask-size: contain;
}

.bluebellt3 incon br:first-child {
  display: none;
}

.bluebellt3 incon bluebell {
  text-shadow: none;
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-size: 18px;
  line-height:1;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8))
    drop-shadow(0 0 1px rgba(0,0,0,0.8));
  color: transparent;
  background: linear-gradient(to bottom, #97ff67, #98ff64);
  -webkit-background-clip: text;
  background-clip: text;
}

.bluebellt3 speech {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}


.bluebellt3 speech bluebell {
  display: block;
  margin: 10px auto -20px;
  font-family: "Puppies Play", cursive;
  font-weight: 400;
  font-size:52px;
}


@media (max-width: 1200px){
  
  .bluebellt3 {
    position:relative;
    margin: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    filter: none;
    background: none;
    padding: 0;
    box-shadow: none;
  }

  .bluebellt3 bor {
    max-width: 450px;
    width: 100%;
  }
  
  .bluebellt3 con {
    background: none;
    padding:0px;
  }
  
  .bluebellt3 con video {
    display: none;
  }
  
  .bluebellt3 incon {
    padding: 10px 25px 0;
    font-size: 12px;
    border: none;
  }
  
  .bluebellt3 incon:before{
    bottom:75px;
  }
  
  .bluebellt3 speech {
    z-index: 10;
    margin: -15px auto;
  }
  
  .bluebellt3 credit {
    position: relative;
    inset: 0;
    margin: auto;
    display:block;
    transform: none;
  }

}
