@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miss+Fajardose&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');

nav {
    background: rgba(15,10,13, 0.8) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
}

nav a {
    transition: color 0.2s ease, background 0.2s ease;
    color: #8f818d !important;
    transition: color 0.2s ease, background 0.2s ease;
}

nav a:hover {
    color: #A28CF5 !important;
    transition: color 0.2s ease, background 0.2s ease;
}

h1 {
    filter: drop-shadow(2px 2px 0.5px #000000);
    color: white;
    position: relative;
    z-index: 1;
    font-family: 'Miss Fajardose', sans-serif;
    text-transform: capitalize !important;
    font-size: 55px;
    line-height: 1.2;
    margin: 0 0 -5px;
    background: linear-gradient(60deg,
        #B67233 0%,
        #D4A574 25%,
        #B67233 50%,
        #D4A574 75%,
        #B67233 100%
    );
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none !important;
}

h1 i {
	font-style: normal !important;
}

.tabnav,
.navbar_header,
.navbar_collapse {
	background: linear-gradient(to right, transparent 30%, rgba(15,10,13, 0.8) 100%);
    backdrop-filter: blur(2px);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    padding: 8px 2px 0;
    border-radius: 4px;
    height: 35px;
    overflow: visible;
}

.tabnav a,
.navbar_header a,
.navbar_collapse a {
    color: #8f818d !important;
	transition: color 0.2s ease, background 0.2s ease;
}

.tabnav a:hover,
.navbar_header a:hover,
.navbar_collapse a:hover {
    transform: scale(1.05) !important;
    color: #C084FC !important;
    transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease;
}

.tabnav a.active {
    color: #D4A574 !important;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7) !important;
    transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease;
}

.tab {
    border-color: transparent;
}

.profav {
    filter: drop-shadow(0 0 4px #000000) drop-shadow(0 0 8px #020202);
    width: 250px !important;
    height: 350px !important;
}

.profav img {
    content: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4da2081b-4ea4-4f1c-a1d6-e4e32bd6d624/dk4r4iw-5b3567da-7b00-4ffe-95b9-46ffbca060f8.png/v1/fill/w_864,h_925,q_70,strp/ravana_headshot_by_sabrina_by_trensperencii_dk4r4iw-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI1MCIsInBhdGgiOiJcL2ZcLzRkYTIwODFiLTRlYTQtNGYxYy1hMWQ2LWU0ZTMyYmQ2ZDYyNFwvZGs0cjRpdy01YjM1NjdkYS03YjAwLTRmZmUtOTViOS00NmZmYmNhMDYwZjgucG5nIiwid2lkdGgiOiI8PTExNjcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.iz6zJAYydTZd9NbM94v3_27u-N6o0A52bRrm1CMmDYc');
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	object-position: center center;
    border-radius: 20px;
}

.blocky {
	backdrop-filter: blur(2px);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(37, 70, 109, 0.5);
	text-shadow: 1px 1px 2px rgba(0,0,0,0.7), 4px 4px 12px rgba(0,0,0,0.5);
    border: 2px solid #49256d;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 26px;
    flex-wrap: wrap;
    font-family: "Lora", sans-serif;
    font-size: 16px;
    text-align: center;
    position: relative;
    overflow: visible;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
}

.blocky u {
	text-decoration: none !important;
}


.blocky > span {
    filter: drop-shadow(2px 2px 0.5px rgba(0, 0, 0, 0.6));
    font-family: "Updock", cursive;
    text-shadow: none !important;
    font-size: 20px;
    left: 0;
    right: 0;
    bottom: 2px;
    z-index: 0; 
    color: #8f818d;
    text-transform: capitalize;
}

  
.blocky a {
    position: relative;
    z-index: 3;
    font-family: arial;
    text-transform: uppercase;
    font-size: 12px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: #D4A574 !important;
    transition: color 0.2s ease;
  }
  
  .blocky a:hover {
    color: #ffffff !important;
  }
  
  .blocky a,
  .blocky a:visited,
  .blocky a:hover,
  .blocky a u,
  .blocky span[style*="text-decoration: underline;"] {
    text-decoration: none !important;
  }
  
.thead {
    font-family: 'Updock', sans-serif;
    font-size: 24px;
	text-align: center;
    text-transform: capitalize !important;
    padding: 5px;
    color: #D4A574;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #49256d;
}

.thead b {
    font-weight: 100 !important;
}

.sip_tbl_head,
.sip_tbl_th,
.sip_tbl_td {
	background: rgba(15,10,13, 0.8);
	color: #8f818d !important;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.7), 4px 4px 12px rgba(0,0,0,0.5);
}



.info_img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center center;
    filter: drop-shadow(2px 2px 5px rgba(192, 132, 252, 0.5));
}

.info_imgper {
    width: 400px;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center center;
    filter: drop-shadow(2px 2px 5px rgba(123, 95, 11, 0.5)) hue-rotate(280deg) saturate(1.2);
    margin: 40px auto 20px;
    box-sizing: border-box;
}

.info_imgper2 {
    width: 90%;
    height: auto;
    object-fit: cover;
    object-position: center center;
    margin: 15px auto 0;
    position: relative;
    border-radius: 10px;
    border: 2px solid #5d3a18;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.5);
}


.info_text {
    padding: 20px 50px;
    line-height: 1.2;
    text-align: justify;
    font-size: 14px;
    font-family: "Lora", sans-serif;
    color: #b5a3b2;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, transparent, #B67233, transparent) 1;
}


.info_subtitle {
    background: none;
    position: relative;
    width: 100%;
    font-size: 40px;
    margin: 0 auto;
    font-family: "Updock", sans-serif;
    color: #D4A574;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
    text-align: center;
    filter: drop-shadow(2px 2px 5px rgba(236, 184, 40, 0.5));
    padding-bottom: 10px;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, transparent, #B67233, transparent) 1;
    line-height: 0.8;
}


  .misc_box {
	flex: 1 1 0;
	max-width: 100%;
	min-width: 200px;
	padding: 0 10px 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.misc_info_item_fullwidth {
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	display: flex;
    flex-direction: column;
    overflow: hidden;
}

.misc_info_item_fullwidth .compendium_content {
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 10px;
	align-items: center;
	padding: 20px 15px 40px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #452e16;
	height: 600px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.5);
}

.misc_info_item_fullwidth .compendium_content > .artcompendium_img_wrap {
	flex: 0 0 auto;
}

.misc_info_item_fullwidth .compendium_content img {
	height: 100%;
	width: auto;
	border-radius: 8px;
	flex: 0 0 auto;
	object-fit: cover;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    border-radius: 20px;
}

.artcompendium_img_wrap {
	position: relative;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.misc_artcompendium {
	width: 100%;
	display: block;
}

.artcompendium_img_wrap:hover .artcompendium_credit,
.artcompendium_img_wrap:focus-within .artcompendium_credit {
	opacity: 1;
	pointer-events: auto;
}

.misc_title {
    background: none;
    position: relative;
    width: 100%;
    font-size: 50px;
    margin: 0 auto;
    font-family: "Miss Fajardose", sans-serif;
    color: #D4A574;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
    text-align: center;
    filter: drop-shadow(2px 2px 5px rgba(236, 184, 40, 0.5));
    padding: 20px 0;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, transparent, #B67233, transparent) 1;
    line-height: 0.8;
}

.corner_img {
    position: fixed !important;
    width: 180px;
    height: auto;
    pointer-events: none;
    z-index: 1000;
    filter: drop-shadow(2px 2px 5px rgba(192, 132, 252, 0.5));
  }

  @media (max-width: 1200px) {

	.profav { display: none }

    .corner_img {
        display: none;
    }
}
