@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap');

/* 
  font-family: "Comfortaa", sans-serif;

  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
*/

.shalet1 {
	position: relative;
  width: 500px;
  margin: 20px auto 80px;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
}


.shalet1 credit {
  position: absolute;
  width: 100%;
  display: block;
  font-family: "Unica One", sans-serif;
  font-size: 11px;
  font-weight: bold;
  bottom: 245px;
  left: -260px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transform: rotate(270deg);
}

.shalet1_img {
  position: absolute;
  bottom: -84px;
  left: -215px;
  width: 181%;
  height: 550px;
  background: transparent url('https://i.ibb.co/Qv0V2hNC/IMG-3366.png') no-repeat bottom;
    background-size: auto;
  background-size: contain;
  z-index: 5;
  pointer-events: none;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.9)) drop-shadow(0 0 2px rgba(0, 0, 0, 0.9));
}

.shalet1_bor {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #E3FEED, #72F29F, #D5FEE3);
  padding: 2px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  overflow:hidden;
}

.shalet1_con {
  position: relative;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  pointer-events: none;
  margin: 0 auto;
}

.shalet1_con::before{
  content:'';
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  background: white url('https://ik.imagekit.io/arl60/Ardent/shop/sharedmedia/21449237_6484339.jpg?updatedAt=1760308548505') no-repeat;
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
  filter: hue-rotate(-30deg);
}

.shalet1_con > * {
  position: relative;
  z-index: 2;
}

.shalet1_incon {
  position: relative;
  overflow: hidden;
  padding: 5px 15px 480px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #102f2c, #020706CC);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #fff8f1;
  line-height: 1.2;
  border-radius:20px;
}

.shalet1_incon d {
  display:block;
  margin:10px auto 0;
  width:100%;
  height:-10px;

  border-top: 1.1px solid;
  border-image: linear-gradient(to right, transparent, #7DF5D3, #3FDC84, transparent) 1;
}

.shalet1_incon speak {
  font-size: 12px;
  text-align: center;
  text-shadow: none;
  line-height: 0.9;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.shalet1_speech {
  display: block;
  position: absolute;
  bottom: 419px;
  left: 5px;
  margin: 0 auto;
  text-align: center;
  line-height: 0.8;
  padding-top: 10px;
  width: 100%;
}

.shalet1_speech speak {
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  text-shadow: none;
  font-size: 42px;
  line-height: 1.1;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.shalet1_incon speak, .shalet1_speech speak {
  color: transparent;
  background: linear-gradient(to bottom, #7DF5D3,#A0FFED,#7DF5A1);
  -webkit-background-clip: text;
  background-clip: text;
}

@media (max-width: 1200px) {

  .shalet1 {
    filter: none;
    margin: 10px auto;
  }

  .shalet1_con::before {
    display: none;
  }

.shalet1 credit {
  position: relative;
  inset:auto;
  display:block;
  text-align: center;
  transform:none;
}

.shalet1_speech {
  position: relative;
  inset:auto;
  padding:0;
}

.shalet1_img {
  display: none;
}
.shalet1_incon {
  padding: 10px;
}

}

