@font-face {
    font-family: 'Bloodseeker';
    src: url('BloodseekerDemo-DxW1.ttf');
}
@font-face {
    font-family: 'BrushstrokeHorror';
    src: url('BrushstrokeHorror-dEnX.ttf');
}
@font-face {
    font-family: 'LeMano';
    src: url('LeManoRegular-owloq.ttf');
}
