@import url('https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url('https://fonts.cdnfonts.com/css/black-family');
@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');

.rookt1_content {
	position: relative;
  width: 500px;
  margin: 50px auto 190px auto;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
  filter: drop-shadow(0 8px 10px rgba(0,0,0,0.75));
}

.rookt1_content credit {
  position: absolute;
  bottom:80px;
  right: -60px;
  width: 100px;
  display:block;
  text-align:left;
  font-family: arial;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  z-index: 10;
  transform: rotate(-270deg);
}


.rookt1_img {
  position: absolute;
  bottom: -200px;
  left: -60px;
  width: 120%;
  height: 550px;
  background: transparent url('https://i.postimg.cc/SRN1CyGz/Sin-Rook-Throne2.png') no-repeat center bottom;
  background-size: 100%; 
  z-index: 5;
  pointer-events: none;
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.6));
}


.rookt1_bor {
  position: relative;
  width: 100%;
  background: black;
  padding: 13px;
  box-sizing: border-box;
  margin: 0 auto;
}

.rookt1_con {
  position: relative;
  width: 100%;
  background: #363737;
  padding: 30px 25px 0;
  box-sizing: border-box;
  background: linear-gradient(to top, transparent 0, transparent 10%, #000000 50%, #323232 80%, #262626 100%);
  background-size: 100%;
  margin: 0 auto;
  pointer-events: none;
}

.rookt1_inbor {
  position: relative;
  z-index: 6;
  margin: -5px auto 20px auto;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background: black;
  border-radius: 30px;
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.6));
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 270'%3e%3cpath d='M250 0C400 62 500 142 500 270L0 270C0 142 100 62 250 0Z'/%3e%3c/svg%3e"), linear-gradient(black, black);

  -webkit-mask-position: top center, 0 235px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 270px, 100% calc(100% - 540px);
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 270'%3e%3cpath d='M250 0C400 62 500 142 500 270L0 270C0 142 100 62 250 0Z'/%3e%3c/svg%3e"), linear-gradient(black, black);
  mask-position: top center, 0 235px;
  mask-repeat: no-repeat;
  mask-size: 100% 270px, 100% calc(100% - 540px);
  height: auto;
}

.rookt1_incon {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  z-index: 6;
  padding: 180px 10px 0px 10px;
  width: 100%;
  box-sizing: border-box;
  background:
    linear-gradient(to bottom, rgba(0,0,0,0) 100px, #000 100%),
    url('https://ik.imagekit.io/arl59/Ardent/Shop%20Requests/Sinchanted/Rook/red_mosaic.jpg?updatedAt=1750806377551') repeat-y top center;
  background-size: 100%;
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 270'%3e%3cpath d='M250 0C400 62 500 142 500 270L0 270C0 142 100 62 250 0Z'/%3e%3c/svg%3e"), linear-gradient(black, black);
  -webkit-mask-position: top center, 0 235px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 270px, 100% calc(100% - 540px);
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 270'%3e%3cpath d='M250 0C400 62 500 142 500 270L0 270C0 142 100 62 250 0Z'/%3e%3c/svg%3e"), linear-gradient(black, black);
  mask-position: top center, 0 235px;
  mask-repeat: no-repeat;
  mask-size: 100% 270px, 100% calc(100% - 540px);
  height: auto;
}

.rookt1_text {
  text-align: justify;
  font-family: 'bentham';
  font-size: 14px;
  color: #ffffff;
  line-height: 1.2;
  margin: 20px 10px 0;
  background: linear-gradient(to bottom, #000000, #000000, #000000) ;
  padding: 20px 30px 280px;
  border-radius: 10px;
  border: 3px solid;
  border-image: linear-gradient(to bottom, #630404, #000000, transparent) 1;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}

.rookt1_text speak {
   color: #CBBC35;
	font-family: 'Nova Cut';
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000000; 
  line-height:1;
}

.rookt1_speech speak {
  font-size: 35px !important;
}


/* OLD */
.rookt1_diag {
  color: #CBBC35;
	font-family: 'Nova Cut';
  font-size: 19px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000000;
  line-height:1;
}
/* OLD */

.rookt1_speech::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 1px;
  margin: 0 auto;
  background: linear-gradient(to right, transparent, #f0f0f0 50%, transparent);
  z-index: 5;
  pointer-events: none;
}

.rookt1_speech {
  display: block;
  position: relative;
  margin: -15px 0 10px 0;
  font-family: 'Nova Cut';
  font-weight: bold;
  color: #CBBC35;
  text-shadow: 1px 1px 2px #0a0906;
  font-size: 35px;
  text-align: center;
  line-height: 1;
}



.rookt1_bor {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 270'%3e%3cpath d='M250 0C400 62 500 142 500 270L0 270C0 142 100 62 250 0Z'/%3e%3c/svg%3e"), linear-gradient(black, black);
  -webkit-mask-position: top center, 0 270px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 270px, 100% 100% 100%;
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 270'%3e%3cpath d='M250 0C400 62 500 142 500 270L0 270C0 142 100 62 250 0Z'/%3e%3c/svg%3e"), linear-gradient(black, black);
  mask-position: top center, 0 270px;
  mask-repeat: no-repeat;
  mask-size: 100% 270px, 100% 100% 100%;
}

.rookt1_con {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 270'%3e%3cpath d='M250 0C400 62 500 142 500 270L0 270C0 142 100 62 250 0Z'/%3e%3c/svg%3e"), linear-gradient(black, black);
  -webkit-mask-position: top center, 0 255px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 270px, 100% 100%;
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 270'%3e%3cpath d='M250 0C400 62 500 142 500 270L0 270C0 142 100 62 250 0Z'/%3e%3c/svg%3e"), linear-gradient(black, black);
  mask-position: top center, 0 255px;
  mask-repeat: no-repeat;
  mask-size: 100% 270px, 100% 100%;

}


.rookt1_title {
  position: absolute;
  top: 150px;
  left: 0;
  width: 500px;
  height: 230px;
  padding-top: 40px;
  z-index: 5;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5))
          drop-shadow(0 0 1px rgba(0, 0, 0, 0.3))
          drop-shadow(0 5px 1px rgba(0, 0, 0, 0.4));
  font-family: 'PlainBlack', sans-serif;
  font-size: 100px;
  text-align: center;
  line-height: 0.6;
  background: linear-gradient(90deg, #e6e16a, #CBBC35, #e6e16a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  pointer-events: none;
}

@media (max-width: 1200px) {

  .rookt1_content,
  .rookt1_img,
  .rookt1_inbor,
  .rookt1_incon,
  .rookt1_text,
  .rookt1_title {
    filter: none !important;
    box-shadow: none !important;
  }

  .rookt1_img {
    display: none;
  }

  .rookt1_bor,
  .rookt1_con,
  .rookt1_incon,
  .rookt1_inbor, .rookt1_text {
    -webkit-mask-image: none;
    mask-image: none;
    padding: 0;
    margin: 0 auto;
  }

  .rookt1_title {
    display: none;
  }

  .rookt1_content credit {
  position: relative;
  bottom:auto;
  right:auto;
  margin: 0 auto;
  display:block;
  text-align:center;
  transform: none;
  font-size: 8px;
}

}
