@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.missyb01 {
  margin: 20px auto;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  
  width: 600px;
  --missybi: url('');
  --borcurve: 20px;
  --bgthick: 20px;
  --bgcolour: to bottom, #562747, #342223;
  --artheight: 800px;
  --artborthick: 4px;
  --artbor: to bottom, pink, white, pink;
  --txtborthick: 3px;
  --txtbor: to bottom, #fffdd0, white, #fefece;
  --txtbg: to bottom, #3a3535,#1b1c15;
}
.missyb01 credit {
  position: absolute;
  top: 59px;
  right: -61px;
  width: 100px;
  display: block;
  text-align: left;
  font-family: "Unica One", arial;
  text-transform: lowercase;
  font-size: 14px;
  font-weight: 400;
  z-index: 10;
  transform: rotate(-270deg);
}
.missyb01 con {
  display: block;
  position: relative;
  width: 100%;
  background: linear-gradient(var(--bgcolour));
  box-sizing: border-box;
  padding: var(--bgthick);
  box-shadow: 0 0 5px #00000096;
  border-radius: var(--borcurve);
}
.missyb01 ab {
  display: block;
  box-sizing: border-box;
  width:100%;
  height:var(--artheight);
  margin-bottom:var(--bgthick);
  border-radius: inherit;
  padding: var(--artborthick);
  box-shadow: 0 0 10px #00000094;
  background: linear-gradient(var(--artbor));
}
.missyb01 art{
  display: block;
  box-sizing: border-box;
  width:100%;
  height:100%;
  background: var(--missybi);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: inherit;
}
.missyb01 inbor{
  display: block;
  box-shadow: 0 0 10px black;
  padding: var(--txtborthick);
  border-radius: inherit;
  background: linear-gradient(var(--txtbor));
}
.missyb01 incon {
  
  --speech: #fdffaf;
  
  display: block;
  position: relative;
  padding: 10px 20px 2px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(var(--txtbg));
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.2;
  color: #deeeff;
  line-height: 1.2;
  border-radius: inherit;
  box-shadow: inset 0 0 10px #000000bd;
}

.missyb01 speech {
  display: block;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  margin: 10px auto 20px;
}
.missyb01 speech br {display: none;}
.missyb01 speech::before {
  content:'';
  position:absolute;
  top:-10px;
  left:50%;
  transform: translateX(-50%);

  width:80%;
  height:1.1px;

  background: linear-gradient(to right, transparent, var(--speech), transparent);
}
.missyb01 b, .missyb01 .mycode_b {
  font-size: 16px;
  font-weight: 400 !important;
  color: var(--speech);
  text-shadow: none;
}
.missyb01 speech br{display: none;}
.missyb01 speech b {
  display: block;
  padding: 10px 0 0;
  font-size: 20px;
  font-weight: 400;
  z-index: 2;
}


@media (max-width: 1200px) {
  .missyb01 {
    margin: 0;
    max-width: 500px;
    width: 100%;
    left:50%;
    transform:translate(-50%);
    filter: none;
  }
  .missyb01 inbor,
  .missyb01 incon,
  .missyb01 con{
    padding: 0;
    background: none;
    box-shadow: none;
    color: inherit !important;
  }
  .missyb01 incon{ padding: 0 20px;}
  .missyb01 b {
    color:inherit !important;
    font-weight: 800 !important;
  }
  .missyb01 speech,
  .missyb01 credit,
  .missyb01 ab {display: none;}
  
}
