@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@font-face {
    font-family: 'rouget1';
    src: url('MonsterChiller-WywOE.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*
  font-family: "rouget1", cursive;
  font-weight: 400;

  font-family: "Unica One", sans-serif;
  font-weight: bold;

  font-family: "Comfortaa", sans-serif;
  font-weight: 400;

*/

.rouget1 {
	position: relative;
  width: 800px;
  margin: 20px auto 40px;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
}

.rouget1 t {
  position: absolute;
  top:422px;
  left:196px;
  z-index:10;
  
  color: white;
  font-family: "rouget1", cursive;
  font-weight: 400;
  font-size: 74px;
  
  filter:drop-shadow(0 0 10px black);
}

.rouget1 credit {
  position: absolute;
  bottom: -25px;
  right: 0;
  width: 100%;
  display:block;
  text-align:center;
  font-size: 12px;
  font-family: "Unica One", sans-serif;
  font-weight: bold;
  z-index: 10;
}

.rouget1_bor {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #03A63C, #044019, #03A63C);
  padding: 2px;
  box-sizing: border-box;
  margin: 0 auto;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

.rouget1_con {
  position: relative;
  width: 100%;
  padding: 480px 25px 20px 27px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);

  background: #400C29 url('https://ik.imagekit.io/arl60/Ardent/shop/Missy/Rouge/7H5i8i6g.png') no-repeat;
  background-size: 100%;
  background-position: top;
  background-attachment: local;
}

.rouget1_con::before {
  position:absolute;
  content:'';
  width:100%;
  height:100%;
  inset:0;

  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
  background: linear-gradient( to bottom, rgba(0,0,0,0) 450px, #0C140F 480px, #101114);

  z-index:1;
}

.rouget1_con > * {
  position: relative;
  z-index: 2;
}

.rouget1_incon {
    position: relative;
    overflow: hidden;
    padding: 30px 20px 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-size: 12.5px;
    color: #ffece7;
    line-height: 1.2;
    border: none;
    box-shadow: inset 0 0 10px black;
    background:
        linear-gradient(#a8b49e, #9daa92) 0 0 / 1px 101.5px no-repeat, linear-gradient(#a8b49e, #a8b49e) 0 0 / 101.5px 1px no-repeat, linear-gradient(#a8b49e, #a8b49e) 100% 0 / 1px 101.5px no-repeat, linear-gradient(#a8b49e, #a8b49e) 100% 0 / 101.5px 1px no-repeat, linear-gradient(#9daa92, #9daa92) 0 100% / 1px 101.5px no-repeat, linear-gradient(#9daa92, #9daa92) 0 100% / 101.5px 1px no-repeat, linear-gradient(#9daa92, #9daa92) 100% 100% / 1px 101.5px no-repeat, linear-gradient(#9daa92, #9daa92) 100% 100% / 101.5px 1px no-repeat, linear-gradient(to bottom, rgba(0,0,0,0), #161923);
}

.rouget1_incon speak {
  font-size: 14px;
  text-align: center;
  text-shadow: none;
  line-height: 0.9;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.rouget1_speech {
  display: block;
  position: relative;
  margin: -10px 0 -20px;
  padding-top: 5px;
  text-align: center;
}

.rouget1_speech::before {
  content: '';
  position: absolute;
  top:0;
  left:50%;
  margin: 10px 0 -10px;
  transform:translateX(-50%);
  height: 0.8px;
  width: 200px;
  background: #9daa92;
}

.rouget1_speech speak {
    display: block;
    font-family: "Comfortaa", cursive;
    font-weight: 400;
    text-shadow: none;
    font-size: 18px;
    line-height: 1.5;
    filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
    transition: transform 1.1s ease;
}

.rouget1_incon:hover speak {
    transform: scale(1.1);
}

.rouget1 t, .rouget1_incon speak, .rouget1_speech speak {
  color: transparent;
  background: linear-gradient(to bottom, #97FC93, #32EB73);
  -webkit-background-clip: text;
  background-clip: text;
}


@media (max-width: 1200px) {

.rouget1 t {
  display: none;
}
  
.rouget1_con {
  padding: 0;
  background:none;
}

  .rouget1_con::before {
    display: none;
  }

  .rouget1_speech {
  margin: 0 auto -30px;
}


.rouget1 credit {
  position: relative;
  inset:auto;
  display:block;
  transform: none;
  margin-top:10px;
}

}

