@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');

.kalliast1_content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.kalliast1_img {
    position: absolute;
    top: -100px;
    left: 25px;
    width: 765px;
    height: 400px;
    z-index: 10;
    pointer-events: none;
    isolation: isolate;
    mask: 
      radial-gradient(ellipse 100px 90px at 0 0, transparent 99px, rgba(0, 0, 0, 0.4) 99.5px, black 100px) 0 0,
      radial-gradient(ellipse 110px 95px at 100% 0, transparent 109px, rgba(0, 0, 0, 0.4) 109.5px, black 110px) 100% 0,
      radial-gradient(ellipse 50px 40px at 100% 100%, transparent 49px, rgba(0, 0, 0, 0.4) 49.5px, black 50px) 100% 100%,
      radial-gradient(ellipse 50px 40px at 0 100%, transparent 49px, rgba(0, 0, 0, 0.4) 49.5px, black 50px) 0 100%;
    -webkit-mask: 
      radial-gradient(ellipse 100px 90px at 0 0, transparent 99px, rgba(0, 0, 0, 0.4) 99.5px, black 100px) 0 0,
      radial-gradient(ellipse 110px 95px at 100% 0, transparent 109px, rgba(0, 0, 0, 0.4) 109.5px, black 110px) 100% 0,
      radial-gradient(ellipse 50px 40px at 100% 100%, transparent 49px, rgba(0, 0, 0, 0.4) 49.5px, black 50px) 100% 100%,
      radial-gradient(ellipse 50px 40px at 0 100%, transparent 49px, rgba(0, 0, 0, 0.4) 49.5px, black 50px) 0 100%;
    mask-size: 51% 51%;
    -webkit-mask-size: 51% 51%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}


.kalliast1_img::after {
    content: '';
    position: absolute;
    inset: 5px;
    background: url('https://i.ibb.co/p6tFphPD/Kallias-ghosts.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 50% 100%, 0% 98%);
}

.kalliast1_border {
    width: 700px;
    padding: 50px 3px 3px 3px;
    background: #291E16;
    box-sizing: border-box;
    margin: 100px auto 10px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.6), 0px 30px 50px rgba(0, 0, 0, 0.4);
    overflow: visible;
    position: relative;
    box-sizing: border-box;
}

.kalliast1_container {
    width: 100%;
    padding: 0 20px 20px;
    position: relative;
    box-sizing: border-box;
    overflow: visible;
}

.kalliast1_bgvid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 0.5;
    pointer-events: none;
}

.kalliast1_inborder {
    position: relative;
    padding: 1.5px;
    background: transparent;
    box-sizing: border-box;
    margin: 140px auto 0 auto;
    padding: 2px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
}

.kalliast1_incontainer {
    position: relative;
    width: 100%;
    min-height: 400px;
    padding: 85px 30px 80px;
    box-sizing: border-box;
    overflow: visible;
    z-index: 3;
    border: 2px solid;
    border-image: linear-gradient(to bottom, #000000, #313131) 1;
}

.kalliast1_incontainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://ik.imagekit.io/arl59/Ardent/Shop%20Requests/Bunni/Kallias/background.jpg?updatedAt=1752554596791') no-repeat bottom center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
    pointer-events: none;
}

.kalliast1_text {
    color: #f0dcd1;
    font-family: 'Crimson Text';
    font-size: 12px;
    line-height: 1.3;
    text-align: justify;
    margin: 0 20px 0px 20px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    position: relative;
}

.kalliast1_text::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, #f0dcd1, transparent);
    box-shadow: 0 0 3px rgba(240, 220, 209, 0.3);
}

.kalliast1_diag {
    font-family: 'Griffy';
    font-size: 14px;
    font-weight: bold;
    background: linear-gradient(to bottom, #3AEAE6, #3AEAE6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: none;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
    line-height: 1.1;
}

.kalliast1_spirits {
    font-family: 'Euphoria Script';
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(to bottom, #00FBFB, #0E86FE);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: none;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
    line-height: 1.1;
}


.kalliast1_speech {
    font-family: 'Griffy';
    font-size: 25px;
    text-align: center;
    margin: -10px 0 -100px 0;
    background: linear-gradient(45deg, #3AEAE6, #3AEAE6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
}

.kalliast1_border, .kalliast1_inborder, .kalliast1_incontainer {
    mask: 
    radial-gradient(ellipse 70px 60px at 0 0, transparent 69px, rgba(0, 0, 0, 0.4) 69.5px, black 70px) 0 0,
    radial-gradient(ellipse 70px 60px at 100% 0, transparent 69px, rgba(0, 0, 0, 0.4) 69.5px, black 70px) 100% 0,
    radial-gradient(ellipse 70px 60px at 100% 100%, transparent 69px, rgba(0, 0, 0, 0.4) 69.5px, black 70px) 100% 100%,
    radial-gradient(ellipse 70px 60px at 0 100%, transparent 69px, rgba(0, 0, 0, 0.4) 69.5px, black 70px) 0 100%;
  -webkit-mask: 
    radial-gradient(ellipse 70px 60px at 0 0, transparent 69px, rgba(0, 0, 0, 0.4) 69.5px, black 70px) 0 0,
    radial-gradient(ellipse 70px 60px at 100% 0, transparent 69px, rgba(0, 0, 0, 0.4) 69.5px, black 70px) 100% 0,
    radial-gradient(ellipse 70px 60px at 100% 100%, transparent 69px, rgba(0, 0, 0, 0.4) 69.5px, black 70px) 100% 100%,
    radial-gradient(ellipse 70px 60px at 0 100%, transparent 69px, rgba(0, 0, 0, 0.4) 69.5px, black 70px) 0 100%;
  mask-size: 70% 70%;
  -webkit-mask-size: 70% 70%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}
