@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@font-face {
  font-family: 'Kjartan1';
  src: url('VikingNormal-36VL.otf') format('truetype');
}

/*

  font-family: "Unica One", sans-serif;
  font-weight: bold;

  font-family: "Amarante", serif;
  font-weight: 400;

  font-family: "Kjartan1", serif;
  font-weight: 400;

  font-family: 'Eagle Lake', serif;
  font-weight: 400;

  font-family: "Didact Gothic", sans-serif;
  font-weight: 400; 

*/




.kjartant5_content, .kjartant5 {
	position: relative;
  width: 400px;
  margin: 30px 80px 30px auto;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
}

.kjartant5_content credit, .kjartant5 credit {
  position: absolute;
  bottom: -20px;
  right: 0;
  left:0;
  width: 100%;
  display:block;
  text-align:center;
  font-family: "Unica One", sans-serif;
  font-weight: bold;
  font-size: 11px;
  z-index: 10;
}

.kjartant5_img {
  position: absolute;
  bottom: -40px;
  right: 260px;
  width: 165%;
  height: 600px;
  background: transparent url('https://ik.imagekit.io/arl60/Ardent/personal/Kjartan/Kjartan_Andy2armor.png?updatedAt=1756444805009') no-repeat center bottom;
  background-size: 80%; 
  z-index: 5;
  pointer-events: none;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.833));
}

.kjartant5_bor {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #CBDDFA, #ECCCB4);
  padding: 5px;
  box-sizing: border-box;
  margin: 0 auto;

  box-shadow: 5px 5px 5px rgba(0,0,0,0.9);
}

.kjartant5_con {
  position: relative;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  pointer-events: none;
  margin: 0 auto;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.kjartant5_con::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://ik.imagekit.io/arl60/Ardent/personal/Kjartan/mist.jpg?updatedAt=1753534365590') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  pointer-events: none;
  overflow: hidden;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.kjartant5_con > * {
  position: relative;
  z-index: 2;
}

.kjartant5_incon {
  position: relative;
  overflow: hidden;
  padding: 10px 20px 50px;
  width: 100%;
  min-height: 450px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.8);
  height: auto;
  box-shadow: 0 0 10px 10px rgba(122, 122, 122, 0.2);
  text-align: justify;

  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;  
  font-size: 12px;
  color: #ffffff;
  line-height: 1.2;
  border: 1px solid #707070;
}

.kjartant5_incon speak, .kjartant5_incon nor, .kjartant5_incon spa {
	font-family: 'Amarante';
  font-size: 12px;
  line-height: 1;
  text-shadow: none;
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.8));
}

.kjartant5_incon speak, .kjartant5_incon kjar {
  color: transparent;
  background: linear-gradient(to bottom, #FAF880, #EA9250);
  -webkit-background-clip: text;
  background-clip: text;
}

.kjartant5_incon nor {
  color: #60e9f3;
}

.kjartant5_incon spa {
  color: #e68160;
}

.kjartant5_speech {
  display: block;
  position: relative;
  margin: 0px 0 -50px 0;
  text-align: center;
}

.kjartant5_speech kjar, .kjartant5_speech speak {
  display: block;
  font-family: 'Kjartan1';
  font-size: 40px;
  line-height: 1.1;
  margin: 0 auto -18px;
}

.kjartant5_speech nor {
  font-family: 'Eagle Lake', serif;
  font-weight: 400;
  font-size:16px;
  display:inline-block;
  margin-top:15px;
}

.kjartant5_speech spa {
  font-family: 'Eagle Lake', serif;
  font-weight: 400;
  font-size:15px;
  margin-top:6px;
}


.kjartant5_speech::before {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  height: 1.5px;
  margin: 0px auto 0;
  background: linear-gradient(to right, transparent, #FFDC75, transparent);
}

@media (max-width: 1200px) {

  .kjartant5_content {
    filter: none;
    margin: 0 auto;
  }

  .kjartant5_con::before {
    display: none;
  }

.kjartant5_incon {
  min-height: 10px;
}

.kjartant5_img {
  display: none;
}

.kjartant5_content credit {
  position: relative;
  inset:auto;
}


}

/* old */

.andyc {
  display:block;
  text-align:center;
  font-size:10px;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: arial;
}
