@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@font-face {
  font-family: 'Kjartan1';
  src: url('VikingNormal-36VL.otf') format('truetype');
}

/*

  font-family: "Unica One", sans-serif;
  font-weight: 400;

  font-family: "Amarante", serif;
  font-weight: 400;

  font-family: "Kjartan1", serif;
  font-weight: 400;

  font-family: 'Eagle Lake', serif;
  font-weight: 400;

  font-family: "Didact Gothic", sans-serif;
  font-weight: 400; 

*/


.kjartant2_bor {
  position: relative;
  padding: 1.5px;
  background: linear-gradient(to bottom,
  rgb(0, 0, 0),
  rgba(140, 15, 15, 0.8));
  box-sizing: border-box;
  width: 700px;
  margin: 20px auto 30px;
  box-shadow: 5px 5px 8px black;

}

.kjartant2_bor credit {
  position: absolute;
  bottom: -20px;
  left:50%;
  transform: translateX(-50%);
  display:block;
  text-align:right;
  font-size:11px;
  font-family: "Unica One", sans-serif;
  font-weight: bold;
}

.kjartant2_con {
  width: 100%;
  height: autp;
  padding: 400px 20px 0px;
  position: relative;
  box-sizing: border-box;
  overflow: visible;
  background: #050101 url('https://ik.imagekit.io/arl59/Ardent/Kjartan/Kjartan2.png?updatedAt=1748212894170') no-repeat top;
  background-size: 100%;
  z-index: 1;
  pointer-events: none;
}

.kjartant2_inbor {
  position: relative;
  padding: 1.5px;
  background: linear-gradient(to bottom,
  rgba(0, 0, 0, 0.8),
  rgba(140, 15, 15, 0.8),
  rgba(0, 0, 0, 0.8));
  box-sizing: border-box;
  width: 100%;
  z-index: 2;
}

.kjartant2_incon {
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 10px 20px;
  box-sizing: border-box;
  overflow: visible;
  background: linear-gradient(to top, black,  rgb(29, 1, 1));
  z-index: 3;
  box-shadow: inset 0 0 10px black;

  	color: #ebebeb;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400; 
	font-size:11px;
	line-height:1.3;
	text-align:justify;
  
}

.kjartant2_incon speak {
  color: transparent;
  font-family: "Amarante", serif;
  font-weight: 400;
  font-size: 12px;
  color: transparent;
  background: linear-gradient(to bottom, #f4be52, #EA9250);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: none;
  line-height: 0.9;
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.8));
}

.kjartant2_incon nor {
  color: #35c0e0;
  font-family: "Amarante", serif;
  font-weight: 400;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000000;
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.8));
}

.kjartant2_incon spa {
  color: #e68160;
  font-family: "Amarante", serif;
  font-weight: 400;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000000;
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.8));
}

.kjartant2_spch {
  position: relative;
  margin: -7px auto -20px;
  font-family: 'Kjartan1';
  font-size:30px;
  font-weight: bold;
  color: transparent;
  text-align: center;
  background: linear-gradient(to bottom, #FFDC75, #EA9250);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  line-height: 0.9;
}

.kjartant2_spch speak {
  font-family: "Kjartan1", serif !important;
  font-weight: 400;
  font-size:30px !important; 
}

.kjartant2_spch nor {
  font-family: 'Eagle Lake', serif;
  font-weight: 400;
  font-size:16px;
}

.kjartant2_spch::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  background: linear-gradient(to right, transparent, #7B3028, transparent);
  height: 1.2px;
  width: 60%;
}

.kjartant2_roll {
	background: linear-gradient(to right, transparent, black, transparent);
	padding: 5px 0 5px 0;
	width: auto;
	border: 1px solid white;
  border-image: linear-gradient(to right, transparent, rgba(140, 15, 15, 0.8), transparent) 1;
	color: white;
	text-align:center;
	margin: 10px auto;
	font-family:'Amarante';
	text-transform: uppercase;
	letter-spacing: 10px;
}

.kjartant2_con particles {
  position: absolute;
  top: 350px;
  left: 0;
  width: 100%;
  height: 0;
  pointer-events: none;
  z-index: 10;
  display: block;
}

.kjartant2_con ember {
  position: absolute;
  width: 2px;
  height: 2px;
  background: rgba(235, 64, 52, 1);
  border-radius: 50%;
  box-shadow:
    0 0 6px rgba(235, 64, 52, 0.9),
    0 0 12px rgba(235, 64, 52, 0.8),
    0 0 20px rgba(235, 64, 52, 0.7),
    0 0 20px rgba(235, 64, 52, 0.7);
  opacity: 0;
  pointer-events: none;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: block;
}

.kjartant2_con ember[data-id="1"] {
  bottom: 5%;
  left: 15%;
  animation-name: eRise1;
  animation-duration: 6s;
  animation-delay: 0s;
}

.kjartant2_con ember[data-id="2"] {
  bottom: 5%;
  left: 35%;
  animation-name: eRise2;
  animation-duration: 5s;
  animation-delay: 1s;
}

.kjartant2_con ember[data-id="3"] {
  bottom: 5%;
  left: 55%;
  animation-name: eRise3;
  animation-duration: 7s;
  animation-delay: 0.5s;
}

.kjartant2_con ember[data-id="4"] {
  bottom: 5%;
  left: 75%;
  animation-name: eRise4;
  animation-duration: 6.5s;
  animation-delay: 2s;
}

.kjartant2_con ember[data-id="5"] {
  bottom: 5%;
  left: 50%;
  animation-name: eRise5;
  animation-duration: 8s;
  animation-delay: 1.5s;
}

@keyframes eRise1 {
  0% {
    opacity: 0;
    transform: translateY(0px) scale(1);
  }
  50% {
    opacity: 1;
    transform: translateY(-30px) scale(1.1);
  }
  100% {
    opacity: 0;
    transform: translateY(-60px) scale(1);
  }
}

@keyframes eRise2 {
  0% {
    opacity: 0;
    transform: translateY(0px) scale(0.9);
  }
  50% {
    opacity: 1;
    transform: translateY(-25px) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px) scale(0.95);
  }
}

@keyframes eRise3 {
  0% {
    opacity: 0;
    transform: translateY(0px) scale(1);
  }
  50% {
    opacity: 1;
    transform: translateY(-40px) scale(1.2);
  }
  100% {
    opacity: 0;
    transform: translateY(-80px) scale(1);
  }
}

@keyframes eRise4 {
  0% {
    opacity: 0;
    transform: translateY(0px) scale(0.8);
  }
  50% {
    opacity: 1;
    transform: translateY(-20px) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px) scale(0.9);
  }
}

@keyframes eRise5 {
  0% {
    opacity: 0;
    transform: translateY(0px) scale(1);
  }
  50% {
    opacity: 1;
    transform: translateY(-35px) scale(1.1);
  }
  100% {
    opacity: 0;
    transform: translateY(-70px) scale(1);
  }
}


@media (max-width: 1200px) {
  .kjartant2_con::after {
    display: none;
  }


  .kjartant2_diag, .kjartant2_speech, .kjartant2_nordic, .kjartant2_spanish {
    filter: none;
  }

}


/* OLD SHIT */ 

.kjartant2_diag {
  display: inline-block;
  font-family: 'Amarante';
  font-size: 20px;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(to bottom, #7B3028, #DF9350, #7B3028);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.kjartant2_nordic {
  background: linear-gradient(to bottom, #a12a2a, #eb4034, #a12a2a);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'Eagle Lake';
  font-size: 18px;
}

.kjartant2_spanish {
  background: linear-gradient(to bottom, #a12a2a, #eb4034, #a12a2a);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'Dosis';
  font-size: 22px;
}


.kjartant2_speech {
  position: relative;
  margin: -15px 0 -20px 0;
  font-family: 'Amarante';
  font-size: 20px;
  font-weight: bold;
  color: transparent;
  text-align: center;
  background: linear-gradient(to bottom, #7B3028, #DF9350, #7B3028);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.kjartant2_speech::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%);
  background: linear-gradient(to right, transparent, #7B3028, transparent);
  height: 1.2px;
  width: 50%;
}
