@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@font-face {
  font-family: 'Kjar_Viking';
  src: url('VikingNormal-36VL.otf') format('truetype');
}

.kjartant6_content {
	position: relative;
  width: 400px;
  margin: 30px auto 40px;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
}


.kjartant6_img {
  position: absolute;
  bottom: -40px;
  left: -335px;
  width: 185%;
  height: 600px;
  background: transparent url('https://ik.imagekit.io/arl60/Ardent/personal/Kjartan/Kjartan3.png?updatedAt=1755623984647') no-repeat center bottom;
  background-size: 80%; 
  z-index: 5;
  pointer-events: none;
  filter: drop-shadow(0 0 5px rgba(131, 15, 15, 0.75));
}

.kjartant6_bor {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, black, #2e0801);
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0 -220px 0 auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8), 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.kjartant6_bor credit {
  position: absolute;
  bottom: -20px;
  right: 10px;
  display:block;
  margin: 5px auto 0;
  text-align:center;
  font-family: arial;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}



.kjartant6_con {
  position: relative;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  pointer-events: none;
  margin: 0 auto;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to top, black, #4d0c00);
}

.kjartant6_con::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('') no-repeat bottom;
  background-size: cover;
  background-attachment: fixed;
  pointer-events: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.kjartant6_con > * {
  position: relative;
  z-index: 2;
}

.kjartant6_incon {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  padding: 20px 30px 50px;
  width: 100%;
  min-height: 450px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.8);
  height: auto;
  box-shadow: 0 0 10px 10px rgba(122, 122, 122, 0.2);
  text-align: justify;
  font-family: 'Amarante';
  font-size: 12px;
  color: #ffffff;
  line-height: 1.2;
  border: 1px solid #620c04;
}

.kjartant6_incon speak {
  color: #FFDC75;
	font-family: 'Amarante';
  font-size: 14px;
  color: transparent;
  text-align: center;
  background: linear-gradient(to bottom, #FAF880, #EA9250);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: none;
  line-height: 0.9;
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.8));
}

.kjartant6_incon nor {
  color: #60e9f3;
	font-family: 'Forum';
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000000;
  line-height: 0.9;
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.8));
}

.kjartant6_incon spa {
  color: #e68160;
	font-family: 'Forum';
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000000;
  line-height: 0.9;
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.8));
}

.kjartant6_speech {
  display: block;
  position: relative;
  margin: 0px 0 -50px 0;
  text-align: center;
}

.kjartant6_speech kjar {
  display: inline;
  font-family: 'Kjar_Viking';
  color: transparent;
  background: linear-gradient(to bottom, #FFDC75, #EA9250);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: none;
  font-size: 40px;
  line-height: 1.1;
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.8));
}

.kjartant6_speech::before {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  height: 2px;
  margin: 0px auto 0;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5), transparent);
}

@media (max-width: 1200px) {

  .kjartant6_content {
    filter: none;
  }

  .kjartant6_con::before {
    display: none;
  }

}

