@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@font-face {
  font-family: 'Kjar_Viking';
  src: url('VikingNormal-36VL.otf') format('truetype');
}

/*

  font-family: "Amarante", serif;
  font-weight: 400;

  font-family: "Kjar_Viking", serif;
  font-weight: 400;

  font-family: 'Eagle Lake', serif;
  font-weight: 400;

  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 400;  

*/

.kjartant6 {
	position: relative;
  width: 450px;
  margin: 20px auto 80px;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
  /*! filter: drop-shadow(0 2px 2px rgba(0,0,0,1)); */
}


.kjartant6 credit {
  position: absolute;
  bottom: 225px;
  right: -235px;
  width: 100%;
  display:block;
  text-align:right;
  font-family: arial;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  z-index: 10;
  transform: rotate(-270deg);
}

.kjartant6_img {
  position: absolute;
  bottom: -130px;
  left: -140px;
  width: 130%;
  height: 500px;
  background: transparent url('https://ik.imagekit.io/arl60/Ardent/personal/Kjartan/Kjar_Bgless2.png?updatedAt=1756338580981') no-repeat center bottom;
  background-size: contain; 
  z-index: 5;
  pointer-events: none;
  transform: rotate(0deg);
  filter: saturate(1.5) brightness(1.1) drop-shadow(0 0 5px black);
}

.kjartant6_bor {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #3c220b, #252525 90%);
  padding: 5px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: -5px -5px 5px black;
}

.kjartant6_con {
  position: relative;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  pointer-events: none;
  margin: 0 auto;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  background: black;
}

.kjartant6_con::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://ik.imagekit.io/arl60/Ardent/personal/Kjartan/alena-aenami-serenity.jpg?updatedAt=1756337812096') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  pointer-events: none;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
  filter: grayscale(0.3);
}

.kjartant6_con > * {
  position: relative;
  z-index: 2;
}

.kjartant6_incon {
  position: relative;
  overflow: hidden;
  padding: 5px 15px 350px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #181615, #211815f0, #000000d6);
  height: auto;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.8);
  text-align: justify;
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 400;  
  font-size: 11px;
  color: #ffffff;
  line-height: 1.2;
  border: 2px solid;
  border-image: linear-gradient(to top, black, rgb(255, 162, 42), white) 1;
}

.kjartant6_incon speak, .kjartant6_incon nor, .kjartant6_incon spa {
	font-family: 'Amarante';
  font-size: 12px;
  text-align: center;
  text-shadow: none;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.kjartant6_incon speak {
  color: transparent;
  background: linear-gradient(to bottom, #FAF880, #EA9250);
  -webkit-background-clip: text;
  background-clip: text;
}

.kjartant6_incon nor {
  color: #60e9f3;
}

.kjartant6_incon spa {
  color: #e68160;
}

.kjartant6_speech {
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.kjartant6_speech kjar, .kjartant6_speech speak {
  display: block;
  font-family: 'Kjar_Viking';
  color: transparent;
  background: linear-gradient(to bottom, #FFDC75, #EA9250);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: none;
  font-size: 40px;
  line-height: 1.1;
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.8));
  margin-bottom:-20px;
}

.kjartant6_speech nor {
  font-family: 'Eagle Lake', serif;
  font-weight: 400;
  font-size:18px;
}

.kjartant6_speech::before {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  height: 1.5px;
  margin: 0px auto 0;
  background: linear-gradient(to right, transparent, rgba(255, 124, 29, 0.5), transparent);
}

@media (max-width: 1200px) {

.kjartant6_con::before {
  display: none;
}

.kjartant6 credit {
  position: relative;
  inset:auto;
  text-align:center;
  transform: none;
}

.kjartant6_img {
  display: none;
}

.kjartant6_incon {
  padding:10px;
}

}
