@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@font-face {
  font-family: 'Kjartan1';
  src: url('VikingNormal-36VL.otf') format('truetype');
}

/*

  font-family: "Unica One", sans-serif;
  font-weight: 400;

  font-family: "Amarante", serif;
  font-weight: 400;

  font-family: "Kjartan1", serif;
  font-weight: 400;

  font-family: 'Eagle Lake', serif;
  font-weight: 400;

  font-family: "Didact Gothic", sans-serif;
  font-weight: 400; 

*/

.kjartant1_bor {
  position:relative;
  margin: 20px auto 40px;
  padding: 3.5px;
  width: 800px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
  background: linear-gradient(to top, #ccc6c6, #1E1E26);
}

.kjartant1_bor credit {
  position: absolute;
  bottom: -20px;
  right: 0;
  left:0;
  width: 100%;
  display:block;
  text-align:center;
  font-family: "Unica One", sans-serif;
  font-weight: bold;
  font-size: 11px;
  z-index: 10;
}

.kjartant1_con {
  position: relative;
  z-index: 0;
  width:100%;
  padding: 420px 20px 20px;
  box-sizing: border-box;
  overflow: hidden;
  background: #909998 url('https://ik.imagekit.io/arl59/Ardent/Kjartan/cmm_for_Andy_2.png?updatedAt=1750037427255') no-repeat top;
  background-size: 100%;
  pointer-events: none;
  box-shadow: inset 0 0 10px rgba(0, 0, 0);
}

.kjartant1_con::after {
  content: '';
  position: absolute;
  inset:0;
  width:100%;
  height:100%;
  z-index: 1;
  background: linear-gradient(to bottom, transparent 450px, #11151B 550px, black);
  pointer-events: none;
}

.kjartant1_incon, .kjartant1_incon2 {
  position: relative;
  z-index: 6;
  padding: 60px 20px 0;
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;
  overflow: visible;
  background: linear-gradient(to bottom, rgba(0,0,0,0), #181A20);
  border: 2px solid;
  border-image: linear-gradient(to bottom,transparent, #68798D) 1;
  border-top: none;

  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;  
  font-size: 11px;
  color: #fff;
  text-align: justify;
  line-height:1.2;
}

.kjartant1_incon speak, .kjartant1_incon nor, .kjartant1_incon spa {
	font-family: 'Amarante';
  font-size: 12px;
  line-height:1;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.kjartant1_incon speak {
  color: transparent;
  background: linear-gradient(to bottom, #FFDC75, #EA9250);
  -webkit-background-clip: text;
  background-clip: text;
}

.kjartant1_incon nor {
  color: #60e9f3;
}

.kjartant1_incon spa {
  color: #e68160;
}

.kjartant1_spch::before {
  content: '';
  display: block;
  height: 1.1px;
  line-height: normal;
  margin: 0 auto;
  width:60%;
  background: linear-gradient(to right, transparent, rgb(104, 149, 182), transparent);
}

.kjartant1_spch {
  margin: 0 auto;
  text-align: center;
  font-family: 'Amarante';
  font-size: 16px;
  font-weight: bold;
}

.kjartant1_spch speak {
  display: block;
  margin: -5px auto -20px;
  font-family: 'Kjartan1';
  font-size:30px;
}

.kjartant1_spch nor {
  font-family: 'Eagle Lake', serif;
  font-weight: 400;
  font-size:16px;
}


.kjartant1_incon2 {
  padding: 0 0 10px;
  background: linear-gradient(to top, rgba(0,0,0,0), #181A20);
  border: 2px solid;
  border-image: linear-gradient(to top,transparent, #68798D) 1;
  border-bottom: none;
}

.kjartant1_roll {
	background: linear-gradient(to right, transparent, #1b212a, transparent);
	padding: 5px 0 5px;
	width: 100%;
	border: 1px solid white;
  border-image: linear-gradient(to right, transparent, #68798D, transparent) 1;
	color: white;
	text-align:center;
	margin: 5px auto;
	letter-spacing: 10px;
	z-index: 10;
	position: relative;
}

@media (max-width: 1200px) {
  
.kjartant1_con::after {
  display: none;
}

.kjartant1_con {
  padding: 10px;
  background: #909998;
}

.kjartant1_incon {
  padding: 10px;
}

.kjartant1_bor credit {
  position: relative;
  inset:auto;
}

}


/* old shit */

.kjartant1_diag {
  font-family: 'Amarante';
  font-size: 13px;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(75deg, #e7a063, #DF9350);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  line-height: 1;
}

.kjartant1_speech {
  margin: -10px 0 0;
  font-family: 'Amarante';
  font-size: 16px;
  font-weight: bold;
  color: transparent;
  text-align: center;
  background: linear-gradient(to bottom, #7B3028, #DF9350, #7B3028);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.kjartant1_speech::before {
  content: '';
  display: block;
  height: 1.1px;
  line-height: normal;
  margin: 10px auto -10px;
  width:60%;
  background: linear-gradient(to right, transparent, rgb(104, 149, 182), transparent);
}

.kjartant1_nordic {
  background: linear-gradient(to bottom, #5578a1, #46badd, #5578a1);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'Eagle Lake';
  font-size: 11px;
}

.kjartant1_spanish {
  background: linear-gradient(to bottom, #5578a1, #46badd, #5578a1);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'Dosis';
  font-size: 12px;
}
