@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@font-face {
  font-family: 'Kjartan1';
  src: url('VikingNormal-36VL.otf') format('truetype');
}

/*

  font-family: "Unica One", sans-serif;
  font-weight: bold;

  font-family: "Amarante", serif;
  font-weight: 400;

  font-family: "Kjartan1", serif;
  font-weight: 400;

  font-family: 'Eagle Lake', serif;
  font-weight: 400;

  font-family: "Didact Gothic", sans-serif;
  font-weight: 400; 

*/


.Kjartant4_bor {
    position:relative;
  margin: 20px auto 50px;
  padding: 3px;
  width: 700px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px black;
  background: linear-gradient(to bottom, #8390B9, #455586);
}

.Kjartant4_bor credit {
  position: absolute;
  bottom: -20px;
  right: 0;
  left:0;
  width: 100%;
  display:block;
  text-align:center;
  font-family: "Unica One", sans-serif;
  font-weight: bold;
  font-size: 11px;
  z-index: 10;
}

.Kjartant4_con {
  position: relative;
  z-index: 0;
  width: 100%;
  padding: 750px 20px 20px;
  box-sizing: border-box;
  overflow: hidden;
  background: #2A3354 url('https://ik.imagekit.io/arl59/Ardent/Kjartan/Andy_winter.png?updatedAt=1750138175064') no-repeat top;
  background-size: 100%;
  box-shadow: inset 0 0 20px rgba(170, 223, 255, 0.8);

}

.Kjartant4_con::after {
  content: '';
  width:100%;
  height:100%;
  position: absolute;
  inset:0;
  background: linear-gradient(to bottom, transparent 700px, #16235C 860px, #080518);
  pointer-events: none;
  box-shadow: inset 0 0 20px #456384;
}

.Kjartant4_incon {
  position: relative;
  z-index: 6;
  padding: 50px 20px 0;
  width: 100%;
  box-sizing: border-box;
  overflow: visible;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 15%, #322F5496);
  border: 2px solid;
  border-image: linear-gradient(to bottom,transparent, #E6D8C1, #D7C69E) 1;
  border-top: none;

  font-family: "Didact Gothic", sans-serif;
  font-weight: 400; 
  font-size: 11px;
  color: #fff;
  text-align: justify;
  line-height:1.2;
}


.Kjartant4_incon speak, .Kjartant4_incon nor, .Kjartant4_incon spa {
	font-family: 'Amarante';
  font-size: 12px;
  line-height:1;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.Kjartant4_incon speak {
  color: transparent;
  background: linear-gradient(to bottom, #FFDC75, #EA9250);
  -webkit-background-clip: text;
  background-clip: text;
}

.kjartant4_incon nor {
  color: #60e9f3;
}

.kjartant4_incon spa {
  color: #e68160;
}


.Kjartant4_speech::before, .Kjartant4_spch::before {
  content: '';
  display: block;
  height: 1.1px;
  line-height: normal;
  margin: 0 auto;
  width:100%;
  background: linear-gradient(to right, transparent 10%, #C6B58C, #E8DFAF, #C6B58C, transparent 90%);
}

.Kjartant4_spch {
  display:block;
  position:relative;
  margin: 0 auto;
  text-align: center;
  font-family: 'Amarante';
  font-size: 16px;
  font-weight: bold;
}

.Kjartant4_spch speak {
  display: block;
  margin: 0 auto -20px;
  font-family: 'Kjartan1';
  font-size:30px;
}

.Kjartant4_spch nor {
  font-family: 'Eagle Lake', serif;
  font-weight: 400;
  font-size:16px;
}


@media (max-width: 1200px) {
  .Kjartant4_infade,
  .Kjartant4_con::after {
    display: none;
    padding: 0;
  }

  .Kjartant4_incon {
    filter:none;
    padding:10px;
  }

  .Kjartant4_con {
    padding:0;
    background:none;
  }
}


/* OLD SHIT */

.Kjartant4_speech {
  margin: 0 auto 0;
  font-family: 'Amarante';
  font-size: 14px;
  font-weight: bold;
  color: transparent;
  text-align: center;
  background: linear-gradient(to top, #e8d261, #c96b58);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.Kjartant4_diag {
  font-family: 'Amarante';
  font-size: 12px;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(to bottom, #F5F29C, #d17664);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  line-height: 1;
}


.Kjartant4_nordic {
  color: transparent;
  background: linear-gradient(to top, #5578a1, #46badd, #5578a1);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'Amarante';
  font-size: 12px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  line-height: 1.2;
  font-weight: bold;
}

.Kjartant4_spanish {
  color: transparent;
  background: linear-gradient(to bottom, #5578a1, #46badd, #5578a1);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'Amarante';
  font-size: 12px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  line-height: 1;
  font-weight: bold;
}
