@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.haydeet1_content {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 100px auto 0px auto;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
  filter: drop-shadow(0 8px 10px rgba(0,0,0,0.75));
}

.haydeet1_img {
  position: absolute;
  top: -95px;
  left: 30px;
  width: 100%;
  height: 500px;
  background: transparent url('Haydee_by_Crownteeth.webp') no-repeat center center;
  background-size: contain; 
  z-index: 1;
  pointer-events: none;
  filter: drop-shadow(0 5px 10px #B28D8D);

}

.haydeet1_border {
  position: relative;
  width: 100%;
  background: #161616;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto;
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 280'%3e%3cpath d='M300,0 C350,140 600,140 600,280 L0,280 C0,140 250,140 300,0 Z'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 280'%3e%3cpath d='M300,280 C350,140 600,140 600,0 L0,0 C0,140 250,140 300,280 Z'/%3e%3c/svg%3e"), linear-gradient(black, black);
  -webkit-mask-position: top center, bottom center, 0 250px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 270px, 100% 290px, 100% calc(100% - 510px);
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 280'%3e%3cpath d='M300,0 C350,140 600,140 600,280 L0,280 C0,140 250,140 300,0 Z'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 280'%3e%3cpath d='M300,280 C350,140 600,140 600,0 L0,0 C0,140 250,140 300,280 Z'/%3e%3c/svg%3e"), linear-gradient(black, black);
  mask-position: top center, bottom center, 0 250px;
  mask-repeat: no-repeat;
  mask-size: 100% 270px, 100% 330px, 100% calc(100% - 530px);
}

.haydeet1_container {
  position: relative;
  width: 100%;
  background: white url('lake.jpg') no-repeat center center;
  padding: 150px 0 200px 0;
  box-sizing: border-box;
  margin: -20px auto 0;
  pointer-events: none;
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 580 270'%3e%3cpath d='M290,0 C340,135 580,135 580,270 L0,270 C0,135 240,135 290,0 Z'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 580 270'%3e%3cpath d='M290,270 C340,135 580,135 580,0 L0,0 C0,135 240,135 290,270 Z'/%3e%3c/svg%3e"), linear-gradient(black, black);
  -webkit-mask-position: top center, bottom center, 0 270px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 250px, 100% 250px, 100% calc(100% - 530px);
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 580 270'%3e%3cpath d='M290,0 C340,135 580,135 580,270 L0,270 C0,135 240,135 290,0 Z'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 580 270'%3e%3cpath d='M290,270 C340,135 580,135 580,0 L0,0 C0,135 240,135 290,270 Z'/%3e%3c/svg%3e"), linear-gradient(black, black);
  mask-position: top center, bottom center, 0 270px;
  mask-repeat: no-repeat;
  mask-size: 100% 320px, 100% 340px, 100% calc(100% - 510px);
}


.haydeet1_incontainer {
  padding: 20px 30px;
  background: #161616;
  min-height: 100px;
  margin: 135px 20px 40px 20px;
  border: 5px solid #491F20;
  border-radius: 30px;
  box-shadow: 8px 8px 15px rgba(0,0,0,0.5);
}

.haydeet1_text{
  text-align:justify;
  font-family:'Forum';
  font-size: 18px;
  color:#d0a4a4;
  line-height: 1.2;
  margin: 50px 20px 10px 20px;
}

.haydeet1_speech {
  position: relative;
  margin: -80px auto -80px auto;
  font-family: 'Twinkle Star';
  font-weight: bold;
  color: #8AC46A;
  text-shadow: 1px 1px 2px #000000;
  font-size: 50px;
  text-align: center;
}

.haydeet1_diag {
  font-family: 'Twinkle Star';
  font-size: 23px;
  color: #8AC46A;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000000;
}


@media (max-width: 1200px) {
  .haydeet1_content {
    filter: none;
  }

  .haydeet1_img {
    display: none;
    filter: none;
  }

  .haydeet1_border,
  .haydeet1_container {
    -webkit-mask-image: none;
    mask-image: none;
  }

  .haydeet1_speech {
    position: static;
    margin: 20px auto;
  }

  .haydeet1_incontainer {
    margin: 10px;
    border: none;
    backdrop-filter: none;
    border-image: none;
    box-shadow: none;
  }
}
