@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

.vaevnirt1_content {
  position: relative;
  width: 100%;
  width: 500px;
  margin: 20px auto 30px;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
  filter: drop-shadow(-2px 0 5px #000000);
}

.vaevnirt1_content::after {
  content: '';
  position: absolute;
  top: 20px;
  left: 55px;
  width: 120%;
  height: 250px;
  background: transparent url('https://ik.imagekit.io/arl60/Ardent/shop/Morgay/Vaevnir/top.png?updatedAt=1754794058824') no-repeat top;
  background-size: contain;
  z-index:1;
  pointer-events: none;
  filter: drop-shadow(0 0 5px #000000);
}

.vaevnirt1_content credit {
  position: absolute;
  top: 280px;
  left: 560px;
  width: 100px;
  display:block;
  text-align:left;
  font-family: arial;
  text-transform: uppercase;
  font-size: 10px;
  z-index: 10;
  transform: rotate(-90deg);
  font-weight: bold;
}

.vaevnirt1_content credit::before {
  content: 'code by andy';
}

.vaevnirt1_img {
  position: absolute;
  bottom: 40px;
  left: -150px;
  width: 160%;
  height: 550px;
  background: transparent url('https://ik.imagekit.io/arl60/Ardent/shop/Morgay/Vaevnir/adopt-12-by-seadragoness-djxkhih-1.png?updatedAt=1754794095585') no-repeat bottom;
  background-size: contain; 
  z-index: 1;
  pointer-events: none;
  filter: drop-shadow(0 0 8px #CE5875);
}

.vaevnirt1_bor {
  position: relative;
  width: 100%;
  background: black;
  padding:  0 4px 10px;
  box-sizing: border-box;
  margin: 0 auto 0 100px;


  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 280'%3e%3cpath d='M300,0 C350,140 600,140 600,280 L0,280 C0,140 250,140 300,0 Z'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 280'%3e%3cpath d='M300,280 C350,140 600,140 600,0 L0,0 C0,140 250,140 300,280 Z'/%3e%3c/svg%3e"), linear-gradient(black, black);
  -webkit-mask-position: top center, bottom center, 0 260px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 290px, 100% 330px, 100% calc(100% - 530px);
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 280'%3e%3cpath d='M300,0 C350,140 600,140 600,280 L0,280 C0,140 250,140 300,0 Z'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 280'%3e%3cpath d='M300,280 C350,140 600,140 600,0 L0,0 C0,140 250,140 300,280 Z'/%3e%3c/svg%3e"), linear-gradient(black, black);
  mask-position: top center, bottom center, 0 260px;
  mask-repeat: no-repeat;
  mask-size: 100% 290px, 100% 330px, 100% calc(100% - 530px);
}

.vaevnirt1_bor::before {
  content: '';
  position: absolute;
  bottom: 280px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 200px;
  background: transparent url('https://ik.imagekit.io/arl60/Ardent/shop/Morgay/Vaevnir/divider.png?updatedAt=1754794064284') no-repeat top;
  background-size: contain;
  z-index:1;
  pointer-events: none;
  filter: drop-shadow(0 0 5px #CE5875);
}

.vaevnirt1_con {
  position: relative;
  width: 100%;
  background: black url('https://ik.imagekit.io/arl60/Ardent/shop/sharedmedia/kitti-incedi-H2m-V1NdsyU-unsplash.jpg?updatedAt=1754794122684');
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  padding: 0 10px;
  box-sizing: border-box;

  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 580 270'%3e%3cpath d='M290,0 C340,135 580,135 580,270 L0,270 C0,135 240,135 290,0 Z'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 580 270'%3e%3cpath d='M290,270 C340,135 580,135 580,0 L0,0 C0,135 240,135 290,270 Z'/%3e%3c/svg%3e"), linear-gradient(black, black);
  -webkit-mask-position: top center, bottom center, 0 260px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 300px, 100% 340px, 100% calc(100% - 530px);
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 580 270'%3e%3cpath d='M290,0 C340,135 580,135 580,270 L0,270 C0,135 240,135 290,0 Z'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 580 270'%3e%3cpath d='M290,270 C340,135 580,135 580,0 L0,0 C0,135 240,135 290,270 Z'/%3e%3c/svg%3e"), linear-gradient(black, black);
  mask-position: top center, bottom center, 0 260px;
  mask-repeat: no-repeat;
  mask-size: 100% 300px, 100% 340px, 100% calc(100% - 530px);
}


.vaevnirt1_incon {
  padding: 240px 30px 450px;
  background: rgba(0, 0, 0, 0.8);
  min-height: 100px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-image: linear-gradient(to bottom, transparent 200px, #CE5875, transparent) 1;


  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 580 270'%3e%3cpath d='M290,0 C340,135 580,135 580,270 L0,270 C0,135 240,135 290,0 Z'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 580 270'%3e%3cpath d='M290,270 C340,135 580,135 580,0 L0,0 C0,135 240,135 290,270 Z'/%3e%3c/svg%3e"), linear-gradient(black, black);
  -webkit-mask-position: top center, bottom center, 0 265px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 320px, 100% 340px, 100% 100%;
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 580 270'%3e%3cpath d='M290,0 C340,135 580,135 580,270 L0,270 C0,135 240,135 290,0 Z'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 580 270'%3e%3cpath d='M290,270 C340,135 580,135 580,0 L0,0 C0,135 240,135 290,270 Z'/%3e%3c/svg%3e"), linear-gradient(black, black);
  mask-position: top center, bottom center, 0 265px;
  mask-repeat: no-repeat;
  mask-size: 100% 320px, 100% 340px, 100% 100%;


  text-align:justify;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  color:#ffffff;
  line-height: 1.2;
}


.vaevnirt1_incon speak {
  font-family: "Cormorant Garamond", serif;
  font-size: 23px;
  color: #d56883;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000000;
  line-height: 1;
}

.vaevnirt1_incon spch {
  position: absolute;
  bottom: 320px;
  left: 200px;
  font-family: 'Love Light';
  font-weight: bold;
  color: #CE5875;
  text-shadow: 1px 1px 2px #000000;
  font-size: 80px;
  text-align: center;
  transform: rotate(-14deg);
}

.vaevnirt1_incon spch::before {
  content: 'Vaevnir';
}

@media (max-width: 1200px) {
  .vaevnirt1_content {
    filter: none;
  }

  .vaevnirt1_content credit {
    position: relative;
    bottom: auto;
    left: auto;
    margin: 20px auto 0;
    text-align: center;
    transform: none;
  }

  .vaevnirt1_img,
  .vaevnirt1_content::after,
  .vaevnirt1_bor::before  {
    display: none;
  }

  .vaevnirt1_bor,
  .vaevnirt1_con,
  .vaevnirt1_incon {
    -webkit-mask-image: none;
    mask-image: none;
    margin: 0 auto;
  }

  .vaevnirt1_incon spch {
    position: relative;
    bottom: auto;
    left: auto;
    display: block;
    font-size: 60px;
    text-align: center;
    transform: none;
  }

}
