@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

/* 
  font-family: "Unica One", sans-serif;
  font-weight: 400;

  font-family: "Crimson Pro", serif;
  font-weight: 400;

  font-family: "Newsreader", serif;
  font-weight: 400;

  font-family: "Carattere", cursive;
  font-weight: 400;
*/

.alchemyt2 {
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
}

.alchemyt2 alchemy {
    position: absolute;
    bottom: -66px;
    top: auto;
    left: 35px;
    right: auto;
    width: 101%;
    height: 449px;
    background: transparent url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d4c64f54-d40d-4085-b0fb-50444fde2d42/dlfcori-ca936152-927a-449c-beb3-70f62006cf35.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi9kNGM2NGY1NC1kNDBkLTQwODUtYjBmYi01MDQ0NGZkZTJkNDIvZGxmY29yaS1jYTkzNjE1Mi05MjdhLTQ0OWMtYmViMy03MGY2MjAwNmNmMzUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.SESsgglqokgw6FVgZA3D7eyZBTql_sxdnITzV_Zem5w') no-repeat bottom;
    background-size: contain;
    z-index: 5;
    pointer-events: none;
    animation: alchemyt2_glow 6s ease-in-out infinite;
    background-position: center;
}

@keyframes alchemyt2_glow {
    0% { filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.7)) drop-shadow(0 0 5px rgba(76, 209, 55, 0.6)); }
    33% { filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.7)) drop-shadow(0 0 5px rgba(255, 211, 42, 0.6)); }
    66% { filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.7)) drop-shadow(0 0 5px rgba(255, 135, 42, 0.6)); }
    100% { filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.7)) drop-shadow(0 0 5px rgba(76, 209, 55, 0.6)); }
}

.alchemyt2 bor {
  width: 420px;
  margin: 0 auto 80px;
  display: block;
  position: relative;
  box-sizing: border-box;
  filter:drop-shadow(0 0 1px black);
  overflow:visible;
  
  border: 5px double #14110b;
  border-radius: 20px/50px;
}

.alchemyt2 bor t {
  display: block;
  position: absolute;
  bottom: 191px;
  left: 44px;
  padding-left: 15px;
  padding-right: 5px;
  
  color: white;
  font-family: "Carattere", cursive;
  font-weight: 400;
  font-size: 43px;
  
  z-index: 10;
  text-align: left;
  
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8))
    drop-shadow(0 0 10px rgba(0,0,0,0.8));
}


.alchemyt2 bor credit {
  position: absolute;
  width: 100%;
  display: block;
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-weight: bold;
  bottom: -20px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.alchemyt2 con {
  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  pointer-events: none;
  margin: 0 auto;
  padding: 5px;
  background: linear-gradient(to bottom, #dedea4, #76b876, #a57d35);
  border-radius: 20px/50px;
}

.alchemyt2 con > * {
  position: relative;
  z-index: 2;
}

.alchemyt2 incon {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 5px 20px 320px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #292323, #222E18, #152836);  text-align: justify;
  box-shadow: inset 0 0 10px black;
  border-radius: 20px/50px;
  font-family: "Crimson Pro", serif;
  font-weight: 400;
  font-size: 12px;
  color: #E8DAEE;
  line-height: 1.2;
}

.alchemyt2 incon d {
  display: block;
  margin: 0 auto 0;
  width: 80%;
  height: 1.1px;
  
  background: linear-gradient(to right, transparent, white, transparent);
}

.alchemyt2 incon b, .alchemyt2 incon .mycode_b  {
    font-family: "Newsreader", serif;
    font-weight: 400 !important;
    font-size: 13px;
    text-align: center;
    text-shadow: none;
    line-height: 0.9;
    filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.alchemyt2 speech {
    display: block;
    position: relative;
    margin: -10px auto 0;
    text-align: center;
    line-height: 0.8;
    padding-top: 10px;
    z-index: 11;
}

.alchemyt2 speech b, .alchemyt2 speech .mycode_b {
    text-shadow: none;
    line-height: 1.1;
    font-size: 15px;
    filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.alchemyt2 incon b,
.alchemyt2 incon .mycode_b,
.alchemyt2 speech b,
.alchemyt2 speech .mycode_b,
.alchemyt2 bor t {
    color: transparent !important;;
    background: linear-gradient(to left, #fc5ae3, #efef7e, #7de77d) !important;;
    -webkit-background-clip: text !important;;
    background-clip: text !important;
}
