@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.cdnfonts.com/css/baby-gladys');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

nav {
    background: rgba(38,3,6,0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
}

nav a {
    transition: color 0.2s ease, background 0.2s ease;
    color: #8D8B8B !important;
    transition: color 0.2s ease, background 0.2s ease;
}

nav a:hover {
    color: #B69226 !important;
    transition: color 0.2s ease, background 0.2s ease;
}

.dropdown-menu a {
    color: #8D8B8B !important;
    transition: color 0.3s ease, background 0.3s ease;
}

.dropdown-menu a:hover {
    color: #B69226 !important;
    transition: color 0.3s ease, background 0.3s ease;
}

h1 {
    color: transparent;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.8));
    background: linear-gradient(to bottom, #B69226 0%, #d8b751 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: relative;
    z-index: 1;
    text-transform: capitalize !important;
    font-size: 50px;
    font-family: 'Cookie', sans-serif !important;
    font-weight: bold;
}

h1 i {
	font-style: normal !important;
}

.tabnav,
.navbar_header,
.navbar_collapse {
	background: linear-gradient(to right, transparent 20%, rgba(0, 0, 0, 0.9) 100%);
    backdrop-filter: blur(2px);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    padding: 6px 3px 0;
    border-radius: 4px;
    height: 30px;
}

.tabnav a,
.navbar_header a,
.navbar_collapse a {
    color: #8D8B8B !important;
	transition: color 0.2s ease, background 0.2s ease;
}

.tabnav a:hover,
.navbar_header a:hover,
.navbar_collapse a:hover {
    transform: scale(1.05) !important;
    color: #B69226 !important;
    transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease;
}

.tabnav a.active {
    color: #ffffff !important;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7) !important;
    transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease;
}

.profav {
    filter: drop-shadow(0 0 4px #000000) drop-shadow(0 0 8px #020202);
    width: 250px !important;
    height: 350px !important;
}

.profav img {
    content: url('https://i.imgur.com/hrLbF2K.png');
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
	object-position: center center;
    border-radius: 20px;
}

.blocky {
	backdrop-filter: blur(2px);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(37, 70, 109, 0.5);
    border-radius: 20px;
    border: 2px solid #1F1B19;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 10px 25px;
    flex-wrap: wrap;
    font-family: "Nothing You Could Do", sans-serif;
    font-size: 18px;
    text-align: center;
    position: relative;
    overflow: visible;
}

.blocky u {
	text-decoration: none !important;
}

.blocky > span {
    filter: drop-shadow(2px 2px 0.5px rgba(0, 0, 0, 0.6));
    font-family: "Baby Gladys", cursive;
    text-shadow: none !important;
    font-size: 18px;
    left: 0;
    right: 0;
    bottom: 2px;
    z-index: 0; 
    color: #484848;
}

.blocky a {
	position: relative;
	z-index: 2;
	top: 5px;
	font-family: arial;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	color: #B69226 !important;
	transition: color 0.2s ease;
    display: inline-block;
}

.blocky a:hover {
	color: #ffffff !important;
}

.blocky a,
.blocky a:visited,
.blocky a:hover,
.blocky a u,
.blocky span[style*="text-decoration: underline;"] {
	text-decoration: none !important;
}

.thead {
    font-family: 'Cookie', sans-serif;
    font-size: 20px;
	text-align: center;
    text-transform: capitalize !important;
    padding: 5px;
    color: #B69226;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(58, 1, 1, 0.5);
}

.thead b {
    font-weight: 100 !important;
}

.sip_tbl_head,
.sip_tbl_th,
.sip_tbl_td {
	background: rgba(0,0,0,0.6);
	color: #e5e5e5 !important;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.7), 4px 4px 12px rgba(0,0,0,0.5);
}

.info_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.info_appimg {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    filter: drop-shadow(0 0 2px rgba(174, 137, 31, 0.5));
}

.info_divimg {
    margin: 20px auto;
}

.info_text {
    font-family: 'Caveat Brush', serif;
    font-size: 18px;
    text-align: justify;
    padding: 5px;
    color: #D8D0CB;
    padding: 0 40px;
}

.info_title {
    font-family: 'Nothing You Could Do', sans-serif !important;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize !important;
    color: #D8D0CB;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5) !important;
    filter: drop-shadow(0 0 4px #000000);
}

.divider {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, #B69226, transparent);
    margin: 20px auto;
}

.misc_img {
    width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
    filter: drop-shadow(0 0 2px rgba(174, 137, 31, 0.5));
}

.misc_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    max-width: 600px;
}

.misc_quote {
    font-family: 'Nothing You Could Do', serif;
    font-size: 25px;
    text-align: center;
    padding: 15px 10px;
    color: #D8D0CB;
    text-shadow: 1px 1px 2px rgba(162, 142, 27, 0.7);

}

.misc_text {
    font-family: 'Caveat Brush', serif;
    font-size: 16px;
    text-align: center;
    padding: 15px 20px;
    color: #D8D0CB;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.overlay_image {
    position: absolute;
    max-width: 100px;
    height: auto;
    z-index: 10;
    filter: drop-shadow(0 0 2px #FCA72A);
    border-radius: 8px;
}
