@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

/*
  font-family: "Love Light", cursive;
  font-weight: 400;

  font-family: "Amarante", serif;
  font-weight: 400;

  font-family: "Winky Rough", sans-serif;
  font-weight: 400;
*/

.jinwoot2 {
	position: relative;
  width: 420px;
  margin: 100px auto 40px;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
}


.jinwoot2 credit {
  position: absolute;
  width: 100%;
  display:block;

  font-family: arial;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;

  bottom:-22px;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jinwoot2_img {
  position: absolute;
  top: -150px;
  left: -152px;
  width: 174%;
  height: 702px;
  background: transparent url('https://ik.imagekit.io/arl60/Ardent/personal/Jinwoo/73_0_by_nevvvia_toofs.png?updatedAt=1762826104063') no-repeat top;
  background-size: contain;
  z-index: 5;
  pointer-events: none;
  filter: drop-shadow(0 0 2px rgb(255, 249, 200)) drop-shadow(0 0 2px rgba(0, 0, 0, 0.9));
}

.jinwoot2_bor {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #464b9c, #FDE8BF);
  padding: 2px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  overflow:hidden;
  border-radius: 300px 300px 0 0;
}

.jinwoot2_con {
  position: relative;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  pointer-events: none;
  margin: 0 auto;
  border-radius: 300px 300px 0 0;
}

.jinwoot2_con::before{
  content:'';
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  background: url('https://ik.imagekit.io/arl60/Ardent/shop/sharedmedia/2632725_8741.jpg?updatedAt=1760754138078') no-repeat;
  background-size:cover;
  background-position:bottom;
  background-attachment:fixed;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
  border-radius: 30px;
  border-radius: 300px 300px 0 0;
  filter: saturate(0.4);
}

.jinwoot2_con > * {
  position: relative;
  z-index: 2;
}

.jinwoot2_incon {
  position: relative;
  overflow: hidden;
  padding: 480px 15px 70px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #050718, #1E1229BA);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.8);
  text-align: justify;
  font-family: "Winky Rough", sans-serif;
  font-weight: 400;
  font-size:11.5px;
  color: #BDC1C4;
  line-height: 1.2;
  border-radius: 300px 300px 0 0;
}

.jinwoot2_incon d {
  display:block;
  margin:0 auto;
  width:100%;
  height:10px;

  border-top: 1.1px solid;
  border-image: linear-gradient(to right, transparent, #f1cba3, transparent) 1;
}

.jinwoot2_incon speak {
  font-family: "Amarante", serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-shadow: none;
  line-height: 0.9;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.jinwoot2_speech {
  display: block;
  position:absolute;
  bottom:6px;
  left:145px;
  margin: 0 auto;
  text-align: center;
  line-height: 0.8;
  padding-top: 10px;
}

.jinwoot2_speech speak {
  font-family: "Love Light", cursive;
  font-weight: 400;
  text-shadow: none;
  font-size: 43px;
  line-height: 1.1;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.jinwoot2_incon speak, .jinwoot2_speech speak {
  color: transparent;
  background: linear-gradient(to top, #E1A370,#F9DD9F);
  -webkit-background-clip: text;
  background-clip: text;
}

@media (max-width: 1200px) {

  .jinwoot2 {
    filter: none;
    margin: 10px auto;
  }
  
  .jinwoot2_bor, .jinwoot2_con, .jinwoot2_con::before, .jinwoot2_incon {
    border-radius:0;
  }

  .jinwoot2_con::before {
    display: none;
  }

.jinwoot2 credit {
  position: relative;
  inset:auto;
  display:block;
  text-align: center;
  transform:none;
}

.jinwoot2_speech {
  position: relative;
  inset:auto;
  padding:0;
  margin: -10px auto;
}

.jinwoot2_img {
  display: none;
}
.jinwoot2_incon {
  padding: 10px;
}

}
