@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');

/* 
  font-family: "Love Light", cursive;
  font-weight: 400;

  font-family: "Unica One", arial;

  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;

  font-family: "Amarante", serif;
  font-weight: 400;
*/

.jinwoot6_bor {
  position: relative;
  padding: 1px;
  background: linear-gradient(to bottom, #F1972C, #F2D544,#F1972C);
  box-sizing: border-box;
  width: 600px;
  margin: 20px auto 30px;
  box-shadow:
  0px 0px 10px rgba(0, 0, 0, 0.85);

}

.jinwoot6_bor credit {
  position: absolute;
  bottom: -17px;
  left:50%;
  transform: translateX(-50%);
  display:block;
  text-align:right;
  font-size:10px;
  font-weight: bold;
  font-family: "Unica One", arial;

}

.jinwoot6_con {
  width: 100%;
  height: autp;
  padding: 460px 0 0px;
  position: relative;
  box-sizing: border-box;
  overflow: visible;
  background: #1F1720 url('https://ik.imagekit.io/arl60/Ardent/personal/Jinwoo/babyjin2.png') no-repeat top;
  background-size: 100%;
  z-index: 1;
  pointer-events: none;
  box-shadow: inset 0 0 10px black;
}

.jinwoot6_incon {
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 10px 25px;
  box-sizing: border-box;
  overflow: visible;
  background: linear-gradient(to bottom, #23161D, #171525);
  z-index: 3;
  box-shadow: inset 0 0 10px black;

  color: #fdfbf9;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
	font-size:10px;
	line-height:1.4;
	text-align:justify;
  
}

.jinwoot6_incon speak {
  color: transparent;
	font-family: 'Amarante';
  font-size: 13px;
  color: transparent;
  line-height:0.9;
}

.jinwoot6_spch {
  position: relative;
  margin: -10px 0 -25px 0;
  padding-top:12px;
}

.jinwoot6_spch speak {
  display: block;
  font-family: "Love Light", cursive;
  font-weight: 400;
  font-size:30px;
  font-weight: bold;
  line-height: 0.9;
}

.jinwoot6_incon speak, .jinwoot6_spch speak {
  color: transparent;
  text-align: center;
  background: linear-gradient(to bottom, #ffe8c4, #e6c28a);
  -webkit-background-clip: text;
  background-clip: text;

  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.jinwoot6_spch::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  background: linear-gradient(to right, transparent, #FDC283, transparent);
  height: 1.2px;
  width: 60%;
}

@media (max-width: 1200px) {
  .jinwoot6_con {
    background:none;
    padding:10px;
  }

}
