@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');

/*
  font-family: "WindSong", cursive;
  font-weight: 400;

  font-family: "Amarante", serif;
  font-weight: 400;

  font-family: "Winky Rough", sans-serif;
  font-weight: 400;

  font-family: "Mea Culpa", cursive;
  font-weight: 400;
*/

.kivjint1 {
	position: relative;
  width: 420px;
  margin: 70px auto 40px;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
}


.kivjint1 credit {
  position: absolute;
  width: 100%;
  display:block;

  font-family: arial;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;

  bottom:-22px;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kivjint1_img {
  position: absolute;
  top: -69px;
  left: -125px;
  width: 179%;
  height: 548px;
  background: transparent url('https://ik.imagekit.io/arl60/Ardent/personal/Jinwoo/Kidnapped.png?updatedAt=1762836060919') no-repeat top;
  background-size: contain;
  z-index: 5;
  pointer-events: none;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.9)) drop-shadow(0 0 2px rgba(0, 0, 0, 0.9));
}

.kivjint1_bor {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #AA9C8F, #a68563);
  padding: 2px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  overflow:hidden;
  border-radius: 300px 300px 0 0;
}

.kivjint1_con {
  position: relative;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  pointer-events: none;
  margin: 0 auto;
  border-radius: 300px 300px 0 0;
}

.kivjint1_con::before{
  content:'';
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  background: white url('https://images.unsplash.com/photo-1683143726118-9abaed4e10f9?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1962') repeat-y;
  background-size:100%;
  background-position:center;
  background-attachment:fixed;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
  border-radius: 300px 300px 0 0;
  filter:saturate(0.3);
}

.kivjint1_con > * {
  position: relative;
  z-index: 2;
}

.kivjint1_incon {
  position: relative;
  overflow: hidden;
  padding: 450px 15px 80px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #17110cc9, #27212CE3);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.8);
  text-align: justify;
  font-family: "Winky Rough", sans-serif;
  font-weight: 400;
  font-size:11px;
  color: #fff9f4;
  line-height: 1.2;
  border-radius: 300px 300px 0 0;
}

.kivjint1_incon d {
  display:block;
  margin:0 auto;
  width:100%;
  height:10px;

  border-top: 1.1px solid;
  border-image: linear-gradient(to right, transparent, rgb(240, 229, 215), transparent) 1;
}

.kivjint1_incon kiv, .kivjint1_incon jin {
  font-family: "Amarante", serif;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  text-shadow: none;
  line-height: 0.9;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.kivjint1_speech {
  display: block;
  position:absolute;
  bottom:6px;
  left:0px;
  margin: 0 auto;
  width:100%;
  text-align: center;
  line-height: 0.8;
  padding-top: 10px;
  font-size:20px;
}

.kivjint1_speech kiv {
  font-family: "Mea Culpa", cursive;
  font-weight: 400;
  text-shadow: none;
  font-size: 49px;
  line-height: 1.1;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.kivjint1_speech jin {
  font-family: "WindSong", cursive;
  font-weight: 400;
  text-shadow: none;
  font-size: 37px;
  line-height: 1.1;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.kivjint1_incon kiv, .kivjint1_speech kiv {
  color: transparent;
  background: linear-gradient(to bottom, #efb870, #DA9A46);
  -webkit-background-clip: text;
  background-clip: text;
}

.kivjint1_incon jin, .kivjint1_speech jin {
  color: transparent;
  background: linear-gradient(to bottom, #39A6E2, #248DC7);
  -webkit-background-clip: text;
  background-clip: text;
}

@media (max-width: 1200px) {

  .kivjint1 {
    filter: none;
    margin: 10px auto;
  }
  
  .kivjint1_bor, .kivjint1_con, .kivjint1_con::before, .kivjint1_incon {
    border-radius:0;
  }

  .kivjint1_con::before {
    display: none;
  }

.kivjint1 credit {
  position: relative;
  inset:auto;
  display:block;
  text-align: center;
  transform:none;
}

.kivjint1_speech {
  position: relative;
  inset:auto;
  padding:0;
  margin: -10px auto;
}

.kivjint1_img {
  display: none;
}
.kivjint1_incon {
  padding: 10px;
}

}
