@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

/*
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;

    font-family: "Germania One", system-ui;
    font-weight: 400;

    font-family: "Crimson Text", serif;
    font-weight: 400;
*/

nav {
    background: rgba(46,58,74, 0.6) !important;
    box-shadow: 0 0 10px rgba(210,168,178, 0.5), 0 0 10px rgba(174, 189, 193, 0.5);
}

nav a {
    transition: color 0.2s ease, background 0.2s ease;
    color: #ffffff !important;
    transition: color 0.2s ease, background 0.2s ease;
}

nav a:hover {
    color: #ff8f00 !important;
    transition: color 0.2s ease, background 0.2s ease;
}

#content {
    background: transparent !important;
}

h1 {
    position:relative;
    margin: -30px auto -20px -20px !important;
    font-size:0px;
    z-index: 1;
}

h1::before {
    content:var(--toptitle);    
    
    filter: drop-shadow(2px 2px 0.5px #000000);
    color: white;

    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    text-transform: capitalize !important;
    font-size: 80px;
    line-height: 1.2;

    background: linear-gradient(to bottom,
        #f9efd2, #7ba0c6
    );

    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none !important;
}


h1 i {
	font-style: normal !important;
}

.tabnav,
.navbar_header,
.navbar_collapse {
	background: linear-gradient(to right, transparent 30%, rgba(46,58,74, 0.6) 100%);
    backdrop-filter: blur(2px);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    padding: 8px 2px 0;
    border-radius: 4px;
    height: 35px;
    overflow: visible;
}

.tabnav a,
.navbar_header a,
.navbar_collapse a {
    color: #ffffff !important;
	transition: color 0.2s ease, background 0.2s ease;
}

.tabnav a:hover,
.navbar_header a:hover,
.navbar_collapse a:hover {
    transform: scale(1.05) !important;
    color: #ff8f00 !important;
    transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease;
}

.tabnav a.active {
    color: #ff8f00 !important;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7) !important;
    transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease;
}

.tab {
    border-image: linear-gradient(to right, #fff0, #b5d4ef, transparent) 1;
}


.profav {
    filter:
        drop-shadow(0 0 5px rgb(255, 255, 255))
        drop-shadow(0 0 2px rgb(175, 205, 232));
    width: 280px !important;
    margin: 10px 30px 10px 0 !important;
}

.profav img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	object-position: right;
}

.blocky {
    position: relative;
    margin: 10px auto 15px !important;

    backdrop-filter: blur(2px);
    border: 2px solid #d5e9f5;
    border-radius: 0 100px;
    box-shadow:
        0 0 10px rgba(176, 212, 230, 0.5),
        0 0 10px rgba(144, 180, 198, 0.5),
        inset 0 0 5px rgba(0, 0, 0, 0.9);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 50px 30px;

    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;

    overflow: hidden;
    z-index: 1;
}

.blocky u {
	text-decoration: none !important;
}


.blocky > span {
    filter: drop-shadow(2px 2px 0.5px rgba(0, 0, 0, 0.6));
    font-family: "Germania One", system-ui;
    font-weight: 400;
    text-shadow: none !important;
    font-size: 16px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    padding: 2px 0;
    color: #9c9ebb;
    text-transform: capitalize;
    background: linear-gradient(to right, transparent, rgba(139, 151, 199, 0.4), transparent);
    border-radius: 0 0 10px 10px;
}
  
.blocky a {
    position: relative;
    z-index: 3;
    font-family: arial;
    text-transform: uppercase;
    font-size: 12px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: #DA8137!important;
    transition: color 0.2s ease;
}

  .blocky a:hover {
    color: #ffffff !important;
  }
  
  .blocky a,
  .blocky a:visited,
  .blocky a:hover,
  .blocky a u,
  .blocky span[style*="text-decoration: underline;"] {
    text-decoration: none !important;
  }
  
.thead {
    font-family: "Germania One", system-ui;
    font-weight: 400;
    font-size: 18px;
	text-align: center;
    text-transform: capitalize !important;
    padding: 10px 0;
    color: #d4e6f1;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5) !important;
    border-radius: 0 100px 0 0;
    box-shadow:
        0 0 10px rgba(176, 212, 230, 0.5),
        0 0 10px rgba(144, 180, 198, 0.5),
        inset 0 0 5px rgba(0, 0, 0, 0.9);
}

.thead b {
    font-weight: 100 !important;
}

.sip_tbl {
    margin-top:5px;
}

td {
    text-align:center;
}

.sip_tbl_head,
.sip_tbl_th,
.sip_tbl_td {
	background: rgba(17, 23, 31, 0.8);
	color: #ffffff !important;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.7), 4px 4px 12px rgba(0,0,0,0.5);
}

.flex_v {
    flex-direction: column !important;
    overflow:visible !important;
}

.flex_v .blocky:first-child {
    margin-bottom: 0 !important;
    padding: 0px;
    margin-top: 20px !important;
    border-radius: 0 100px 0 0;
}

.flex_v .blocky:nth-child(2) {
  border-radius: 0;
  margin-bottom: 10px !important;
}

.info_img {
    margin: 0 0 0 20px !important;
    height: 700px;
    width: 50%;
    object-fit: contain;
    object-position: center;
}

.info_con {
    position: relative;
    margin: 30px 30px 30px 0;
    height:auto;
width:50% !important;
}

.info_con h2 {
    color: white !important;
    margin: 20px 0 30px;

    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;

    font-size: 50px;

    background: linear-gradient(to bottom,
        #f9efd2, #7ba0c6
    );

    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none !important;
}

.info_incon {
    padding:10px;

    background:transparent;

    border: 2px solid;
    border-image: linear-gradient(to var(--incondir), transparent,#79a6d6) 1;

    color:#ffffff;
}

.info_con strong {
    color: #DA8137 !important;
    display: block;
    font-family: "Germania One", system-ui;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
}

.misc_con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:10px;
}

.misc_con2 {
    width:100%;
    margin-top:2%;
}

.misc_img {
    object-fit: contain;
    height:500px;
    width: clamp(300px, 50vw, 800px);
    transition: opacity 2s ease-in-out;
    opacity: 1;
}

.misc_img.fade-out {
  opacity: 0;
}

.misc_incon {
    background:rgba(255, 255, 255, 0);
    min-width:200px;
    width:100%;
    max-width: 200px;
}

.misc_con2 .misc_incon {
    margin: 0 auto;
    width: 100%;
    flex-shrink: 0;
    min-width:0;
}

.misc_con2 .misc_incon {
    background:rgba(255, 255, 255, 0);
    width:100%;
    min-width:200px;
    max-width: 650px;
}

.misc_incon subtitle {
    display: block;
    position:relative;

    font-family: "Germania One", system-ui;
    font-weight: 400;
    font-size: 15px;
    color:#DA8137;
    line-height: 1.2;
    text-align: center;

    margin: 10px 0;
    padding-top:5px;

    border-top: 1.5px solid;
    border-image: linear-gradient(
        to left,
        transparent,
        #7ba0c6,
        transparent
    ) 1;
}

.corner_img {
    position: absolute;
    width: 100px;
    height: auto;
    pointer-events: none;
    z-index: 10;
    filter: drop-shadow(0 0 6px rgb(0, 0, 0));
    top: -200px;
    right: -10px;
    transform: scalex(-1);
}

@media (max-width: 1200px) {

	.profav { display: none }

    .corner_img {
        display: none;
    }

    .blocky, .misc_con {
        flex-direction:column;
    }

    .info_img, .misc_img {
        height: auto !important;
    }

    .info_con {
        margin: 0 auto 20px !important;
        width: 95% !important;
    }
}



h1 {
    --toptitle: 'Citadel';
}

.profav img {
    content: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/740ee9a0-4bd5-4423-997f-d7fcdb1799c8/dkbljv4-ac69e9d0-ed8d-4d21-9b83-f45b898dc983.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi83NDBlZTlhMC00YmQ1LTQ0MjMtOTk3Zi1kN2ZjZGIxNzk5YzgvZGtibGp2NC1hYzY5ZTlkMC1lZDhkLTRkMjEtOWI4My1mNDViODk4ZGM5ODMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.3W4_vLKj9liLNptsdJygg4nYFo9jVss0NgtHKmfWTi8');

/*contain for background-less pngs, cover for images with bgs */
	object-fit: cover !important;
}
