@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*
    font-family: "Gwendolyn", cursive;
    font-weight: 400;

    font-family: "Cormorant Upright", serif;
    font-weight: 400;

    font-family: "Croissant One", serif;
    font-weight: 400;

    font-family: "Spectral", serif;
    font-weight: 400;
*/

nav {
    background: rgba(14, 14, 22, 0.89) !important;
    box-shadow: 0 0 10px rgba(17, 23, 44, 0.9), 0 0 10px rgba(3, 3, 6, 0.5);
}

nav a {
    font-family: "Cormorant Upright", serif;
    font-weight: 400;
    color: #ffffff !important;
    text-transform: capitalize !important;
    font-size: 16px;
    transition: color 0.2s ease, background 0.2s ease;
}

nav a:hover {
    color: #65e5f6 !important;
    transition: color 0.2s ease, background 0.2s ease;
}

#content {
    background: transparent !important;
}

h1 {
    position: relative;
    margin: -50px auto -30px -20px !important;
    font-size: 0px;
    z-index: 1;
}

h1::before {
    content: var(--toptitle);
    filter: drop-shadow(2px 2px 0.5px #000000);
    color: white;
    font-family: "Gwendolyn", cursive;
    font-weight: 400;
    text-transform: capitalize !important;
    font-size: 100px;
    line-height: 1.2;
    background: linear-gradient(to bottom, #89d7e4, #3b7fba );
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none !important;
}


h1 i {
	font-style: normal !important;
}

.tabnav,
.navbar_header,
.navbar_collapse {
	background: linear-gradient(to right, transparent 30%, rgba(42, 42, 75, 0.89) 100%);
    backdrop-filter: blur(2px);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    padding: 8px 2px 0;
    height: 35px;
    font-family: "Spectral", serif;
    font-weight: 400;
    font-size: 16px !important;
    text-transform: capitalize !important;
    overflow: visible;
	border: 1px solid;
	border-image: linear-gradient(to right, transparent 30%, #838181, #d8d8d8) 1;
    border-left: none;
}

.tabnav a,
.navbar_header a,
.navbar_collapse a {
    color: #ffffff !important;
	transition: color 0.2s ease, background 0.2s ease;
}

.tabnav a:hover,
.navbar_header a:hover,
.navbar_collapse a:hover {
    transform: scale(1.05) !important;
    color: #65e5f6 !important;
    transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease;
}

.tabnav a.active {
    color: #71a9ff !important;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7) !important;
    transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease;
}

.tab {
    border: none;
}


.profav {
    width: 250px !important;
    margin: 10px 10px 10px 2px !important;
}

.profav img {
	width: 100%;
	height: 100%;
	display: block;
    border-radius: 0;
    filter: drop-shadow(0 0 5px rgb(0, 0, 0)) drop-shadow(0 0 2px rgb(0, 0, 0));
}

.blocky {
    position: relative;
    margin: 10px 3px 15px !important;

    backdrop-filter: blur(2px);
    border: 1px solid;
    border-image: linear-gradient(170deg, white, #413e3e) 1;
    box-shadow:
        0 0 10px black, inset 0 0 5px rgba(0, 0, 0, 0.9);
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;

    padding: 15px 50px 30px;

    font-family: "Cormorant Upright", serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;

    overflow: hidden;
    z-index: 1;
}

.blocky u {
	text-decoration: none !important;
}


.blocky > span {
    filter: drop-shadow(2px 2px 0.5px rgba(0, 0, 0, 0.6));
    font-family: "Cormorant Upright", serif;
    font-weight: 400;
    text-shadow: none !important;
    font-size: 18px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    padding: 2px 0;
    color: #d5fdff;
    text-transform: lowercase;
    background: linear-gradient(to right, transparent, rgba(106, 142, 226, 0.4), transparent);
    border-radius: 0 0 10px 10px;
}
  
.blocky a {
    position: relative;
    z-index: 3;
    font-family: arial;
    text-transform: uppercase;
    font-size: 12px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: #76bcef !important;
    transition: color 0.2s ease;
}

  .blocky a:hover {
    color: #ffffff !important;
  }
  
  .blocky a,
  .blocky a:visited,
  .blocky a:hover,
  .blocky a u,
  .blocky span[style*="text-decoration: underline;"] {
    text-decoration: none !important;
  }
  
.thead {
    padding: 5px;
    font-family: "Gwendolyn", cursive;
    font-weight: 400;
    font-size: 35px;
	text-align: center;
    text-transform: capitalize !important;
    padding: 10px 0;
    color: #65c6f6;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5) !important;
    box-shadow:
        inset 0 0 2px #000;
    border: 1px solid #9c9c9c;
    /*! border-image: linear-gradient(40deg, white, #413e3e) 1; */
}

.thead b {
    font-weight: 100 !important;
}

.sip_tbl {
    margin-top:5px;
    width: 99% !important;
}

td {
    text-align:center;
}

.sip_tbl_head,
.sip_tbl_th,
.sip_tbl_td {
	background: rgba(11, 13, 20, 0.9);
	color: #ffffff !important;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.7), 4px 4px 12px rgba(0,0,0,0.5);
}

.subforums {
    gap: 5px !important;
    padding: 5px 0 !important;
}

.subforums a {
    background: none !important;
    text-transform: capitalize !important;
    font-family: "Spectral", serif;
    font-weight: 400;
    font-size: 14px;
}

.blocky img {
    filter: drop-shadow(0 0 5px black) drop-shadow(0 0 30px #579feb42);
    margin: 10px 0;
}

.blocky h2 {
    font-family: "Gwendolyn", cursive;
    font-weight: 400;
    font-size: 50px;
    background: linear-gradient(to bottom, #89d7e4, #3b7fba );
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none !important;
    width: 100%;
    
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, transparent, white, transparent) 1;

    margin-bottom: 20px;
}

.corner_img {
    position: absolute;
    width: 200px;
    height: auto;
    pointer-events: none;
    z-index: 10;
    filter: drop-shadow(0 0 2px rgb(110, 178, 211));
}

@media (max-width: 1200px) {

	.profav { display: none }

    .corner_img {
        display: none;
    }

}
