@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.isscat2_bor {
  margin: 20px auto;
  padding:2px;
  width: 700px;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.85), 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    to bottom,
    #FCD8A4 0%,
    #FCD8A4 30%,
    #fffbe6 60%,
    #e6b87a 100%
  );
}

.isscat2_con {
  position: relative;
  z-index: 0;
  width: 697px;
  min-height: 100px;
  padding: 15px 16px 990px 19px;
  box-sizing: border-box;
  overflow: hidden;
  background-image: url('https://i.imgur.com/OEXu6nJ.jpeg'), url('https://ik.imagekit.io/arl59/Ardent/Shop%20Requests/Crownteeth/Issca/abstract-neb.jpg?updatedAt=1750134021697');
  background-position: bottom center, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, cover;
  pointer-events: none;
}

.isscat2_con::after {
  content: '';
  position: absolute;
  bottom: 990px;
  right: 0;
  left: 0;
  z-index: 1;
  height: 40px;
  background: linear-gradient(to top, transparent 0, #1D140F 20%, transparent 100%);
  pointer-events: none;
}

.isscat2_incon {
  position: relative;
  border: 0.6px solid;
  border-image: linear-gradient(to top, rgba(140, 125, 196,0.8), #FAEEF7) 1;
  z-index: 6;
  padding: 20px 20px 120px;
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;
  overflow: visible;
  background: rgba(0, 0, 0, 0.5);
}

.isscat2_text {
  margin: 0;
  padding: 20px 30px;
  z-index: 5;
  font-family: 'Comic Neue';
  font-size: 14px;
  color: #fff;
  text-align: justify;
}

.isscat2_text::before {
  content: '';
  display: block;
  height: 2px;
  line-height: normal;
  margin: -10px 0 10px 0;
  background: linear-gradient(to right, transparent 10%, #EAC1A0 50%, transparent 90%);
}

.isscat2_text::after {
  content: '';
  display: block;
  height: 2px;
  line-height: normal;
  margin: 10px 0 -10px 0;
  background: linear-gradient(to right, transparent 10%, #EAC1A0 50%, transparent 90%);
}

.isscat2_diag {
  font-family: 'Caveat';
  font-size: 24px;
  font-weight: bold;
  color: #F4CF9C;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.isscat2_speech {
  margin: -30px 0 -130px 0;
  font-family: 'Caveat';
  font-size: 30px;
  font-weight: bold;
  color: #F4CF9C;
  text-align: center;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.isscat2_bgvid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100% - 1000px);
  bottom: auto;
  width: 100%;
  object-fit: cover;
  opacity: 0.4;
  z-index: 1;
  pointer-events: none;
  padding: 0;
}

@media (max-width: 1200px) {
  .isscat1_bgvid, .isscat1_con::after {
    display: none;
  }
}
