@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@font-face {
  font-family: 'HorrorNewYear';
  src: url('HorrorNewYear-BWzpl.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WickedBrush';
  src: url('WickedBrush-YzmMv.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


.dagont2_content {
  width: 100%;
  width: 400px;
  margin: 50px auto 260px auto;
  position: relative;
  overflow: visible;
  padding: 0;
  background: transparent;
  box-sizing: border-box;
  filter: drop-shadow(0 0 0px rgba(0,0,0,1)) drop-shadow(0 0 5px rgba(0,0,0,1));
}

.dagont2_content t {
  position: absolute;
  margin: 0 auto;
  top: 20px;
  left:0px;
  font-size: 140px;
  height: 200px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: 'WickedBrush';
  text-align: center;
  line-height: 1;
  z-index: 10;
  color:transparent;
  background: linear-gradient(160deg, #b24949, #000000, #451212);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7)) drop-shadow(0 0 2px rgba(136, 61, 61, 0.8));
  z-index: 10;
}

.dagont2_content sp {
  position: absolute;
  font-family: 'HorrorNewYear';
  color: #8f5353;
  font-size: 50px;
  text-align: left;
  bottom: 90px;
  left: 40px;
  padding-left: 80px;
  filter: drop-shadow(0 0 0px rgba(0,0,0,1)) drop-shadow(0 0 2px rgba(0,0,0,1));
  z-index: 10;
}

.dagont2_content sp::after {
  content: 'Speech';
  filter: drop-shadow(0 0 0px rgba(0,0,0,1)) drop-shadow(0 0 2px rgba(0,0,0,1));
}

.dagont2_content credit {
  position: absolute;
  bottom: 50px;
  left: 360px;
  width: 100px;
  display:block;
  text-align:left;
  font-family: arial;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  z-index: 10;
  transform: rotate(-90deg);
}

.dagont2_content credit::before {
  content: 'code by andy ';
}


.dagont2_img {
  position: absolute;
  bottom: -290px;
  left: -265px;
  width: 200%;
  height: 100%;
  background: transparent url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/acb69457-2e5c-444f-b6f8-7df5d9829ac2/dk2ejrn-aba0e9ba-fc88-427d-8ea5-88b91b7f650a.png/v1/fill/w_1280,h_1014/victrazte_fullbody_shaded_3_by_victrazte_dk2ejrn-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAxNCIsInBhdGgiOiJcL2ZcL2FjYjY5NDU3LTJlNWMtNDQ0Zi1iNmY4LTdkZjVkOTgyOWFjMlwvZGsyZWpybi1hYmEwZTliYS1mYzg4LTQyN2QtOGVhNS04OGI5MWI3ZjY1MGEucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.omIeP2i5wrw1Xpa6pEK76OHE1KUFpUfkp6R4oPrmR5Y') no-repeat center bottom;
  background-size: contain; 
  z-index: 5;
  pointer-events: none;
  filter: drop-shadow(0 0 0px rgba(0,0,0,1)) drop-shadow(0 0 2px rgba(0,0,0,1));
}


.dagont2_bor {
  position: relative;
  width: 100%;
  margin: 20px auto;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #000000, #5D2E2E, black);
  clip-path: polygon(
    0% 100%,
    100% 100%,
    100% 100px,
    50% 0%,
    0% 100px
  ); 
  padding: 10px;
}

.dagont2_con {
  position: relative;
  width: 100%;
  background: #000000 url('https://images.unsplash.com/photo-1464457312035-3d7d0e0c058e?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  clip-path: polygon(
    0% 100%,
    100% 100%,
    100% 100px,
    50% 0%,
    0% 100px
  );
  padding: 120px 20px 0;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);

}


.dagont2_inbor {
  position: relative;
  z-index: 6;
  margin: 0 auto;
  padding: 0 4px 2px;
  width: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
}

.dagont2_incon {
  padding: 20px;
  position: relative;
  z-index: 6;
  width: 100%;
  box-sizing: border-box;
  overflow: visible;
  background: transparent;
  padding: 20px 20px 160px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
  text-align: justify;
  font-family: 'Bellefair';
  font-size: 13px;
  color: #dadada;
  filter: drop-shadow(0 0 0px rgba(0,0,0,1)) drop-shadow(0 0 2px rgba(0,0,0,1)) drop-shadow(0 0 10px rgba(0,0,0,1));
  line-height: 1.2;
  margin: 0;
}

.dagont2_incon d {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, transparent, #8f5353 50%, transparent 100%);
  height: 1px;
}

.dagont2_incon speak {
  font-size: 19px;
  font-family: 'HorrorNewYear';
  color: #8f5353;
  filter: drop-shadow(0 0 0px rgba(0,0,0,1)) drop-shadow(0 0 2px rgba(0,0,0,1));
  line-height: 0.9;
}

@media (max-width: 1200px) {
  .dagont2_content {
    filter: none;
  }

  .dagont2_bor, 
  .dagont2_con, .dagont2_inbor, .dagont2_incon {
    clip-path: none;
  }

  .dagont2_text,
  .dagont2_speech,
  .dagont2_diag {
    filter: none;
  }

}
