@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

/* 
  font-family: "Unica One", sans-serif;
  font-weight: 400;

  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;

  font-family: "Amarante", serif;
  font-weight: 400;

  font-family: "Love Light", cursive;
  font-weight: 400;
*/

.evanescet3 {
	position: relative;
  width: 420px;
  margin: 90px auto 20px;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
}


.evanescet3 credit {
  position: absolute;
  width: 100%;
  display: block;
  font-family: "Unica One", sans-serif;
  font-size: 12px;
  font-weight: bold;
  bottom: -18px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.evanescet3_img {
  position: absolute;
  top: -99px;
  left: -136px;
  width: 165%;
  height: 461px;
  background: transparent url('https://ik.imagekit.io/arl60/Ardent/personal/Evanesce/IMG_2024.png') no-repeat bottom;
    background-size: auto;
  background-size: contain;
  z-index: 5;
  pointer-events: none;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.9)) drop-shadow(0 0 2px rgba(0, 0, 0, 0.9));
}

.evanescet3_bor {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #83C874,#49bac0);
  padding: 2px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  overflow:hidden;
  
  border-radius: 300px 300px 0 0;
}

.evanescet3_con {
  position: relative;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  pointer-events: none;
  margin: 0 auto;
  
  border-radius: 300px 300px 0 0;

}

.evanescet3_con::before{
  content:'';
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  background: white url('https://ik.imagekit.io/arl60/Ardent/shop/sharedmedia/starrynight.jpg?updatedAt=1753495763500') repeat-y;
  background-size:100%;
  background-position:bottom;
  background-attachment:fixed;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
  filter: hue-rotate(-100deg);
  
    border-radius: 300px 300px 0 0;

}

.evanescet3_con > * {
  position: relative;
  z-index: 2;
}

.evanescet3_incon {
  position: relative;
  overflow: hidden;
  padding: 330px 15px 50px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #104648d9, #1e2e5db5, #0000005E);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.8);
  text-align: justify;
  font-family: "Winky Rough", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #E8DAEE;
  line-height: 1.2;
  border-radius: 300px 300px 0 0;
}

.evanescet3_incon d {
  display:block;
  margin:0 auto;
  width:100%;
  height:10px;

  border-top: 1.1px solid;
  border-image: linear-gradient(to right, transparent, #6ABBDB, transparent) 1;
}

.evanescet3_incon speak {
  font-family: "Amarante", serif;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  text-shadow: none;
  line-height: 0.9;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.evanescet3_speech {
  display: block;
  position: absolute;
  bottom: -10px;
  left: 124px;
  margin: 0 auto;
  text-align: center;
  line-height: 0.8;
  padding-top: 10px;
}

.evanescet3_speech speak {
  font-family: "Love Light", cursive;
  font-weight: 400;
  text-shadow: none;
  font-size: 42px;
  line-height: 1.1;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.evanescet3_incon speak, .evanescet3_speech speak {
  color: transparent;
  background: linear-gradient(to bottom, #82D970,#29B6BD);
  -webkit-background-clip: text;
  background-clip: text;
}

@media (max-width: 1200px) {

  .evanescet3 {
    filter: none;
    margin: 10px auto;
  }

  .evanescet3_bor, .evanescet3_con, .evanescet3_incon {
    border-radius:0;
  }
  
  .evanescet3_con::before {
    display: none;
  }

.evanescet3 credit {
  position: relative;
  inset:auto;
  display:block;
  text-align: center;
  transform:none;
}

.evanescet3_speech {
  position: relative;
  inset:auto;
  padding:0;
}

.evanescet3_img {
  display: none;
}
.evanescet3_incon {
  padding: 10px;
}

}

