@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

/* 
  font-family: "Unica One", sans-serif;
  font-weight: 400;

  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;

  font-family: "Amarante", serif;
  font-weight: 400;

  font-family: "Love Light", cursive;
  font-weight: 400;
*/

.evanescet2 {
	position: relative;
  width: 420px;
  margin: 20px auto 80px;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
}


.evanescet2 credit {
  position: absolute;
  width: 100%;
  display: block;
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-weight: bold;
  bottom: 212px;
  left: -220px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transform: rotate(270deg);
}

.evanescet2_img {
  position: absolute;
  bottom: -74px;
  left: -112px;
  width: 167%;
  height: 431px;
  background: transparent url('https://ik.imagekit.io/arl60/Ardent/personal/Evanesce/Andy_3.png?updatedAt=1762824520615') no-repeat bottom;
    background-size: auto;
  background-size: contain;
  z-index: 5;
  pointer-events: none;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.9)) drop-shadow(0 0 2px rgba(0, 0, 0, 0.9));
}

.evanescet2_bor {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #52367A,#271959);
  padding: 2px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  overflow:hidden;
}

.evanescet2_con {
  position: relative;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  pointer-events: none;
  margin: 0 auto;
}

.evanescet2_con::before{
  content:'';
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  background: white url('https://ik.imagekit.io/arl60/Ardent/shop/sharedmedia/starrynight.jpg?updatedAt=1753495763500') repeat-y;
  background-size:100%;
  background-position:bottom;
  background-attachment:fixed;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
  filter: hue-rotate(40deg);
}

.evanescet2_con > * {
  position: relative;
  z-index: 2;
}

.evanescet2_incon {
  position: relative;
  overflow: hidden;
  padding: 5px 15px 320px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #171230d9, #2f203db5, #0000005E);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.8);
  text-align: justify;
  font-family: "Winky Rough", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #E8DAEE;
  line-height: 1.2;
  border-radius:20px;
}

.evanescet2_incon d {
  display:block;
  margin:0 auto;
  width:100%;
  height:10px;

  border-top: 1.1px solid;
  border-image: linear-gradient(to right, transparent, #7F77E7, transparent) 1;
}

.evanescet2_incon speak {
  font-family: "Amarante", serif;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  text-shadow: none;
  line-height: 0.9;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.evanescet2_speech {
  display: block;
  position: absolute;
  bottom: 266px;
  left: 128px;
  margin: 0 auto;
  text-align: center;
  line-height: 0.8;
  padding-top: 10px;
}

.evanescet2_speech speak {
  font-family: "Love Light", cursive;
  font-weight: 400;
  text-shadow: none;
  font-size: 42px;
  line-height: 1.1;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.evanescet2_incon speak, .evanescet2_speech speak {
  color: transparent;
  background: linear-gradient(to bottom, #AB246A,#E072AB);
  -webkit-background-clip: text;
  background-clip: text;
}

@media (max-width: 1200px) {

  .evanescet2 {
    filter: none;
    margin: 10px auto;
  }

  .evanescet2_con::before {
    display: none;
  }

.evanescet2 credit {
  position: relative;
  inset:auto;
  display:block;
  text-align: center;
  transform:none;
}

.evanescet2_speech {
  position: relative;
  inset:auto;
  padding:0;
}

.evanescet2_img {
  display: none;
}
.evanescet2_incon {
  padding: 10px;
}

}

