@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.ab02.ab_evanesce02 img {top:-18px;left:20px;}
.ab02.ab_evanesce02 bn, .ab02.ab_evanesce02 abpop
{ border: 1px solid;
  border-image: linear-gradient(to right, #4d4d8f,#9898EB,#4d4d8f) 1;}
.ab02.ab_evanesce02 bn:before { content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background: url('https://ik.imagekit.io/arl60/Ardent/shop/sharedmedia/21935015_6498043.jpg?updatedAt=1771535275043?tr=w-450')
    center no-repeat;
  background-size: cover;
  opacity: 0.5;
  filter: saturate(0.5)
    hue-rotate(-20deg)
    brightness(1);
  pointer-events:none;}
.ab02.ab_evanesce02 nm { top: 5px; left: -15px;
  filter: drop-shadow(1px 1px 1px black);}
.ab02.ab_evanesce02 fn {
  padding: 0 20px;
  font-weight: 400;
  font-family: "WindSong", cursive;
  background: linear-gradient( -45deg, #CFDF84 0%, #7DD4C0 30%, #7139d0 50%, #3da394 70%, #B46E44 100% );
  background-size: 400% 400%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: abasta02_shimmer 8s ease-in-out infinite;
}
@keyframes abasta02_shimmer {
    0%, 100% { background-position: 100% 0%; }
    50% { background-position: 0% 100%; }
}
.ab02.ab_evanesce02 ln {
  margin:-15px -45px 0 0;
  font-size:8px;}
.ab02.ab_evanesce02 li i {
  color: #b4b4b4;
}
.ab02.ab_evanesce02 cond, .ab02.ab_evanesce02 relations {
  border:none;
  border-bottom: 2px double #e4b86bc9;
  border-radius:5px;
  padding: 0 0 0 2px;
  font-family: "Allura", cursive;
  text-transform: capitalize;
  font-size: 12px;
  letter-spacing:1.2px;
}
.ab02.ab_evanesce02 cond         { color: #63e2b2; }
.ab02.ab_evanesce02 cond[hurt]   { color: #ff5d43; }
.ab02.ab_evanesce02 relations         { color: #c7ffff; }
.ab02.ab_evanesce02 relations[taken]  { color: #ffb24e; }
.ab02.ab_evanesce02 cond, .ab02.ab_evanesce02 relations
{ font-size: 14px;}
.ab02.ab_evanesce02 abpop {
  width:200px;
  box-shadow: none;
  background: linear-gradient(to bottom, #212121, black);
}
.ab02.ab_evanesce02 inv summary{
  filter:hue-rotate(-130deg) saturate(1.5);
}
.ab02.ab_evanesce02 comp summary{
  filter:hue-rotate(100deg) saturate(0.4) drop-shadow(0 0 1px white) drop-shadow(0 0 0.5px white);
}
