@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

nav {
    background: rgba(0, 0, 0, 0.4) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(rgba(0, 0, 0, 0.5));
}

nav a {
    transition: color 0.2s ease, background 0.2s ease;
    color: #4a2525 !important;
    transition: color 0.2s ease, background 0.2s ease;
}

nav a:hover {
    color: #bcd0e9 !important;
    transition: color 0.2s ease, background 0.2s ease;
}

#content {
    background: transparent !important;
    overflow: visible;
    margin-top: 100px !important;
}

h1 {
    color: transparent;
    position: relative;
    float: center;
    margin: -150px 0 0 !important;
    overflow: visible;
    text-align:center;
    width: 100%;
}

h1::before {
    content: var(--toptitle);
    filter: drop-shadow(2px 2px 0.5px #000000);
    color: white;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    z-index: 1;
    font-family: "New Rocker", system-ui;
    text-transform: capitalize !important;
    font-size: 100px;
    line-height: 1;
    height: auto;
    background: linear-gradient(to top,
        #993A34,
        #cc4d43
    );
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none !important;
    padding: 10px 0 20px;
}

h1 i {
	font-style: normal !important;
}

.tabnav {
	background: linear-gradient(to right, transparent, rgba(0,0,0,0.8), transparent);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    height: 30px;
    padding: 5px 5px 0;
    border: 1.5px solid;
	border-image: linear-gradient(to right, transparent, #313131, transparent) 1;    
}

.tabnav a,
.navbar_header a,
.navbar_collapse a {
    color: #ffffff !important;
	transition: color 0.2s ease, background 0.2s ease;
}

.tabnav a:hover {
    transform: scale(1.05) !important;
    color: #993A34 !important;
    transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease;
}

.tabnav a.active {
    color: #993A34 !important;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7) !important;
    transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease;
}

.postbit_buttons {
    text-align:center !important;
}

.tab {
    border: none !important;
}

.profav {
    background:rgba(0,0,0,0.8);
    border: 1.5px solid #313131;
    box-shadow: inset 0 0 10px rgba(112, 60, 50, 0.3);
    width: 250px !important;
    height: 355px !important;
}

.profav img {
	width: 100%;
	height: 100%;
	display: block;
	object-position: center;
    object-fit: contain;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.blocky {
	backdrop-filter: blur(2px);
	text-shadow: 1px 1px 2px rgba(0,0,0,0.7), 4px 4px 12px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Cormorant Garamond", cursive;
    font-size: 14px;
    text-align: center;
    position: relative;
    overflow: visible;
    z-index: 1;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    border: 1.5px solid #313131;
    box-shadow: inset 0 0 10px rgba(112, 60, 50, 0.3);
    padding: 20px 20px 30px;
    transition: border-color 0.5s ease;
}

.blocky:hover {
    border-color:#993A34;
    transition: border-color 0.5s ease;
}

.blocky u {
	text-decoration: none !important;
}


.blocky > span {
    filter: drop-shadow(2px 2px 0.5px rgba(0, 0, 0, 0.6));
    font-family: "IM Fell English SC", serif;
    text-shadow: none !important;
    font-size: 15px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 0;
    padding: 2px 0;
    color: #787878;
    text-align: center;
    text-transform: lowercase;
}
  
.blocky a {
    position: relative;
    z-index: 3;
    font-family: arial;
    text-transform: uppercase;
    font-size: 12px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: #993A34 !important;
    transition: color 0.2s ease;
  }
  
  .blocky a:hover {
    color: #bcd0e9 !important;
  }
  
  .blocky a,
  .blocky a:visited,
  .blocky a:hover,
  .blocky a u,
  .blocky span[style*="text-decoration: underline;"] {
    text-decoration: none !important;
  }
  
.thead {
    font-family: "IM Fell English SC", serif;
    font-size: 20px;
	text-align: center;
    text-transform: capitalize !important;
    padding: 10px 0;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.5);
}

.thead b {
    font-weight: 100 !important;
}

.sip_tbl_head,
.sip_tbl_th,
.sip_tbl_td {
	background: rgba(0,0,0, 0.6);
	color: #ffffff !important;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.7), 4px 4px 12px rgba(0,0,0,0.5);
}

.blocky.nobefore::before {
    content: none !important;
}

.info_title {
    position: relative;
	background: linear-gradient(to right, transparent, rgba(0,0,0,0.8), transparent);
    width:100%;
    height:auto;
    font-family: "IM Fell English SC", serif;
    font-size: 30px;
    color: #993A34;
    text-align:center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1.5px solid;
    border-bottom: 1.5px solid;
    border-image: linear-gradient(to right, transparent, rgb(88, 88, 88), transparent) 1;
    margin-bottom: 20px;
}

.info_appimg {
    filter: drop-shadow(0 0 10px rgba(11, 66, 87, 0.6));
    margin: 0 auto;
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.info {
    margin: 0 auto;
    width: 100%;
    height: auto;
    background: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 20px;
    text-align: justify;
}

.blocky:hover .info_appimg {
    transform: scale(1.05) rotate(-5deg);
    filter: drop-shadow(0 0 15px rgba(153, 58, 52,0.6));
}

.infoimg_box {
    position: relative;
}


.info_box {
    position:relative;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    line-height: 1.1;
    font-size: 13px;
}
.info_box b {
    display: block;
    color:#993A34;
    font-family: "IM Fell English SC", serif;
    text-transform:lowercase;
    font-size:14px;
}

.info_box lyrics {
    display: block;
    text-align: center;
    font-family: "New Rocker", system-ui;
    font-size:30px;
    color:transparent;
    background: linear-gradient(to top,
        #d3e6ed,
        #c3e4e8
    );
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none !important;
    margin: 20px auto;
}


.divider {
    position: relative;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, rgb(255, 2, 2), transparent);
}

.blocky h2 {
    display: block;
    font-family: "Ruthie", cursive;
    font-size: 25px;
	text-align: center;
    text-transform: capitalize !important;
    color: rgb(255, 255, 255) !important;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5) !important;
    margin: -10px 0 3px;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, transparent 20%, rgb(255, 255, 255), transparent 80%) 1;
    margin: 10px 0 30px;
}

.blocky flag {
    display: none;
}

.misc_img {
     filter: hue-rotate(-30deg) drop-shadow(0 0 10px rgb(142, 69, 32));
     width: 100%;
     height: 100%;
     object-fit: contain;
}

.misc_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 20px 0;
    width: 100%;
}

.misc_box {
    flex: 1;
    gap:10px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.misc_box_left {
    order: 1;
}

.misc_box_center {
    order: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.misc_box_right {
    order: 3;
}

.misc_text {
    font-size: 20px;
    color: white;
    line-height: 1.2;
    text-align: center;
    filter: drop-shadow(2px 2px 0.5px #000000);
    text-shadow: none !important;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, transparent, rgb(142, 69, 32), transparent) 1;
    padding: 10px 20px;
}

.misc_subtitle {
    font-family: 'Forum', sans-serif !important;
    font-size: 15px;
    color: #993A34;
    line-height: 1.2;
    text-align: center;
    text-shadow: none !important;
    margin-top: 0px;
    filter: drop-shadow(1px 1px 0.5px #3d2312);
    margin-bottom: 10px;
}


@media (max-width: 1200px) {

	.profav { display: none; }

    .corner_img {
        display: none;
    }
}

h1 {
    --toptitle: 'Nike Aetos';
}
.profav img {
    content: url('https://i.imgur.com/4bYnAcz.png');

/*contain for pngs, cover for images with bgs */
	object-fit: cover !important; 

}
