@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Are+You+Serious&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

/*
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;

  font-family: "Are You Serious", cursive;
  font-weight: 400;
*/

.minervat1 {
  position: relative;
  box-sizing: border-box;
  margin: 10px auto 100px;
  width: 400px;
}

.minervat1 min {
  position: absolute;
  bottom: -101px;
  left: -81px;
  
  width: 136%;
  height: 383px;
  
  background: url('https://ik.imagekit.io/arl60/Ardent/shop/crownteeth/minerva/dont_talk_to_me_or_my_son_ever_again.png?updatedAt=1771964562818')
    no-repeat center;
  background-size: contain;
  
  filter: drop-shadow(1px 1px 3px #f6e4d0ba);
}

.minervat1 bor {
  display: block;
  position: relative;
  width: 100%;
  
  padding: 2px;
  
  background: linear-gradient(to bottom,
  #91ACA6, #F6F3EE, #91ACA6);
  
  box-shadow: 1px 1px 2px black;
}

.minervat1 con {
  display: block;
  position: relative;
  background: black;
  
  padding: 15px;
}

.minervat1 con::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  
  background: url('https://ik.imagekit.io/arl60/Ardent/shop/sharedmedia/805270_22834-NUBP47.png')
    repeat center;
  background-size: 100%;
  background-attachment: local;
  
  opacity: 0.6;
  
  z-index: 0;
  box-shadow: inset 0 0 10px #000000c4;
}

.minervat1 inbor {
  position: relative;
  display: block;
  padding: 1.1px;
  background: linear-gradient(to right,
  #8CA7A1, #F6F3EE, #8CA7A1);
}

.minervat1 incon {
  position: relative;
  display: block;
  padding: 0px 23px 245px;
  background: linear-gradient(to bottom, #282c2d, #0e0f0f);
  
  box-shadow: inset 0 0 10px black;
  
  font-family: "Delius Swash Caps", serif;
  font-weight: 400;
  font-size: 12px;
  text-align: justify;
  color: #D0CBC3;
}

.minervat1 incon::before {
  content: '';
  position: absolute;
  
  bottom:170px;
  left: -10px;
  
  height: 100px;
  width: 106%;
  
  background: url('https://ik.imagekit.io/arl60/Ardent/shop/assets/811457_24223-NV6569.png')
    no-repeat center;
  background-size: contain;
  
  pointer-events: none;
  filter: drop-shadow(1px 1px 1px #0000004d)
    brightness(6);
}

.minervat1 b, .minervat1 .mycode_b {
  font-size: 14px;
  color: transparent !important;
  background: linear-gradient(to bottom, rgb(255, 64, 64),rgb(215, 7, 7)) !important;;
  -webkit-background-clip: text !important;;
  background-clip: text !important;
    text-shadow: none !important;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.5))
    drop-shadow(0 0 1px rgba(0,0,0,0.5));
}

.minervat1 speech {
  display: block;
  position: absolute;
  bottom: 117px;
  right: 77px;
  
  z-index: 10;
}

.minervat1 speech b {
  font-family: "Are You Serious", cursive;
  font-weight: 400;
  font-size: 40px;
}

.minervat1 credit {
  position: absolute;
  bottom: -101px;
  right: -213px;
  width: 100%;
  text-align: left;

  font-family: "Unica One", arial;
  font-weight: bold;
  font-size: 11px;
  transform: rotate(90deg);
}

@media (max-width: 1200px) {

  .minervat1 {
    max-width: 400px;
    width: 100%;
    left: 50%;
    transform:translateX(-50%);
  }
  
  .minervat1 min {
    display: none;
  }
  
  .minervat1 con {
    padding: 10px;
  }
  
  .minervat1 incon {
    padding: 6px 23px 110px;
  }

  .minervat1 incon::before {
    bottom:40px;
    left: -10px;

  }
  
  .minervat1 speech {
    display: block;
    position: absolute;
    bottom: -2px;
    right: 160px;
  }
  
  .minervat1 credit {
    position: absolute;
    bottom: -15px;
    right: 0;
    text-align: center;
    transform: none;
  }

}
