@font-face {
    font-family: 'Bailenson';
    src: url('Bailenson-4B0ep.otf') format('truetype');
  }


h1 {
	color: white;
	position: relative;
	z-index: 1;
	font-family: "Bailenson", sans-serif;
	text-transform: capitalize !important;
	font-size: 35px;
	text-shadow:
        2px 2px 4px rgba(0,0,0,0.7),
        4px 4px 12px rgba(0,0,0,0.5);
}

h1 i {
	font-style: normal !important;
}
