@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

.pearlint1 {
	position: relative;
  width: 450px;
  margin: 300px auto 40px;
  position: relative;
  overflow: visible;
  background:transparent;
  box-sizing: border-box;
}

.pearlint1 credit::before {
  content: 'code by andy ';
}

.pearlint1_img {
  position: absolute;
  top: -300px;
  left: -35px;
  width: 120%;
  height: 800px;
  background: transparent url('https://i.imgur.com/GJmH1Ov.png') no-repeat top;
  background-size: contain; 
  z-index: 4;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
  pointer-events: none;
}

.pearlint1_bor {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #8a3636 300px,
  #000000);
  padding: 3px;
  border-radius: 300px 300px 20px 20px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.pearlint1_bor t {
  position: absolute;
  top: 390px;
  left: 50%;
  transform: translateX(-50%);
  width: 72%;
  height: auto;
  padding: 40px 0 50px;
  z-index: 5;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5))
          drop-shadow(0 0 1px rgba(0, 0, 0, 0.3))
          drop-shadow(0 2px 1px rgba(0, 0, 0, 0.4));
  font-family: "Fleur De Leah", cursive;
  font-size: 80px;
  text-align: center;
  line-height: 0.6;
  background: linear-gradient(to top, #f3dd62, #b88a25);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.pearlint1_bor credit {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  display:block;
  margin: 5px auto 0;
  text-align:center;
  font-family: arial;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}


.pearlint1_con {
  position: relative;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: black;
  border-radius: 300px 300px 20px 20px;
  pointer-events: none;
  margin: 0 auto;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
}

.pearlint1_con::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(37, 13, 13), black);
  pointer-events: none;
  overflow: hidden;
  border-radius: 300px 300px 20px 20px;
  box-shadow: inset 0 0 10px rgba(7, 0, 0, 0.8);
}

.pearlint1_inbor {
  border-radius: 300px 300px 10px 10px;
  position: relative;
  padding: 475px 25px 15px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 400px, rgba(48, 8, 16, 0.6));
  box-shadow: inset 0 0 10px rgba(7, 0, 0, 0.8);
  border: 1.5px solid #000000;
}

.pearlint1_incon {
  width: 100%;
  box-sizing: border-box;
  height: auto;
  text-align: justify;
  font-family: "Literata", serif;
  font-size: 12.5px;
  color: rgb(223, 223, 223);
  line-height: 1.2;
  text-shadow: 0 0 1px rgba(0,0,0,0.5);
  border-top: 1px solid;
  text-shadow: 0 0 2px rgba(7, 0, 0, 0.8);
  border-image: linear-gradient(to right, transparent, rgb(226, 162, 99), transparent) 1;
}


.pearlint1_incon chryssa {
	font-family: "Amarante", serif;
  font-size: 14.5px;
  font-weight: bold;
  line-height: 1;
  color: #83ffff;
  text-shadow: 0 0 2px rgba(7, 0, 0, 0.8);
}

.pearlint1_incon cassie {
	font-family: "Amarante", serif;
  font-size: 14.5px;
  font-weight: bold;
  line-height: 1;
  color: #b762df;
  text-shadow: 0 0 2px rgba(7, 0, 0, 0.8);
}


.pearlint1_spch {
  border-top: 1px solid;
  color:rgb(255, 244, 194);
  border-image: linear-gradient(to right, transparent, rgb(226, 162, 99), transparent) 1;
  display: block;
  position: relative;
  margin: 0px 0 -15px 0;
  text-align: center;
}

.pearlint1_spch cassie, .pearlint1_spch chryssa {
  font-size: 16px;
}



@media (max-width: 1200px) {

  .pearlint1 {
    filter: none;
  }

  .pearlint1_con::before, .pearlint1_spch::before, .pearlint1_img::after {
    display: none;
  }

 .pearlint1_con, .pearlint1_bor, .pearlint1_incon, .pearlint1_inbor  {
    border-radius: 0;
  }

  .pearlint1_incon speak {
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
  }

.pearlint1_bor t, .pearlint1_bor t::before {
  display: none;
}

.pearlint1_bor credit {
  position: relative;
  bottom:auto;
  left:auto;
  margin: 0 auto;
  display:block;
  text-align:center;
  transform: none;
  font-size: 8px;
}
  
}
