@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@font-face {
  font-family: 'runart1' ;
  src: url(NorseBold-2Kge.otf);
}

.runart1 {
	position: relative;
  width: 450px;
  margin: 20px auto 100px;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
}


.runart1 credit {
  position: absolute;
  bottom: 225px;
  right: -235px;
  width: 100%;
  display:block;
  text-align:right;
  font-family: arial;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  z-index: 10;
  transform: rotate(-270deg);
}

.runart1_img {
  position: absolute;
  bottom: -155px;
  left: -160px;
  width: 135%;
  height: 550px;
  background: transparent url('Nyx_char_bgless2.png') no-repeat center bottom;
  background-size: contain; 
  z-index: 5;
  pointer-events: none;
  transform: rotate(0deg);
  filter: drop-shadow(-5px -5px 6px rgba(255, 217, 177, 0.5));
}

.runart1_bor {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #280e01, #000000 90%);
  padding: 5px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.runart1_con {
  position: relative;
  width: 100%;
  padding: 15px 15px 100px;
  box-sizing: border-box;
  pointer-events: none;
  margin: 0 auto;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(90deg, #111730, #41220f);
}

.runart1_con::before{
  content:'';
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  background:url('https://cdnb.artstation.com/p/assets/images/images/058/587/045/large/josef-barton-lsofs-prev.jpg?1674511851') no-repeat left;
  background-size:cover;
  background-attachment:fixed;
}

.runart1_con > * {
  position: relative;
  z-index: 2;
}

.runart1_incon {
  position: relative;
  overflow: hidden;
  padding: 15px 25px 300px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #1b110f, rgba(113, 89, 82, 0.5));
  height: auto;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.8);
  text-align: justify;
  font-family: "Rethink Sans", sans-serif;
  font-size: 12px;
  color: #ffffff;
  line-height: 1.2;
  border: 2px solid;
  border-image: linear-gradient(90deg, rgb(98, 200, 255), #fea558) 1;
}

.runart1_incon speak {
  color: #FFDC75;
  font-family: "Rethink Sans", sans-serif;
  font-size: 14px;
  color: transparent;
  text-align: center;
  background: linear-gradient(to right, #ffbb7f, #fea558);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: none;
  line-height: 0.9;
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.8));
}

.runart1_speech {
  display: block;
  position: relative;
  margin: 0px 0 -40px 0;
  text-align: center;
}

.runart1_speech speak {
  display: inline;
  font-family: 'runart1';
  letter-spacing: 6px;
  color: transparent;
  background: linear-gradient(to bottom, #FFDC75, #EA9250);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: none;
  font-size: 80px;
  line-height: 1.1;
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.8));
  transform: rotate(50deg);
}

.runart1_speech::before {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  height: 1.5px;
  margin: 0px auto 0;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5), transparent);
}

@media (max-width: 1200px) {

  .runart1_content {
    filter: none;
  }

  .runart1_con::before {
    display: none;
  }

.runart1 credit {
  position: relaive;
  bottom: auto;
  right: -auto;
  display:block;
  transform: none;
}

}

