@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kings&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face {
    font-family: 'ryukai1';
    src: url('JapaneseNeotokyo-5yR2B.ttf');
}



/* 
    font-family: 'ryukai1', serif;
    font-weight: 400;

    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;

    font-family: "Kings", cursive;
    font-weight: 400;

    font-family: "Cinzel Decorative", serif;
    font-weight: 400;

    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;

    font-family: "Lato", sans-serif;
    font-weight: 400;
*/

romaji {
    color: #eacc54;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
}

.userhtml > br,
.info > br,
.info_con2 > br,
.info_con2 > div > br,
.resource_con > br {
    font-size:0;
}

nav {
    background: rgba(18, 30, 24, 0.4) !important;
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.6));
}

nav a {
    color: #9af367 !important;
    transition: color 0.2s ease;
    margin: 0;
}

nav a:hover {
    color: #d88004 !important;
    transform: none !important;
    transition: color 0.2s ease;
}

#content, #content .packwrap > #pack-preview {
    background: #4c796c70 !important;
    padding: 40px !important;
    margin: 20px auto;
    box-shadow: inset 0 0 10px #162b16;
    backdrop-filter: blur(1.5px);
}

.packwrap > #pack-preview {
    background: none !important;
    padding: 20px !important;
    margin: 0 auto !important;
    box-shadow: none !important;
    backdrop-filteR: none !important;
}

#content .packwrap > #pack-preview::before {
    display: none !important;
}


header .title {
    font-family: "Cinzel Decorative", serif;
    font-weight: 550;
    text-transform: capitalize;
    margin: 20px auto -20px;
    font-size: 120px;
    text-shadow: none !important;

    background: linear-gradient(to bottom, #78ae44, #eae488);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none !important;
    
    filter:drop-shadow(0 0 5px black);
}

.thead h1, .packbanner h1 {
    margin: auto;
    position: absolute;
    font-family: "ryukai1", cursive;
    font-weight: 100 !important;
    font-size: 100px;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);

    background: linear-gradient(to bottom, #9cd861, #dcd347);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none !important;

    filter:drop-shadow(0 0 5px black);
}

.thead h2, .packbanner h2 {
    width: 100%;
    font-family: "Protest Revolution", sans-serif !important;
    font-weight: 400 !important;
    font-size: 25px;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: lowercase;
    letter-spacing: 6px;
    color: #86c7ff !important;
    filter: drop-shadow(0 0 2px black) !important;
}

.packbanner {
    background-color: transparent !important;
    background-image:none;
    box-sizing: border-box;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.7), 4px 4px 12px rgba(0,0,0,0.5);
    border: none;
    overflow: visible;
    z-index: 1;
    padding: 0;
    height:600px;
    position:relative !important;
}

.packbanner::before {
    content:'';
    position:absolute;
    top:0;
    left:0;

    height:80%;
    width:100%;

    background-image: url('https://ik.imagekit.io/arl60/Ardent/shop/Pack/Ryukai/dragon_pack_icon.png?updatedAt=1762381968542') !important;
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: contain !important;
    background-attachment: local;

    filter:drop-shadow(0 0 5px #000) drop-shadow(0 0 5px black);
}

.packwrap {
    font-family: "Saira", sans-serif;
    font-weight: 100;
    margin-bottom:10px;
}

.packwrap > h2:first-of-type {
    display:none;
}



/* first table under banner*/
.packwrap > div:nth-of-type(3) {
    position: relative;
    background: linear-gradient(to top, #35695d8a, #92c4adad) !important;
    box-sizing: border-box;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7), 4px 4px 12px rgba(0,0,0,0.5);
    border: 3px solid #9ec2cc;
    overflow: visible;
    z-index: 1;
    box-shadow: 0 0 10px rgba(168, 213, 115, 0.8);
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    text-align: justify;
    padding: 40px 40px;
    line-height: 1.1;
    font-size: 18px;
}

.packwrap > div:nth-of-type(3) strong {
    color: #eacc54;
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
}

/* end of first paragaph */


/* territories & Former Leaders */

.packwrap > div.flex.fill:nth-of-type(4), .packwrap > div:nth-of-type(5) {
    position: relative;
    background: rgba(38, 58, 35, 0.91) !important;
    border: 3px groove #7fc2e2;
    overflow: visible;
    z-index: 1;
    box-shadow: 0 0 10px rgba(168, 213, 115, 0.8);
    padding: 0 0 20px !important;
    margin: 0 auto;
}

.packwrap > div.flex.fill:nth-of-type(4) {
    margin-bottom:10px;
}

.packwrap > div.flex.fill:nth-of-type(4) h2,  .packwrap > div:nth-of-type(5) h2 {
    font-family: "Cinzel Decorative", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 32px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7), 4px 4px 12px rgba(0,0,0,0.5);
    margin: 20px auto 10px;
    color:#daff74 !important;
}

    /*TERRITORY*/

.packwrap > div.flex.fill:nth-of-type(4)::before {
    content:'';
    position:absolute;
    inset:0;

    width:100%;
    height:100%;

    background-image: url('https://ik.imagekit.io/arl60/Ardent/shop/Pack/Ryukai/20177371_6235570.jpg?updatedAt=1762545871399') !important;
    background-repeat: no-repeat !important;
    background-position: top !important;
    background-size: cover !important;
    background-attachment: local;
    z-index:-1;

    opacity: 0.8;
    box-shadow: inset 0 0 10px black;
    filter: hue-rotate(40deg) saturate(0.5);
}

    /*FORMER LEADERS*/

.packwrap > div:nth-of-type(5)::before {
    content:'';
    position:absolute;
    inset:0;

    width:100%;
    height:100%;

    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0850e243-5970-4164-a7bb-741bd2351866/dk9a8s7-e4f01380-332f-4897-b634-6623f7835f35.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8wODUwZTI0My01OTcwLTQxNjQtYTdiYi03NDFiZDIzNTE4NjYvZGs5YThzNy1lNGYwMTM4MC0zMzJmLTQ4OTctYjYzNC02NjIzZjc4MzVmMzUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.aT1e7y52awaRvK2eR9YOhbtMonUyyWBZH5RqldmAIS8') !important;
    background-repeat: no-repeat !important;
    background-position: 100% 37% !important;
    background-size: cover !important;
    background-attachment: local;
    z-index:-1;

    opacity: 0.7;
    filter: hue-rotate(-40deg) saturate(0.6);
    box-shadow: inset 0 0 10px black;
}

    /*for both*/
.flex ul, .packwrap > div:nth-of-type(5) ul {
    text-align:center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.flex ul li,  .packwrap > div:nth-of-type(5) li {
    display: inline-block;
    margin-right: 10px;
    background-color: rgba(9, 0, 20,0.6);
    border-radius: 10px;
    padding: 3px 10px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-size: calc(16px + 0.090625vw);
    letter-spacing: 1.2px;
    box-shadow: 0 0 10px rgba(205, 223, 156, 0.6);
    transition: background 0.5s ease;
}

.flex ul li a,  .packwrap > div:nth-of-type(5) li a {
    transition: color 0.5s ease;
}

.flex ul li a:hover,  .packwrap > div:nth-of-type(5) li a:hover {
    color:yellow !important;
}


.flex ul li:hover,  .packwrap > div:nth-of-type(5) li:hover {
    transform: none !important;
    background-color: rgba(155, 201, 99, 0.6);
}

.flex ul li:last-child {
  margin-right: 0;
}

/* end of territories & Former Leaders */

/*Notes: Adding Former leader IDs migrates general rules and below under #content; removing re-adds them under packwrap*/

/* Rules & Info */

/* .packwrap > div.flex.fill:nth-of-type(4) */
/* #content > div.flex.fill:nth-of-type(2) */

#content > div.flex.fill:nth-of-type(2) {
    margin: 0px -20px;
    padding: 0;
}



#content > div.flex.fill:nth-of-type(2) > div:nth-of-type(1), #content > div.flex.fill:nth-of-type(2)  > div:nth-of-type(2) {
    margin: 0 !important;
}

/* End of Rules & Info */

/* News/Relations/Ranks */
    /* #content
        .packwrap */

#content > h2 {
    margin: 5px auto;
    background: linear-gradient(to right, #0b2b29d1, #4b8e99b5, #0b2b29d1) !important;
    box-shadow: 0 0 10px rgba(168, 213, 115, 0.8), inset 0 0 10px #000000ab;
    border: 3px solid #9ec2cc;
    font-family: 'ryukai1', serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 50px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7), 4px 4px 12px rgba(0,0,0,0.5);
    padding: 10px;
    color: #c3f668 !important;
}

#content > ul {
    background: linear-gradient(to top, #35695d8a, #92c4adad) !important;
    box-sizing: border-box;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.7), 4px 4px 12px rgba(0,0,0,0.5);
    overflow: visible;
    z-index: 1;
    padding: 20px;
    box-shadow: 0 0 10px rgba(168, 213, 115, 0.8), inset 0 0 10px #000000ab;
    border: 3px solid #9ec2cc;

    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size:16px;

    max-height: 300px;
    overflow-y: auto;
    scrollbar-color: rgba(255, 252, 209, 0.4) transparent;
    scrollbar-width: thin; 
}

#content > ul::-webkit-scrollbar {
    width: 12px;
}

#content > ul::-webkit-scrollbar-track {
    background: transparent;
}

#content > ul::-webkit-scrollbar-thumb {
    background: rgba(255, 252, 209, 0.4);
    border-radius: 6px;
}

#content > ul::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 252, 209, 0.4);
}


/*news*/
        #content > ul:first-of-type {
            border: 1px solid #a2dc7a;
        }

        #content > ul:first-of-type > li {
            list-style: none;
            line-height:1;
            text-align:justify;
            padding: 10px;
            margin: 5px auto 10px;    
        }

        #content > ul:first-of-type > li b {
            display:block;
            font-family: "Cinzel Decorative", serif;
            font-weight: 400;
            font-size:18px;
            text-align:center !important;
            margin: 0 auto 5px;
            padding-bottom:2px;
            border-bottom: 1.5px solid;
            border-image: linear-gradient(to right, transparent, #dace9d, transparent) 1;
        }

        #content > ul:first-of-type > li a {
            text-decoration: none;
            font-size: 18px;
            color: rgb(217, 251, 156) !important;
            transition: color 0.5s ease;
            text-shadow: 0 0 8px black !important;
        }

        #content > ul:first-of-type > li a:hover {
            color: rgb(107, 235, 255) !important;
            transition: color 0.5s ease;
            letter-spacing: 0px;
        }

        #content > ul:first-of-type > li span {
            text-decoration: none !important;
        }


/* relations */
        #content > ul:nth-of-type(2) li {
            list-style: none;
            text-align:center;
            font-size:11px;
            font-family: "Lato", sans-serif;
            font-weight: 400;
            margin: 0 auto 5px;
            letter-spacing:1.2px;
            text-transform: uppercase;
        }

        #content > ul:nth-of-type(2) li i {
            font-size: 20px;
            margin-right:5px;
        }

        #content > ul:nth-of-type(2) li b {
            font-family: "Protest Revolution", sans-serif !important;
            font-weight: 400;
            font-size:20px;
            line-height: 1;
            text-shadow: 0 0 2px black !important;
        }

        #content > ul:nth-of-type(2) li b::after {
            content: "\A";
            white-space: pre;
        }

        #content > ul:nth-of-type(2) li a {
            display: inlne-block;
            color: #e0e8b9 !important;
            text-shadow: 0 0 2px black !important;
            transition: transform 0.3s ease, letter-spacing 0.3s ease;
        }

        #content > ul:nth-of-type(2) li a:hover {
            transform: scale(3) !important;
            letter-spacing: 1.5px;
        }

        #content > ul:nth-of-type(2) li > .pack {
            line-height:1;
            letter-spacing: 1px;
            text-transform: capitalize;
            text-align:justify;
            padding: 10px 15px;
            margin: 0 auto 15px;
            background-color: rgba(14, 23, 14, 0.3);
            --packcolor: white;
            border: 1.5px solid var(--packcolor);
            box-shadow: 0 0 10px var(--packcolor), inset 0 0 5px black;
            font-family: "Cormorant Garamond", serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-size:14px;
        }

/* ranks */
        #content > div:has(> details > summary.thead) {
            margin: 0 10px !important;
        }

        #content details .thead {
            background: linear-gradient(to left, #66ca9b96, #2d587799);
            box-sizing: border-box;
            border: 2px solid rgb(158, 218, 170);
            overflow: hidden;
            box-shadow: 0 0 10px rgba(166, 206, 125, 0.8), inset 0 0 10px #000000b5;
            font-family: "Cinzel Decorative", serif;
            font-weight: 500;
            font-size: 18px;
            color: #fdfd89 !important;
            text-shadow: 0 0 10px black, 0 0 5px black !important;
        }

        #content details:first-of-type .thead {
            margin-top: 10px;
        }

        #content details {
            position:relative;
            overflow: visible;
            margin: 0 auto 10px;
        }

        #content details summary {
            list-style: none;
        }

        #content details summary::-webkit-details-marker, #content details summary::marker {
            display: none;
        }

        .rank{
            text-align: center;
            padding: 10px 5px;
            margin: 10px 0 0;
            background: linear-gradient(to bottom, rgba(27, 92, 99, 0.84), #0006);
            border-radius: 5px;
            border: 1px solid #b3f8b8;
            box-shadow: 0 0 10px rgba(54, 180, 252, 0.8);
        }

        .requirement {
            text-align: center;
            border-top: 1.5px solid rgba(3, 188, 255, 0.342);
            margin: 10px 0 -10px;
            padding: 10px;
            font-size: 12px;
            text-transform: uppercase;
        }


/* End of News/Relations/Ranks */

/* INFORMATION */

#content > div.flex.fill:nth-of-type(2), #pack-preview > div.flex.fill {
    flex-direction:column;
}

#content > div.flex.fill:nth-of-type(2) > div > h2, #pack-preview > div.flex.fill > div > h2 {
    display: none;
}

.info_flexh {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
}

.info_flexh > * {
    flex: 0 0 50%;
}

.info {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    flex: 1;

    background-color: transparent;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7), 4px 4px 12px rgba(0,0,0,0.5);
    overflow: visible;
    z-index: 1;
    padding: 0 20px 20px;
    text-align: justify;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
}

.info h2 {
    position: relative;
    margin: 0 auto;
    padding: 5px;
    width: 100%;
    overflow: hidden;

    box-shadow: 0 0 10px rgba(118, 204, 204, 0.6);
    border: 3px groove #a6e1ce;

    font-family: 'ryukai1', serif !important;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 50px;
    text-shadow: none !important;
}

.info h2 b {
    background: linear-gradient(to bottom, #9cd861, #dcd347);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none !important;

    filter: drop-shadow(0 0 2px black) drop-shadow(0 0 2px black);
    font-weight:400;
}

.info h2::before {
    content:'';
    position:absolute;
    inset:0;
    width:100%;
    height:100%;

    background-image: url('https://ik.imagekit.io/arl60/Ardent/shop/sharedmedia/polina-kuzovkova-W-tgw_wuhAQ-unsplash.jpg?updatedAt=1762626166956') !important;
    background-repeat: no-repeat !important;
    background-position: 0 calc(100% - 60%) !important;
    background-size: cover !important;
    background-attachment: local;

    z-index:-1;

    filter: hue-rotate(-10deg) saturate(0.6);
    opacity: 0.9;
    box-shadow: inset 0 0 10px black;
}

.info_con, .info_con2 {
    flex: 1;
    padding: 10px 20px 20px;
    margin: 10px 0 0;

    text-align: justify;

    background: linear-gradient(to top, #35695d8a, #92c4adad) !important;
    box-shadow: 0 0 10px rgba(168, 213, 115, 0.8), inset 0 0 10px #000000ab;
    border: 3px solid #9ec2cc;
}

.info_con2 {
    padding:20px;
}

    /* CORE PHILOSOPHY */

.info .tenets {
    width: 100%;
    max-width: 800px !important;
    border: 7px double #c9fefe;
    box-shadow: inset 0 0 10px black;
    background: #070d074a;
    margin: 10px auto;
    font-size:18px;
}

.info .tenets td {
  padding:5px;
}

.info .tenets td:first-child {
    width: 15%;
    border: 3px groove #a4dda2;
    background: linear-gradient(to right, #9accdc9e, #33a082);
    text-transform: uppercase;
    font-family: "ryukai1", cursive;
    font-weight: 400;
    color: #d2ff9d;
    text-align: right;
    font-size:29px;
    padding: 0 10px;
}

.info .tenets td:last-child {
    width: 80%;
    text-align: left;
    border-bottom: 2px groove #cbfab1;
    padding: 10px 20px;
}

.info .tenets td:last-child u {
    text-decoration: none;
    display: block;
    text-align: right;
}

    /* LAWS */ 

.collapse_rule {
    display: block;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7), 4px 4px 12px rgba(0,0,0,0.5);
    margin-bottom: -12px;
    cursor: pointer;
    color: #fff77a;
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    text-align: center;
}

.collapse_rule:hover {
  color: #42f5bc;
  transition: color 0.3s ease;
}

.collapse_content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.collapse_content > .law {
    line-height: 1.1;
    text-align: left;
    padding: 0 10px 10px;
    margin: 20px 0 0;
    margin-bottom: 0;
    border-left: 10px solid #d9d26b;
    border-bottom: 1.5px solid #d9d26b;
    font-size: 20px;
}

.collapse_content > .law br {
    line-height: 1.1;
}


.collapse_toggle {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.collapse_toggle:checked ~ .collapse_content {
  max-height: 1000px;
  opacity: 1;
}

.collapse_toggle:checked + label + .collapse_content {
    display: block;
}


    /* FOOD CACHE */

.resource {
    position: relative;
    width: 100%;
    height: 37px;
    background: #0d383f73;
    border: 5px solid #185547;
    border-radius: 200px 0;
    overflow: hidden;
    box-shadow: 
        0 2px 8px rgba(0, 0, 0, 0.3),
        inset 0 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: -40px;
}

.resource_fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--fill, 100%);
    box-shadow: 
    inset 0 2px 8px rgba(255, 255, 255, 0.4),
    inset 0 -2px 8px rgba(0, 0, 0, 0.2);
}

.resource[style*="--status: red"] .resource_fill {
  background-color: #e74c3c;
}

.resource[style*="--status: orange"] .resource_fill {
  background-color: #f39c12;
}

.resource[style*="--status: yellow"] .resource_fill {
  background-color: #f1c40f;
}

.resource[style*="--status: green"] .resource_fill {
  background-color: #2ecc71;
}

.resource_con {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 12px;
    z-index: 1;
}

.resource data {
    color: white;
    font-weight: bold;
    font-family: "Kings", cursive;
    font-weight: 400;
    font-size: 14px;
    text-shadow: 
    1px 1px 2px black,
    0 0 5px rgba(0, 0, 0, 0.8);
    margin-left:auto;
}

    /* FACTIONS */

input.faction_ctog,
input#F1,
input#F2,
input#F3,
input#F4 {
    display: none !important;
    position: absolute !important;
    left: -9999px !important;
    opacity: 0 !important;
}

.faction_buttons br {
    display: none;
}

input.faction_ctog + br,
br + input.faction_ctog,
input#F1 + br,
input#F2 + br,
input#F3 + br,
input#F4 + br {
    display: none;
}

.faction_buttons {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 20px auto -20px;
    width: 90%;
}

.faction_collapse {
    margin: 0 auto;
    padding: 10px 20px;
    height: 180px;
    width: 180px;
    background-image: var(--icon);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: drop-shadow(0 0 10px black);
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.faction_collapse:hover {
    transform: scale(1.1);
    border-color: #999;
}

.faction_collapse:active {
    transform: scale(0.95);
}

.faction_con {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    margin-top: 10px;
}

.faction_con faction {
    text-transform: uppercase;
    font-family: "ryukai1", cursive;
    font-weight: 400;
    color: #d2ff9d;
    font-size:29px;
}

.faction_ctog:checked + .faction_con,
input#F1:checked + .faction_con,
input#F2:checked + .faction_con,
input#F3:checked + .faction_con,
input#F4:checked + .faction_con {
    max-height: 2000px;
    opacity: 1;
}

.faction_info {
    text-align: center;
}

/* locations */

.collapse_ter {
    display: block;
    padding: 20px 15px 0;
    margin: 5px auto;
    width: 100%;
    height: 80px !important;
    color: #e9f0be;
    border: 1px solid #b0e37d;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6), 0 0 6px rgb(32, 4, 48);
    cursor: pointer;
    border-radius: 5px;

    font-family: "Cinzel Decorative", serif;
    font-weight: bolder;
    font-style: normal;
    text-align:center;
    font-size: 30px;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.7), 4px 4px 12px rgba(0,0,0,0.5);

    --terimage: none;
    background: black var(--terimage) no-repeat;
    background-position: var(--terpos);
    background-size:cover;
    background-attachment: local;   

}

/* NORMAL BUTTON */

.collapse_content > br {
    font-size:0;
}

.collapse_content > h3 {
    font-size: 24px;
    text-align: center;
    color: #ffffb7;
}

.collapse_content > h4 {
    font-size: 20px;
    text-align: center;
}

.info_con f, .info_con2 f  {
    font-family: 'ryukai1', serif;
    font-weight: 400;
    font-size: 27px;
    text-align: center;
}

.collapse_event {
    display: block;
    padding: 5px;
    margin: 5px auto;

    display:flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 80px !important;
    color: #e9f0be;
    border: 1px solid #e5e484;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6), 0 0 6px rgb(32, 4, 48);
    cursor: pointer;
    border-radius: 15px/50px;

    font-family: "Cinzel Decorative", serif;
    font-weight: bold;
    font-style: normal;
    text-align:center;
    font-size: 25px;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.7), 0px 0px 8px rgba(0,0,0,0.5);

    background: linear-gradient(to right, #305944, #6dbdc191);
}

.info table {
    width: 100%;
    margin: 10px auto;
    border-collapse: collapse;
    text-align: center;
    color: white;
    font-size: 14px;
    border: 1.5px solid #7bce5d;
    box-shadow: 0 0 10px rgba(26, 188, 156, 0.8);
}

.info tr {
    color: #ffffff !important;
}

.info th {
    background-color: rgba(39, 85, 76, 0.6);
    padding: 2px;
    color: #ffffff !important;
    border: 1.5px solid #e3db68;
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-size:20px;
}

.info td {
    background-color: rgba(86, 140, 157, 0.29);
    border-right: 1px solid #63dd6a;
    font-size:20px;
}

@media (max-width: 1200px) {

.info_flexh {
    flex-direction: column;
}


}
