@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

/*
  font-family: "Love Light", cursive;
  font-weight: 400;

  font-family: "Amarante", serif;
  font-weight: 400;

  font-family: "Winky Rough", sans-serif;
  font-weight: 400;
*/

.astariont4 {
	position: relative;
  width: 420px;
  margin: 20px auto 60px;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
}


.astariont4 credit {
  position: absolute;
  width: 100%;
  display: block;
  font-family: arial;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  bottom: 205px;
  left: -220px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transform: rotate(270deg);
}

.astariont4_img {
  position: absolute;
  bottom: -60px;
  left: -100px;
  width: 167%;
  height: 431px;
  background: transparent url('https://ik.imagekit.io/arl60/Ardent/personal/Astarion/IMG_1926%202.png?updatedAt=1762800916297') no-repeat bottom;
    background-size: auto;
  background-size: contain;
  z-index: 5;
  pointer-events: none;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.9)) drop-shadow(0 0 2px rgba(0, 0, 0, 0.9));
}

.astariont4_bor {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #F5B07D,#FFEFA0,#F5B07D);
  padding: 2px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  overflow:hidden;
}

.astariont4_con {
  position: relative;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  pointer-events: none;
  margin: 0 auto;
}

.astariont4_con::before{
  content:'';
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  background: white url('https://ik.imagekit.io/arl60/Ardent/shop/sharedmedia/starrynight.jpg?updatedAt=1753495763500') repeat-y;
  background-size:100%;
  background-position:bottom;
  background-attachment:fixed;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
  filter: grayscale(0.9);
}

.astariont4_con > * {
  position: relative;
  z-index: 2;
}

.astariont4_incon {
  position: relative;
  overflow: hidden;
  padding: 5px 15px 320px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #181719, #18181C5E);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.8);
  text-align: justify;
  font-family: "Winky Rough", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #fff8f1;
  line-height: 1.2;
  border-radius:20px;
}

.astariont4_incon d {
  display:block;
  margin:0 auto;
  width:100%;
  height:10px;

  border-top: 1.1px solid;
  border-image: linear-gradient(to right, transparent, #F5B07D,#FFEFA0,#F5B07D, transparent) 1;
}

.astariont4_incon speak {
  font-family: "Amarante", serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-shadow: none;
  line-height: 0.9;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.astariont4_speech {
  display: block;
  position: absolute;
  bottom: 256px;
  left: 143px;
  margin: 0 auto;
  text-align: center;
  line-height: 0.8;
  padding-top: 10px;
}

.astariont4_speech speak {
  font-family: "Love Light", cursive;
  font-weight: 400;
  text-shadow: none;
  font-size: 42px;
  line-height: 1.1;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.astariont4_incon speak, .astariont4_speech speak {
  color: transparent;
  background: linear-gradient(to bottom, #F5B07D,#FFEFA0,#F5B07D);
  -webkit-background-clip: text;
  background-clip: text;
}

@media (max-width: 1200px) {

  .astariont4 {
    filter: none;
    margin: 10px auto;
  }

  .astariont4_con::before {
    display: none;
  }

.astariont4 credit {
  position: relative;
  inset:auto;
  display:block;
  text-align: center;
  transform:none;
}

.astariont4_speech {
  position: relative;
  inset:auto;
  padding:0;
}

.astariont4_img {
  display: none;
}
.astariont4_incon {
  padding: 10px;
}

}

