@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

/*
  font-family: "Love Light", cursive;
  font-weight: 400;

  font-family: "Amarante", serif;
  font-weight: 400;

  font-family: "Winky Rough", sans-serif;
  font-weight: 400;
*/

.astariont3 {
	position: relative;
  width: 420px;
  margin: 20px auto 190px;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
  width: 800px;
}


.astariont3 credit {
  position: absolute;
  display:block;

  font-family: "Unica One", arial;
  text-transform: lowercase;
  font-size: 12px;
  font-weight: bold;

  bottom:-20px;
  right:191px;
}

.astariont3_img {
  position: absolute;
  bottom: -207px;
  left: 11px;
  width: 107%;
  height: 780px;
  background: transparent url('https://ik.imagekit.io/arl60/Ardent/personal/Astarion/Wolf_Lines_7%202.png?updatedAt=1775710325665') no-repeat bottom;
    background-size: auto;
  background-size: contain;
  z-index: 5;
  pointer-events: none;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.9)) drop-shadow(0 0 2px rgba(0, 0, 0, 0.9));
}

.astariont3_bor {
  position: relative;
  width: 420px;
  background: linear-gradient(to bottom, #fddd7f,black);
  padding: 2px;
  box-sizing: border-box;
  margin: 0 100px 0 auto;
  box-shadow: 1px 1px 2px black;
  overflow:hidden;
}

.astariont3_con {
  position: relative;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  pointer-events: none;
  margin: 0 auto;
}

.astariont3_con::before{
  content:'';
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  background: white url('https://ik.imagekit.io/arl60/Ardent/shop/sharedmedia/starrynight.jpg?updatedAt=1753495763500') repeat-y;
  background-size:100%;
  background-position:bottom;
  background-attachment:fixed;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
  filter: grayscale(0.7);
}

.astariont3_con > * {
  position: relative;
  z-index: 2;
}

.astariont3_incon {
  position: relative;
  overflow: hidden;
  padding: 5px 15px 330px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #2f2f2f, #0a0e137d);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.8);
  text-align: justify;
  font-family: "Winky Rough", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #fff8f1;
  line-height: 1.2;
  border-radius:20px;
  min-height: 460px;
}

.astariont3_incon speak {
  font-family: "Amarante", serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-shadow: none;
  line-height: 0.9;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.astariont3_speech {
  display: block;
  position:absolute;
  bottom: 226px;
  left: 50%;
  transform:translateX(-50%);
  width: 100%;
  padding-right: 20px;
  margin: 0 auto;
  text-align: center;
  line-height: 0.8;
  padding-top: 20px;
  
  border-top: 1.1px solid;
  border-image: linear-gradient(to right, transparent, #FFD778, transparent) 1;

}

.astariont3_speech speak {
  font-family: "Love Light", cursive;
  font-weight: 400;
  text-shadow: none;
  font-size: 50px;
  line-height: 1.1;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.astariont3_incon speak, .astariont3_speech speak {
  color: transparent;
  background: linear-gradient(to bottom, #F5B07D,#FFEFA0,#F5B07D);
  -webkit-background-clip: text;
  background-clip: text;
}

@media (max-width: 1200px) {

  .astariont3 {
    filter: none;
    margin: 10px auto;
  }

  .astariont3_con::before {
    display: none;
  }
  
  .astariont3_incon {
    min-height: 0;
  }

.astariont3 credit {
  position: relative;
  inset:auto;
  display:block;
  text-align: center;
}

.astariont3_speech {
  display: block;
  position:relative;
  inset: auto;
  transform:none;
  padding-right: 0p;
}

.astariont3_img {
  display: none;
}
.astariont3_incon {
  padding: 10px;
}

}

