

@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

body {
	position: relative;
	background-repeat: repeat-y;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}
body:after {
	background: url('https://ik.imagekit.io/arl60/Ardent/shop/sharedmedia/starrynight.jpg?updatedAt=1753495763500');
	background-repeat: repeat-y;
	background-size: cover;
	background-attachment: fixed;
	filter: saturate(0.1) brightness(0.8);
}
header {background:none;}
nav {
	background: black !important;
	backdrop-filter: blur(2px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
	border-radius: 0 0 20px 20px;
	margin: 0 10px;
	font-weight: 400;
	font-size: 16px !important;
	text-transform: lowercase;
}
#content {
	background: linear-gradient(to bottom, #1c1c1c, black);
	margin: 0 auto 6%;
	max-width: 1200px;
	width: 100%;
	padding: 3%;
	color: white;
	box-shadow: 0 0 10px black, inset 0 0 10px black;
  font-family: "Didact Gothic", sans-serif;
}
a { color: lightblue !important}
h1 { position: relative;
	float:none !important;
	margin: auto !important;
	z-index: 1;
	display: block;
	width: 100%;
	color: white;
	text-align: center;
	padding: 30px 0;
	text-transform: capitalize;
	font-size: 80px;
	box-shadow: 0 0 10px black;
  font-family: "WindSong", cursive;
  filter:drop-shadow(1px 1px 2px black);}
h1:before { content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background: url('https://ik.imagekit.io/arl60/Ardent/personal/Branwen/filibg.png?updatedAt=1775870643706?tr=w-1000')
    center no-repeat;
  background-size: cover;
  opacity: 0.7;
  filter: saturate(0)
    hue-rotate(-20deg)
    brightness(1);
  pointer-events:none;}
.tabnav{
	position: relative;
	z-index: 1;
	margin: 20px 0 0;
	text-align: center;
	letter-spacing: 3px;
	font-weight: 400;
	font-size: 12px !important;
}
.tabnav a {
	color: #68daff !important;
}

h2 { color:grey;}
.profav { display:none;}
.blocky {
	background: transparent;
}
.blocky>span {
	text-transform: lowercase;
	position: absolute;
	bottom:-5px;
	left: 50%;
	transform:translateX(-50%);
	text-align: center;
	line-height: 1; 
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
  font-family: "Didact Gothic", sans-serif;
	text-shadow: 0 0 2px black;}


/*borders*/
h1,
#content {
  border: 1px solid;
  border-image: linear-gradient(to right, #F5B07D,#FFEFA0,#F5B07D) 1;
}
