@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

.rowant1 {
  position: relative;
  width: 640px;
  margin: 100px auto 20px;
}

.rowant1 rowan {
    display: block;
    position: absolute;
    top: -58px;
    left: -71px;
    width: 122%;
    height: 511px;
    z-index: 1;
    background: transparent url('https://ik.imagekit.io/arl59/Ardent/Shop%20Requests/Seadragoness/Rowan/CloudBackground.png?updatedAt=1748143764422') no-repeat;
    background-size: contain;
    pointer-events: none;
    filter: drop-shadow(0 0 10px #000000a8);
}

.rowant1 rowan::after {
    content: '';
    position: absolute;
    top: -14px;
    left: 51px;
    width: 100%;
    height: 101%;
    background: transparent url('https://i.imgur.com/JIOxxNv.png') no-repeat;
    background-position: center;
    background-size: contain;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.6));
    z-index: 1;
}

.rowant1 bor {
  display:block;
  box-sizing: border-box;
  padding: 1.5px;
  width: 640px;
  margin: 0 auto;
  background: linear-gradient(to bottom,
    rgba(255, 255, 255, 0.9),
    rgba(64, 210, 255, 0.8),
    rgba(8, 32, 64, 0.9));
  box-shadow:
    0 0 50px rgba(255,255,255, 0.5);
  border-radius: 350px 350px 0 0;
}

.rowant1 con {
  position: relative;
  box-sizing: border-box;
  display:block;
  width: 100%;
  padding: 380px 80px 50px;
  background: linear-gradient(to bottom, #ffffff 0%, #5A9DC9 40%, #0e1a26 100%);
  background-size: 100%;
  border-radius: 350px 350px 0 0;
}

.rowant1 incon {
  position: relative;
  display: block;
  padding: 50px 50px 0;
  border-radius: 20%;
  border: 1px groove rgba(85, 184, 220,1);
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(3px);
  box-shadow:
  4px 4px 6px rgba(0, 0, 0, 0.6),
  8px 8px 20px rgba(0, 0, 0, 0.3);
  
  color: white;
  font-family: Delius;
  font-size: 14px;
  line-height: 1.2;
  text-align: justify;
}

.rowant1 speech {
  display: inherit;
  margin-top: 5px;
  padding: 0 0 25px;
  text-align: center;
  border-top: 1.1px solid;
  border-image: linear-gradient(to right, transparent, white, transparent) 1;
}

.rowant1 speech > br {
  margin-top: -5px;
}

.rowant1 incon b,
.rowant1 incon .mycode_b,
.rowant1 speech b,
.rowant1 speech .mycode_b {
  color: #40D2FF !important;
  font-size: 16px;
  text-shadow: 0 0 2px black, 0 0 1px black !important;
}

.rowant1 speech b, .rowant1 speech .mycode_b {
  font-family: Rochester;
  font-size: 30px;
  line-height: 1.1;
}

.rowant1 credit {
  position: relative;
  margin-top: 5px;
  display:block;
  text-align:center;
  font-size:12px;
  font-weight: bold;
  font-family: "Unica One", arial;
}

@media (max-width: 1200px) {
  .rowant1 rowan, .rowant1 rowan::after {
      display: none;
  }
  
  .rowant1 incon {
    display: block;
    padding: 0;
    border-radius: 0;
    border: none;
    background: none;
    backdrop-filter: none;
    box-shadow: none;

    color: inherit;
  }
  
  .rowant1 con {
    position: relative;
    box-sizing: border-box;
    display:block;
    width: 100%;
    padding: 0;
    background: none;
    border-radius: 0;
  }
  
  .rowant1 bor {
    display:block;
    box-sizing: border-box;
    padding: 0;
    background: none;
    box-shadow:none;
    border-radius: 0;
    width: 100%;
  }

}

