@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

.valfreyjat1 {
  position: relative;
  width: 800px;
  margin: 200px auto 20px;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
  font-family: "Karla", sans-serif;
  filter: drop-shadow(0 0 2px #000000ad);
}
.valfreyjat1:after{
  content:'code by andy';
  position: absolute;
  font-family: "Unica One", sans-serif;
  text-align: center;
  width: 100%;
  margin: -10px 0 0;
}
.valfreyjat1 val {
  position: absolute;
  top: -200px;
  left: 33px;
  width: 712px;
  height: 792px;
  background: url('https://ik.imagekit.io/arl60/Ardent/shop/minxy/valfreyja/valfreyja.png')
    no-repeat left / contain;
  z-index: 10;
  pointer-events: none;
}
.valfreyjat1 bor {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 500px;
  margin: 0 auto;
  padding: 2px;
  background: linear-gradient(to bottom, #f3dfcf, #c69990);
  border-radius: 0;
  overflow: hidden;
  box-shadow: 2px 2px 3px black, 1px 1px 2px black;
}
.valfreyjat1 con {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  border-radius: inherit;
}
.valfreyjat1 con::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: url('https://ik.imagekit.io/arl60/Ardent/shop/sharedmedia/2632725_8741.jpg?updatedAt=1760754138078')
    center / cover no-repeat;
  background-attachment: fixed;
  filter: hue-rotate(135deg) saturate(0.3) brightness(3.5);
  opacity: 0.5;
  pointer-events: none;
}
.valfreyjat1 inbor {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 2px;
  border-radius: inherit;
  background: linear-gradient(to bottom, #e3c2ae, #eed2b8);
  box-shadow: 2px 2px 3px black, 0 0 3px black;
}
.valfreyjat1 incon {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 540px 25px 120px;
  border-radius: inherit;
  background: linear-gradient(to bottom, #415666 250px, #5f4c58);
  box-shadow: inset 0 0 10px #90a7b4;
  overflow: hidden;
  text-align: justify;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: .3px;
  color: #ffe8db;
}
.valfreyjat1 incon t {
  position: relative;
  display: block;
  height: 400px;
  clip-path: inset(0 round 10px);
  overflow-y: auto;
  cursor: pointer;
  z-index: 5;
  padding: 0 10px 0 20px; 
  letter-spacing: 0;
  box-shadow: inset 0 0 10px #603c484d;
  
  --scrollbar-thumb: #E3BB9E;
  --scrollbar-track: transparent;
  --scrollbar-width: 6px;

  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);

  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }
  &::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 3px;
  }
}
.valfreyjat1 incon video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  mix-blend-mode: screen;
  filter: hue-rotate(20deg) saturate(.5);
  -webkit-mask: linear-gradient(to top, transparent, black 50%);
          mask: linear-gradient(to top, transparent, black 50%);
  pointer-events: none;
}
.valfreyjat1 incon::before,
.valfreyjat1 incon::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: linear-gradient(to bottom, #fffbfa, #ce8958);
  -webkit-mask: url('https://ik.imagekit.io/arl60/Ardent/shop/assets/1155601_OR9Z4R1.png?updatedAt=1773783029296')
    center / contain no-repeat;
          mask: url('https://ik.imagekit.io/arl60/Ardent/shop/assets/1155601_OR9Z4R1.png?updatedAt=1773783029296')
    center / contain no-repeat;
  pointer-events: none;
  z-index: 10;
}
.valfreyjat1 incon::before { top: 498px; height: 60px; }
.valfreyjat1 incon::after { bottom: 90px; height: 50px; }
.valfreyjat1 b,
.valfreyjat1 .mycode_b {
  display: inline;
  font-family: "Cormorant", serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 1;
  color: transparent;
  background: linear-gradient(to bottom, #CEFFFB, #75C5FF);
  -webkit-background-clip: text;
          background-clip: text;
  text-shadow: none;
}
.valfreyjat1 incon > b:last-of-type {
  display: inline-block;
  width: 100%;
  margin: 30px auto 10px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.valfreyjat1 bor, .valfreyjat1 con,
.valfreyjat1 inbor, .valfreyjat1 incon {
    mask: 
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -35 100 140' preserveAspectRatio='none'%3E%3Cpath d='M 0 100 H 100 V 18 Q 90 18, 90 0 H 80 C 65 -35, 35 -35, 20 0 H 10 Q 10 18, 0 18 Z' fill='black'/%3E%3C/svg%3E") top / 100% 250px no-repeat,
      linear-gradient(black, black) 0 200px / 100% calc(100% - 400px) no-repeat,
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 140' preserveAspectRatio='none'%3E%3Cpath d='M 0 0 H 100 V 82 Q 90 82, 90 100 H 80 C 65 135, 35 135, 20 100 H 10 Q 10 82, 0 82 Z' fill='black'/%3E%3C/svg%3E") bottom / 100% 250px no-repeat;
    -webkit-mask: 
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -35 100 140' preserveAspectRatio='none'%3E%3Cpath d='M 0 100 H 100 V 18 Q 90 18, 90 0 H 80 C 65 -35, 35 -35, 20 0 H 10 Q 10 18, 0 18 Z' fill='black'/%3E%3C/svg%3E") top / 100% 250px no-repeat,
      linear-gradient(black, black) 0 200px / 100% calc(100% - 400px) no-repeat,
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 140' preserveAspectRatio='none'%3E%3Cpath d='M 0 0 H 100 V 82 Q 90 82, 90 100 H 80 C 65 135, 35 135, 20 100 H 10 Q 10 82, 0 82 Z' fill='black'/%3E%3C/svg%3E") bottom / 100% 250px no-repeat;
}
@media (max-width: 1200px) {
  .valfreyjat1 { margin:auto; max-width:450px; }
  .valfreyjat1:after {margin: -18px 0 0;}
  .valfreyjat1 incon::before,
  .valfreyjat1 video,
  .valfreyjat1 con:before,
  .valfreyjat1 shay { display: none; }
  .valfreyjat1 bor { margin: 0 0 20px;border-radius: 0;width: 100%; background: none;box-shadow:none;}
  .valfreyjat1 con { padding: 0; }
  .valfreyjat1 incon { padding: 0 18px 0; }
  .valfreyjat1 incon video { height: 280px; }
}
