@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@font-face {
  font-family: 'Nereus';
  src: url('VikingNormal-36VL.otf') format('truetype');
}

/*

  font-family: "Unica One", sans-serif;
  font-weight: bold;

  font-family: "Amarante", serif;
  font-weight: 400;

  font-family: "Nereus", serif;
  font-weight: 400;

  font-family: 'Eagle Lake', serif;
  font-weight: 400;

  font-family: "Didact Gothic", sans-serif;
  font-weight: 400; 

*/


.nereust7 {
	position: relative;
  width: 500px;
  margin: 20px auto 100px;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
}

.nereust7 credit {
  display:block;
  position:absolute;
  bottom:65px;
  right:-46px;
  text-align:center;
  font-size:12px;
  font-family: "Unica One", sans-serif;
  font-weight: bold;
  transform:rotate(90deg);
}

.nereust7_img {
  position: absolute;
  bottom: -75px;
  left: -263px;
  width: 213%;
  height: 360px;
  background: transparent url('https://ik.imagekit.io/arl60/Ardent/personal/Nereus/nereus_transparent.png?updatedAt=1763575471770') no-repeat center top;
  background-size: contain; 
  z-index: 5;
  pointer-events: none;
  filter: drop-shadow(0 0 4px black) drop-shadow(0 0 30px #e0eff757);
}

.nereust7_bor {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #282828, #2f2f2f);
  padding: 2px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.nereust7_con {
  position: relative;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  pointer-events: none;
  margin: 0 auto;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.nereust7_con::before {
  content:'';
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  background: url('https://ik.imagekit.io/arl60/Ardent/personal/Nereus/abstract-black-gray-grunge-texture-pattern-background.jpg?updatedAt=1762899571955');
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
  filter:grayscale(0.5);
}

.nereust7_con > * {
  position: relative;
  z-index: 2;
}

.nereust7_incon {
  position: relative;
  padding: 5px 18px 175px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgb(44, 50, 58), #161616);
  height: auto;
  box-shadow: 0 0 5px 5px rgba(246, 250, 255, 0.3), inset 0 0 10px rgb(0, 0, 0);
  text-align: justify;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-size:12px;
  color: #dddddd;
  line-height: 1.2;
}

.nereust7_incon speak {
  color: #afefef;
	font-family: 'Amarante';
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0px 0px 2px #000000;
  line-height: 0.9;
}

.nereust7_speech {
  display: block;
  position: relative;
  margin: -10px auto 0;
  padding-right: 10px;
  font-family: 'Nereus';
  font-weight: bold;
  font-size:30px;
  color: #afefef;
  text-shadow: 1px 1px 2px #0a0906;
  font-size: 30px;
  text-align: center;
  line-height: 1;
}

.nereust7_speech speak {
  font-family: 'Nereus';
  font-weight: bold;
  font-size: 30px;
}

.nereust7_speech::before {
  content: '';
  position: absolute;
  inset:0;
  width: 100%;
  height: 1.1px;
  margin: 10px auto 0;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5), transparent);
}

@media (max-width: 1200px) {

  .nereust7 {
    filter: none;
  }

  .nereust7_speech {
    text-align: center;
    padding:0;
  }

  .nereust7_con::before {
    display:none;
}

  .nereust7 credit {
  display:block;
  position:relative;
  inset:auto;
  transform:none;
}

}
