@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@font-face {
  font-family: 'Nereus';
  src: url('VikingNormal-36VL.otf') format('truetype');
}

/*

  font-family: "Unica One", sans-serif;
  font-weight: bold;

  font-family: "Amarante", serif;
  font-weight: 400;

  font-family: "Nereus", serif;
  font-weight: 400;

  font-family: 'Eagle Lake', serif;
  font-weight: 400;

  font-family: "Didact Gothic", sans-serif;
  font-weight: 400; 

*/


.nereust5 {
	position: relative;
  width: 400px;
  margin: 20px auto 40px;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
}

.nereust5 credit {
  display:block;
  position:absolute;
  bottom:-17px;
  right:330px;
  text-align:right;
  font-family: "Unica One", sans-serif;
  font-weight: bold;
  font-size:11px;
  width:100%;
}

.nereust5_img {
  position: absolute;
  bottom: -72px;
  left: -183px;
  width: 171%;
  height: 495px;
  background: transparent url('https://ik.imagekit.io/arl60/Ardent/personal/Nereus/IMG_1915.png?updatedAt=1762897874724') no-repeat center top;
  background-size: contain; 
  z-index: 5;
  pointer-events: none;
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));
}

.nereust5_bor {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #ffffff, #aacad5);
  padding: 3px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.nereust5_con {
  position: relative;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  pointer-events: none;
  margin: 0 auto;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.nereust5_con::before {
  content:'';
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  background: url('https://ik.imagekit.io/arl60/Ardent/personal/Nereus/abstract-black-gray-grunge-texture-pattern-background.jpg?updatedAt=1762899571955');
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
  filter:grayscale(0.5);
}

.nereust5_con > * {
  position: relative;
  z-index: 2;
}

.nereust5_incon {
  position: relative;
  padding: 5px 18px 280px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgb(59, 68, 78), #161616);
  height: auto;
  box-shadow: 0 0 5px 5px rgba(148, 184, 223, 0.3), inset 0 0 10px rgb(0, 0, 0);
  text-align: justify;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400; 
  font-size: 11px;
  color: #dddddd;
  line-height: 1.2;
}

.nereust5_incon speak {
  color: #80cfee;
	font-family: 'Amarante';
  font-size: 12px;
  font-weight: bold;
  line-height: 0.9;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.nereust5_speech {
  display: block;
  position: relative;
  margin: -10px auto 0;
  padding-right: 10px;
  font-family: 'Nereus';
  font-weight: bold;
  font-size:30px;
  color: #afefef;
  text-shadow: 1px 1px 2px #0a0906;
  font-size: 30px;
  text-align: center;
  line-height: 1;
}

.nereust5_speech speak {
  font-family: 'Nereus';
  font-weight: bold;
  font-size: 30px;
}

.nereust5_speech::before {
  content: '';
  position: absolute;
  inset:0;
  width: 100%;
  height: 1.1px;
  margin: 10px auto 0;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5), transparent);
}

@media (max-width: 1200px) {

  .nereust5 {
    filter: none;
  }

  
  .nereust5_incon {
    padding:10px;
  } 
  
  .nereust5_speech {
    text-align: center;
    padding:0;
  }
  
.nereust5 credit {
  display:block;
  position:relative;
  inset:auto;
  text-align:center;
}

.nereust5_img {
  display:none;
}


}
