@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
@font-face {
  font-family: 'nereust3';
  src: url('VikingNormal-36VL.otf') format('truetype');
}

.nereust3 {
	position: relative;
  width: 500px;
  margin: 20px auto 40px;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
}


.nereust3 credit {
  position: absolute;
  bottom: -25px;
  right: 0;
  width: 100%;
  display:block;
  text-align:center;
  font-family: arial;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  z-index: 10;
}

.nereust3_bor {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #000, #32503c 90%);
  padding: 3px;
  box-sizing: border-box;
  margin: 0 auto;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

.nereust3_con {
  position: relative;
  width: 100%;
  padding: 20px 20px 370px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  
  background: url('https://ik.imagekit.io/arl60/Ardent/personal/Nereus/NereusForest1.png?updatedAt=1759806091132') no-repeat bottom;
  background-size: 110%;
  background-position: -20px 100%;
  background-attachment: local;
  z-index:1;
}

.nereust3_con::before {
  position:absolute;
  content:'';
  width:100%;
  height:100%;
  inset:0;

  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
  background: linear-gradient(to top, rgba(0,0,0,0) 390px, #121A21 560px, #030515);

  z-index:1;
}

.nereust3_con > * {
  position: relative;
  z-index: 2;
}

.nereust3_incon {
  position: relative;
  overflow: hidden;
  padding: 10px 20px 60px;
  width: 100%;
  box-sizing: border-box;
  text-align: justify;
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 400;
  font-size: 10.5px;
  color: #ececec;
  line-height: 1.2;
  border: 1px solid;
  border-image: linear-gradient(to top, rgba(0,0,0,0), #72aecb) 1;
  border-bottom:none;
background: linear-gradient(to top, rgba(18,26,33,0), #121A21);
}

.nereust3_incon speak {
  color: #FFDC75;
	font-family: 'Amarante';
  font-size: 12px;
  text-align: center;
  text-shadow: none;
  line-height: 0.9;
}

.nereust3_speech {
  display: block;
  position: absolute;
  bottom:382px;
  left:50%;
  text-align: center;
  width: 50%;
  transform: translateX(-50%);
}

.nereust3_speech::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 1.1px;
  /*! margin: 0px auto -10px; */
  background: linear-gradient(to right, transparent, #98e1f2, transparent);
  right: 0;
}

.nereust3_speech speak {
  display: inline;
  font-family: 'nereust3';

  text-shadow: none;
  font-size: 20px;
  line-height: 1.1;
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.8)) drop-shadow(0 0 3px rgba(171, 206, 231, 0.8));
}

.nereust3_incon speak, .nereust3_speech speak {
  color: transparent;
  background: linear-gradient(to bottom, #7cd4ff, #4fb7bc);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

@media (max-width: 1200px) {

.nereust3 {
  height: auto;
}

.nereust3_con {
  padding: 5px;
}

  .nereust3_con::before {
    display: none;
  }

.nereust3_incon {
  padding:10px;
}

.nereust3 credit {
  position: relative;
  inset:auto;
  display:block;
  transform: none;
}
  
  .nereust3_speech {
  display: block;
  position: relative;
  inset:auto;
  text-align: center;
  width: 100%;
  transform: none;
}


}

