@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@font-face {
  font-family: 'alucardt1';
  src: url('VikingNormal-36VL.otf') format('truetype');
}

.alucardt1 {
	position: relative;
  width: 800px;
  height: 800px;
  margin: 20px auto 40px;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
}


.alucardt1 credit {
  position: absolute;
  bottom: -25px;
  right: 0;
  width: 100%;
  display:block;
  text-align:center;
  font-family: arial;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  z-index: 10;
}

.alucardt1_bor {
  position: relative;
  width: 100%;
  height:100%;
  background: linear-gradient(to bottom, #81592e, #4e3d24 90%);
  padding: 3px;
  box-sizing: border-box;
  margin: 0 auto;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

.alucardt1_con {
  position: relative;
  width: 100%;
  height:100%;
padding: 50px 340px 100px 50px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  background: black;
}

.alucardt1_con::before {
  position:absolute;
  content:'';
  width:100%;
  height:100%;
  inset:0;

  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);

  background: url('https://ik.imagekit.io/arl60/Ardent/personal/Alucard/__by_zilkesee_dkobmfi.png?updatedAt=1760249046942') no-repeat;
  background-size: 130%;
  background-position: 55% 60%;
  background-attachment: local;
  z-index:1;
}

.alucardt1_con > * {
  position: relative;
  z-index: 2;
}

.alucardt1_incon {
  position: relative;
    overflow: hidden;
      overflow-y: hidden;
    padding: 10px 15px 10px 20px;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgba(124, 109, 95, 0.61), rgba(72, 48, 48, 0.68));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9), inset 0 0 10px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(0.9px);
    text-align: justify;
    font-family: 'Amarante';
    font-size: 12px;
    color: #eaeaea;
    line-height: 1.2;
    border: 1px solid #806653;
    max-height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(198, 175, 163, 0.89) rgba(0, 0, 0, 0);
border-radius: 20px 0 0 20px;
}

.alucardt1_incon::-webkit-scrollbar {
  width: 8px;
}

.alucardt1_incon::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 4px;
}

.alucardt1_incon::-webkit-scrollbar-thumb {
  background: rgba(137, 137, 137, 0.891);
  border-radius: 4px;
}

.alucardt1_incon::-webkit-scrollbar-thumb:hover {
  background: rgba(137, 137, 137, 0.891);
}
.alucardt1_incon speak {
  color: #FFDC75;
	font-family: 'Amarante';
  font-size: 14px;
  text-align: center;
  text-shadow: none;
  line-height: 0.9;
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.8));
}

.alucardt1_speech {
  display: block;
  position: relative;
  margin: 10px 0 -50px 0;
  text-align: center;
}

.alucardt1_speech speak {
  display: inline;
  font-family: 'alucardt1';

  text-shadow: none;
  font-size: 40px;
  line-height: 1.1;
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.8)) drop-shadow(0 0 3px rgba(171, 206, 231, 0.8));
}

.alucardt1_incon speak, .alucardt1_speech speak {
  color: transparent;
  background: linear-gradient(to bottom, #64bf99, #63e1d0);
  -webkit-background-clip: text;
  background-clip: text;
}

.alucardt1_speech::before {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  height: 1.2px;
  margin: 0px auto 0;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5), transparent);
}

@media (max-width: 1200px) {

.alucardt1 {
  width: 100%;
  height: auto;
}

.alucardt1_con {
  padding: 0;
}

  .alucardt1_con::before {
    display: none;
  }

.alucardt1_incon {
  overflow-y:visible;
}

.alucardt1 credit {
  position: relative;
  inset:auto;
  display:block;
  transform: none;
}

}

