@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');

.alucardt1 {
	position: relative;
  width: 800px;
  margin: 20px auto 40px;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
}


.alucardt1 credit {
  position: absolute;
  bottom: -25px;
  right: 0;
  width: 100%;
  display:block;
  text-align:center;
  font-family: arial;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  z-index: 10;
}

.alucardt1_bor {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #81592e, #4e3d24 90%);
  padding: 3px;
  box-sizing: border-box;
  margin: 0 auto;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

.alucardt1_con {
  position: relative;
  width: 100%;
  padding: 650px 20px 50px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);

  background: url('https://ik.imagekit.io/arl60/Ardent/personal/Alucard/__by_zilkesee_dkobmfi.png?updatedAt=1760249046942') no-repeat;
  background-size: 110%;
  background-position: 100% -100px;
  background-attachment: local;
}

.alucardt1_con::before {
  position:absolute;
  content:'';
  width:100%;
  height:100%;
  inset:0;

  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 580px, #1E0C06 700px, #150803);

  z-index:1;
}

.alucardt1_con > * {
  position: relative;
  z-index: 2;
}

.alucardt1_incon {
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(39, 18, 10, 0.68));
  text-align: justify;
  font-family: "Sulphur Point", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #ffece7;
  line-height: 1.2;
  border: 1px solid;
  border-image: linear-gradient(to bottom, rgba(0,0,0,0), #806653) 1;
  border-top:none;
}

.alucardt1_incon speak, .alucardt1_incon car  {
  color: #FFDC75;
  font-family: "Grenze", serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  text-shadow: none;
  line-height: 0.9;
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.8));
}

.alucardt1_speech {
  display: block;
  position: relative;
  margin: 10px 0 -50px 0;
  text-align: center;
}

.alucardt1_speech speak, .alucardt1_speech car {
  display: inline;
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  text-shadow: none;
  font-size: 30px;
  line-height: 1.1;
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.8)) drop-shadow(0 0 2px rgba(0, 0, 0, 0.8));
}

.alucardt1_speech car {
  font-size:25px;
}

.alucardt1_incon speak, .alucardt1_speech speak {
  color: transparent;
  background: linear-gradient(to bottom, #64bf99, #63e1d0);
  -webkit-background-clip: text;
  background-clip: text;
}

.alucardt1_incon car, .alucardt1_speech car {
  color: transparent;
  background: linear-gradient(to bottom, #eeae65, #f0790a);
  -webkit-background-clip: text;
  background-clip: text;
}

.alucardt1_speech::before {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  height: 1.2px;
  margin: 0px auto 0;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5), transparent);
}

@media (max-width: 1200px) {

.alucardt1 {
  width: 100%;
}

.alucardt1_con {
  padding: 0;
  background:none;
}

  .alucardt1_con::before {
    display: none;
  }

  .alucardt1_speech {
  margin: 0 auto;
}


.alucardt1 credit {
  position: relative;
  inset:auto;
  display:block;
  transform: none;
  margin-top:10px;
}

}
