@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

/*
  font-family: "Love Light", cursive;
  font-weight: 400;

  font-family: "Amarante", serif;
  font-weight: 400;

  font-family: "Winky Rough", sans-serif;
  font-weight: 400;
*/

.alucardt2 {
	position: relative;
  width: 500px;
  margin: 20px auto 150px;
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
}


.alucardt2 credit {
  position: absolute;
  width: 100%;
  display:block;

  font-family: arial;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;

  bottom:-20px;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.alucardt2_img {
  position: absolute;
  bottom: -168px;
  left: -138px;
  width: 163%;
  height: 515px;
  background: transparent url('https://ik.imagekit.io/arl60/Ardent/personal/Alucard/_c__alucard_by_horrvs_s_dkqxic0-pre.png?updatedAt=1762752166471') no-repeat bottom;
  background-size: contain;
  z-index: 5;
  pointer-events: none;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.9)) drop-shadow(0 0 2px rgba(0, 0, 0, 0.9));
}

.alucardt2_bor {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #EDE3D8, #14100C);
  padding: 2px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  overflow:hidden;
}

.alucardt2_con {
  position: relative;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  pointer-events: none;
  margin: 0 auto;
}

.alucardt2_con::before{
  content:'';
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  background: white url('https://ik.imagekit.io/arl60/Ardent/personal/Alucard/3493439_517354-PIZQZI-844.png?updatedAt=1762785336967') repeat-y;
  background-size:100%;
  background-position:bottom;
  background-attachment:fixed;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
}

.alucardt2_con > * {
  position: relative;
  z-index: 2;
}

.alucardt2_incon {
  position: relative;
  overflow: hidden;
  padding: 10px 15px 170px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #a19080, #34323096);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.8);
  text-align: justify;
  font-family: "Winky Rough", sans-serif;
  font-weight: 400;
  font-size:11px;
  color: #fff8f1;
  line-height: 1.2;
  border-radius: 20px;
}

.alucardt2_incon speak, .alucardt2_incon car {
  font-family: "Amarante", serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-shadow: none;
  line-height: 0.9;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.alucardt2_speech {
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 0.8;
  border-top: 3.5px dotted #f6e6dd;
  padding-top: 10px;
}

.alucardt2_speech speak, .alucardt2_speech car {
  font-family: "Love Light", cursive;
  font-weight: 400;
  text-shadow: none;
  font-size: 40px;
  line-height: 1.1;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.8)) drop-shadow(0 0 1px rgba(0,0,0,0.8));
}

.alucardt2_speech car {
  display:block;
  font-size:25px;
  text-transform:lowercase;
  padding-left:55px;
  margin-top:-10px;
}

.alucardt2_incon speak, .alucardt2_speech speak {
  color: transparent;
  background: linear-gradient(to bottom, #64bf99, #63e1d0);
  -webkit-background-clip: text;
  background-clip: text;
}

.alucardt2_incon car, .alucardt2_speech car {
  color: transparent;
  background: linear-gradient(to bottom, #eeae65, #f0790a);
  -webkit-background-clip: text;
  background-clip: text;
}

@media (max-width: 1200px) {

  .alucardt2 {
    filter: none;
    margin: 10px auto;
  }

  .alucardt2_con::before {
    display: none;
  }

.alucardt2 credit {
  position: relative;
  inset:auto;
  display:block;
  text-align: center;
}

.alucardt2_speech {
  position: relative;
  inset:auto;
}

.alucardt2_img {
  display: none;
}
.alucardt2_incon {
  padding: 10px;
}

}

