@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');


.andyc {
  display:block;
  text-align:center;
  font-size:10px;
  margin: 0 auto;
}

.fatalist1_con {
	position: relative;
  width: 800px;
  margin: 20px auto;
  padding: 0 0 200px;
  border: 3px solid;
  border-image: linear-gradient(to bottom,
    #9fdefc,
    #64d9f7,
    #000000) 1;
  background: #ffffff url('https://ik.imagekit.io/arl60/Ardent/shop/sharedmedia/watercolorsky?updatedAt=1753449024882') no-repeat bottom border-box;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.85), 20px 20px 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.fatalist1_con::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: url('https://i.imgur.com/zT6F0QO.jpeg') no-repeat bottom border-box;
  background-size: 100%;
  background-position: 0 calc(100% + 25px);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.85), 20px 20px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.fatalist1_con::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 396px;
    height: 300px;
    background: linear-gradient(to top, transparent 0%, #CDE6FC 40px, #ffffff 160px, transparent 100%);
    pointer-events: none;
    z-index: 1;
}

.fatalist1_inf {
  position: relative;
  padding: 40px;
  margin: 0;
  z-index: 10;
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 40%, black);
  mask-image: linear-gradient(to top, transparent 0%, black 30%, black 40%);
  overflow: hidden;
}

.fatalist1_inf::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  box-shadow:
    0 -5px 10px rgba(64, 133, 189, 0.6),
    inset 2px 0 20px 2px rgba(64, 133, 189, 0.8),
    inset -2px 0 20px 2px rgba(64, 133, 189, 0.8);
}

.fatalist1_incon {
  position: relative;
  border: 2px solid;
  border-bottom: 0;
  border-image: linear-gradient(to bottom,
    #9fdefc,
    #64d9f7,
    transparent 80%) 1;
  z-index: 10;
  background: linear-gradient(to bottom, rgba(195, 233, 250, 0.6) 0%, transparent 100%);
  box-shadow: inset 0 3px 5px -8px rgba(0, 0, 0, 0.5);
}

.fatalist1_text {
  font-family: 'Bellefair';  
  font-size: 15px;
  color: #3b3b3b;
  padding: 15px 40px 0;
  text-shadow: 0 0 1.2px #494949;
  text-align: justify;
  z-index: 5;
  line-height: 1.2;
}


.fatalist1_text sel {
  display: inline;
  font-family: 'Delius Swash Caps';  
  font-size: 14px;
  color: #da7ae2;
  z-index: 5;
  text-shadow: none;
  background: linear-gradient(to bottom, rgb(255, 142, 240), rgb(224, 132, 212));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  filter: drop-shadow(1px 1px 1px rgba(208, 143, 231, 0.7));
}

.fatalist1_text cit {
  display: inline;
  font-family: 'Almendra';  
  font-size: 16px;
  color: #1775f0;
  text-shadow: none;
  filter: drop-shadow(0px 1px 0.5px rgba(0, 0, 0, 0.7));
}

.fatalist1_text bal {
  display: inline;
  font-family: 'Grenze Gotisch';  
  font-size: 17px;
  color: #252525;
  text-shadow: none;
  filter: drop-shadow(0 0 1px rgba(254, 170, 38, 0.7));
}

.fatalist1_text iska {
  display: inline;
  font-family: 'Cormorant Infant';  
  font-size: 16px;
  color: #1ec1e6;
  text-shadow: none;
  filter: drop-shadow(1px 1px 1.2px rgba(54, 54, 54, 0.4));
}

.fatalist1_text odette {
  display: inline;
  font-family: 'Gabriela';  
  font-size: 13px;
  color: #000000;
  text-shadow: none;
  filter: drop-shadow(1px 1px 1px rgba(6, 73, 255, 0.4));
}

.fatalist1_text geist {
  display: inline;
  font-family: 'Almendra';  
  font-size: 16px;
  color: #f1a533;
  text-shadow: none;
  filter: drop-shadow(0px 0px 1px rgba(121, 100, 8, 0.4));
}



.fatalist1_spch {
  margin: 0 0 200px;
  height: 35px;
  text-align: center;
  background: linear-gradient(to right,transparent 0%, rgba(255, 255, 255, 0.6), transparent 100%);
  padding: 0 40px 20px;
}

@media (max-width: 1200px) {

  .fatalist1_inf::after, .fatalist1_inf {
    box-shadow: none;
      -webkit-mask-image: none;
      mask-image: none;
    }

  .fatalist1_con::before {
    display: none;
  }
  
  .fatalist1_text bal {
    color: #000000;
  }
  
}
