@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@font-face {
    font-family: "Andalusia";
    src: url('AndaluciaRegular-m22BP.ttf');
}

/*
    font-family: "Unica One", arial;

    font-family: "Andalusia", serif;
    font-weight: 400;

    font-family: "Forum", serif;
    font-weight: 400;

    font-family: "Euphoria Script", cursive;
    font-weight: 400;
*/

.cassiedel {
    position: relative;
    width: 900px;
    height: auto;
    margin: 10px auto 30px;
}

.cassiedel credit {
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 100%;
  display:block;
  text-align:center;
  font-family: "Unica One", arial;
  text-transform: lowercase;
  font-size: 12px;
  font-weight: bold;
  z-index: 10;    
}

@keyframes gold-pulse {
    0% { 
        filter: drop-shadow(0 0 2px black) drop-shadow(0 0 5px rgba(247, 195, 88, 0.3))
        brightness(1);
    }
    50% { 
        filter: drop-shadow(0 0 2px black) drop-shadow(0 0 20px rgba(247, 195, 88, 0.7)) brightness(1.2);
    }
    100% { 
        filter: drop-shadow(0 0 2px black) drop-shadow(0 0 5px rgba(247, 195, 88, 0.3)) brightness(1);
    }
}

.cassiedel_img {
    position: absolute;
    top: -35px;
    left: 50%;
    width: 100%;
    height: 100%;
    background: url('https://ik.imagekit.io/arl60/Ardent/shop/Seadragoness/CassieDel/Tangled_fates.png') no-repeat;
    background-position: top;
    background-size: contain;
    background-attachment: local;
    pointer-events: none;
    z-index: 5;
    transform: translateX(-50%);
    animation: gold-pulse 10s ease-in-out infinite;
}

.cassiedel cc {
    position: absolute;
    display: block;
    width: 100%;
    top:515px;
    left:47%;
    transform: translateX(-50%);
    z-index: 10;
    
    font-size: clamp(100px, 10vw, 130px);
    text-align:center;
    font-family: "Andalusia", serif;
    font-weight: 500;
    
    background: linear-gradient(90deg,
        #F7C358 0%,
        #FFF6D1 12%,
        #E1B65B 25%,
        #DDAF55 38%,
        #FFF6D1 50%,
        #E1B65B 62%,
        #DDAF55 75%,
        #FFF6D1 88%,
        #F7C358 100%
    );
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    filter: drop-shadow(0 0 4px black) drop-shadow(0 0 2px #00000096);
    transition: transform 1.1s ease;
}

.cassiedel cc:hover {
    transform: translateX(-50%) scale(1.1);
}

.cassiedel_bor {
    position: inherit;
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 3px;  
    overflow: hidden;
    
    background: linear-gradient(to bottom,
        #F7C358 0%,
        #FFF6D1 12%,
        #E1B65B 25%,
        #DDAF55 38%,
        #FFF6D1 50%,
        #E1B65B 62%,
        #DDAF55 75%,
        #FFF6D1 88%,
        #F7C358 100%
    );
}

.cassiedel_con {
    position: inherit;
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 620px 20px 20px;
    text-align: center;
    
    box-shadow: inset 0 0 10px black;
    
    background: #211932 url('https://ik.imagekit.io/arl60/Ardent/shop/sharedmedia/celestial_aurora.png?updatedAt=1754024869393') no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
    color: white;
    font-size: 14px;
}


.cassiedel_con > br {
    display: none;
}

.cassiedel_inbor1, .cassiedel_incon1 {
    position: inherit;
    box-sizing: border-box;
    margin: 0 auto;
    mask: 
        radial-gradient(ellipse 40px 35px at 0 0, transparent 39px, rgba(0, 0, 0, 0.4) 39.5px, black 40px) 0 0,
        radial-gradient(ellipse 40px 35px at 100% 0, transparent 39px, rgba(0, 0, 0, 0.4) 39.5px, black 40px) 100% 0,
        radial-gradient(ellipse 40px 35px at 100% 100%, transparent 39px, rgba(0, 0, 0, 0.4) 39.5px, black 40px) 100% 100%,
        radial-gradient(ellipse 40px 35px at 0 100%, transparent 39px, rgba(0, 0, 0, 0.4) 39.5px, black 40px) 0 100%;
    -webkit-mask: 
        radial-gradient(ellipse 40px 35px at 0 0, transparent 39px, rgba(0, 0, 0, 0.4) 39.5px, black 40px) 0 0,
        radial-gradient(ellipse 40px 35px at 100% 0, transparent 39px, rgba(0, 0, 0, 0.4) 39.5px, black 40px) 100% 0,
        radial-gradient(ellipse 40px 35px at 100% 100%, transparent 39px, rgba(0, 0, 0, 0.4) 39.5px, black 40px) 100% 100%,
        radial-gradient(ellipse 40px 35px at 0 100%, transparent 39px, rgba(0, 0, 0, 0.4) 39.5px, black 40px) 0 100%;
    mask-size: 51% 51%;
    -webkit-mask-size: 51% 51%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.cassiedel_inbor1 {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    
    
    background: linear-gradient(90deg,
        #F7C358 0%,
        #FFF6D1 12%,
        #E1B65B 25%,
        #DDAF55 38%,
        #FFF6D1 50%,
        #E1B65B 62%,
        #DDAF55 75%,
        #FFF6D1 88%,
        #F7C358 100%
    );
    padding: 2px;
}

.cassiedel_incon1 {
    position: relative;
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, #3d64ad, #610853);
    padding: 30px 60px;
    text-align: center;
    font-size: 16px;
    font-family: "Forum", serif;
    font-weight: 400;
    color: white;
}

.cassiedel_incon1 > br {
    display: none;
}

.cassiedel_incon1 text {
    position: relative;
    z-index: 10;
}

.cassiedel_con d {
    position: relative;
    width: 100%;
    height: 5px;
    
    background: white;
}

.cassiedel info {
    position: relative;
    display: block;
    text-align: center;
    font-family: "Forum", serif;
    font-weight: 400;
    flex: 1; 
    padding: 0px 20px 10px;
    border-radius: 20px/100px;
    border: solid #86809e 4px;
    box-shadow:
        inset 0 0 10px black,
        0 0 10px black;
    color: white !important;
    
    background: #191134d9;
}

.cassiedel info > * {
    position: relative;
    z-index: 1;
}


.cassiedel info img {
    float: left;
    width: 300px;
    height: auto;
    object-fit: contain;
    object-position: bottom;
    padding: 10px;
    transition: transform 1.1s ease;
    animation: glow 6s ease-in-out infinite;
}

@keyframes glow {
    0% { filter: drop-shadow(0 0 10px rgba(41, 84, 132, 0.9)); }
    33% { filter: drop-shadow(0 0 10px rgba(106, 70, 150, 0.9)); }
    66% { filter: drop-shadow(0 0 10px rgba(63, 1, 64, 0.9)); }
    100% { filter: drop-shadow(0 0 10px rgba(41, 84, 132, 0.9)); }
}

.cassiedel info:hover img {
    transform: scale(1.1);
}

.cassiedel_stack {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
}

.cassiedel_stack box {
    flex: 0 1 50%;
    padding: 1px;
    display: flex;
    flex-direction:column;
    justify-content:baseline;
    align-items:stretch;
}

.cassiedel t {
    position: relative;
    display: inline-block;
    background: #171532f0;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px black,
        inset 0 0 5px black;
    margin: 10px auto -30px;
    width: 300px;
    z-index: 5;
}

.cassiedel strong {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    font-family: "Euphoria Script", cursive;
    font-weight: 400;
    width: 100%;
    z-index:5;

    background: linear-gradient(to bottom,
        #F7C358 0%,
        #FFF6D1 12%,
        #E1B65B 25%,
        #DDAF55 38%,
        #FFF6D1 50%,
        #E1B65B 62%,
        #DDAF55 75%,
        #FFF6D1 88%,
        #F7C358 100%
    );
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    filter: drop-shadow(0 0 5px black);
    
    border-bottom: 2px solid;
    border-image: linear-gradient(
    to right,
    transparent,
    white,
    transparent) 1;
    
    transition: transform 1s ease, filter 1s ease;
}

.cassiedel_inbor2, .cassiedel_incon2 {
    position: inherit;
    box-sizing: border-box;
    margin: 0 auto;
    mask: 
        radial-gradient(ellipse 40px 35px at 0 0, transparent 39px, rgba(0, 0, 0, 0.4) 39.5px, black 40px) 0 0,
        radial-gradient(ellipse 40px 35px at 100% 0, transparent 39px, rgba(0, 0, 0, 0.4) 39.5px, black 40px) 100% 0,
        radial-gradient(ellipse 40px 35px at 100% 100%, transparent 39px, rgba(0, 0, 0, 0.4) 39.5px, black 40px) 100% 100%,
        radial-gradient(ellipse 40px 35px at 0 100%, transparent 39px, rgba(0, 0, 0, 0.4) 39.5px, black 40px) 0 100%;
    -webkit-mask: 
        radial-gradient(ellipse 40px 35px at 0 0, transparent 39px, rgba(0, 0, 0, 0.4) 39.5px, black 40px) 0 0,
        radial-gradient(ellipse 40px 35px at 100% 0, transparent 39px, rgba(0, 0, 0, 0.4) 39.5px, black 40px) 100% 0,
        radial-gradient(ellipse 40px 35px at 100% 100%, transparent 39px, rgba(0, 0, 0, 0.4) 39.5px, black 40px) 100% 100%,
        radial-gradient(ellipse 40px 35px at 0 100%, transparent 39px, rgba(0, 0, 0, 0.4) 39.5px, black 40px) 0 100%;
    mask-size: 51% 51%;
    -webkit-mask-size: 51% 51%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.cassiedel_inbor2 {
    width: 100%;
    height: auto;
    margin: 20px auto 0;
    
    
    background: linear-gradient(90deg,
        #F7C358 0%,
        #FFF6D1 12%,
        #E1B65B 25%,
        #DDAF55 38%,
        #FFF6D1 50%,
        #E1B65B 62%,
        #DDAF55 75%,
        #FFF6D1 88%,
        #F7C358 100%
    );
    padding: 2px;
}

.cassiedel_incon2 {
    position: relative;
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, #3d64ad, #610853);
    padding: 30px 60px;
    text-align: center;
    font-size: 20px;
    font-family: "Forum", serif;
    font-weight: 400;
    color: white;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.cassiedel_incon2 > br {
    display: none;
}

.cassiedel_incon2 text {
    position: relative;
    z-index: 10;
    flex: 1;
    user-select: contain;
    -webkit-user-select: contain;
}

.cassiedel_incon2 text app {
    display: block;
    user-select: all;
    -webkit-user-select: all;
    cursor: pointer;
    
    text-shadow: 0 0 2px black;
    font-size: 14px;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.cassiedel_incon2 img {
    width: 120px;
    height: auto;
    flex-shrink: 0;
    filter: drop-shadow(0 0 5px black);
    animation: float 3s ease-in-out infinite;
}

.cassiedel_incon2 img:last-of-type {
    animation-delay: -1.5s;
}

.cassiedel_incon1 video, .cassiedel_incon2 video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    transform: scaleY(-1);
    
    pointer-events: none;
}

@media (max-width: 1200px) {

    .cassiedel_img {
        display: none;
    }
    
    .cassiedel_con {
        padding: 0px;
    }
    
    .cassiedel cc {
        position: relative;
        display: block;
        inset: 0;
        transform: none;
        font-size: 100px;
    }
    
    .cassiedel cc:hover {
        transform: none;
    }

    .cassiedel_inbor1, .cassiedel_incon1, .cassiedel_inbor2, .cassiedel_incon2 {
        position: inherit;
        box-sizing: border-box;
        margin: 0 auto;
        mask: none;
        -webkit-mask: none;
    }

    .cassiedel_incon1 video, .cassiedel_incon2 video {
        display: none;
    }

    .cassiedel img {
        display: none;
    }

    .cassiedel_stack {
        flex-direction: column;
    }

    .cassiedel credit {
        position: relative;
        inset: auto;    
    }
    
    .cassiedel_incon2 text app {
        text-shadow: none;
    }

}
