@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

.citadelt6 {
    position: relative;
    width: 800px;
    margin: 20px auto;
    box-sizing: border-box;
}

.citadelt6 mood {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    background: black;
    border-radius: 10px;
    overflow: hidden;
    border: 4px solid #191b21;
    box-shadow: 2px 2px 3px black, inset 0 0 5px #00000087;
}

.citadelt6 mood::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: var(--mood) no-repeat bottom;
    background-size: contain;
    overflow: hidden;
    filter:drop-shadow(0 0 3px black);

}

.citadelt6 mood[id="heart" i] {
    --mood: url('https://ik.imagekit.io/arl60/Ardent/shop/Seadragoness/Citadel/seadragon_sticker_01.png');
    background: linear-gradient(to bottom, #79376b, #714e3c);
}

.citadelt6 mood[id="angy" i] {
    --mood: url('https://ik.imagekit.io/arl60/Ardent/shop/Seadragoness/Citadel/seadragon_sticker_04-1.png');
    background: linear-gradient(to bottom, #a82929, #1e0303);
}

.citadelt6 mood[id="shrug" i] {
    --mood: url('https://ik.imagekit.io/arl60/Ardent/shop/Seadragoness/Citadel/seadragon_sticker_06.png');
    background: linear-gradient(to bottom, #9f6a3c, #232e4f);
}

.citadelt6 mood[id="sigh" i] {
    --mood: url('https://ik.imagekit.io/arl60/Ardent/shop/Seadragoness/Citadel/seadragon_sticker_03-1.png');
    background: linear-gradient(to bottom, #606a9f, #0c1023);
}

.citadelt6 mood[id="gasp" i] {
    --mood: url('https://ik.imagekit.io/arl60/Ardent/shop/Seadragoness/Citadel/seadragon_sticker_02.png');
    background: linear-gradient(to bottom, #c1ae61, #1f2f40);
}

.citadelt6 mood[id="ohno" i] {
    --mood: url('https://ik.imagekit.io/arl60/Ardent/shop/Seadragoness/Citadel/seadragon_sticker_05-1.png');
    background: linear-gradient(to bottom, #1b1543, #597487);
}

.citadelt6 mood[id="facepalm" i] {
    --mood: url('https://ik.imagekit.io/arl60/Ardent/shop/Seadragoness/Citadel/seadragon_sticker_07.png');
    background: linear-gradient(to bottom, #110e2f, #875d39);
}

.citadelt6 mood[id="gun" i] {
    --mood: url('https://ik.imagekit.io/arl60/Ardent/shop/Seadragoness/Citadel/seadragon_sticker_08-1.png');
    background: linear-gradient(to bottom, #000, #711f23);
}

.citadelt6 bor {
    display: flex;
    flex-direction: row-reverse;
    --maxheight: 340px;
    height: var(--maxheight);
    box-sizing: border-box;
    margin: 0 auto !important;
    gap: 5px;
}

.citadelt6 bor > *:first-child {
    flex: 0 0 40%;
}

.citadelt6 bor > *:last-child {
    flex: 0 0 58%;
}

.citadelt6 con {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 10px;
    background: linear-gradient(to right,
    #F3E483, white);
    padding: 1.5px;
    box-shadow: 2px 2px 3px black;
}


.citadelt6 inbor {
    position: relative;
    display: block;
    background: linear-gradient(to bottom, #202229, #15171D);
    border-radius: 10px;
    overflow: hidden;
    padding-right: 5px;
    padding-top: 5px;
    box-shadow: inset 0 0 10px black;
}

.citadelt6 incon {
    display: block;
    padding: 0px 18px 0px 30px;
    height: calc(var(--maxheight) - 56px);
    overflow-y: auto;
    
    font-family: 'Bellefair', serif;
    font-size: 15px;
    line-height: 1.1;
    color: white;
    text-align: justify;
    
    --scroll-thumb: #9D9C92;
    --scroll-track: transparent;

    scrollbar-width: thin;
    scrollbar-color: var(--scroll-thumb) var(--scroll-track);
}

.citadelt6 incon::-webkit-scrollbar {
    width: 6px;
}

.citadelt6 incon::-webkit-scrollbar-track {
    background: var(--scroll-track);
}

.citadelt6 incon::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
    border-radius: 3px;
}

.citadelt6 speech {
    display: block;
    text-align: center;
    padding: 10px 0;
    
    color: white;
    font-size: 18px;
    
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, white, transparent) 1;
    box-shadow: 0 -10px 30px black;
}

.citadelt6 speech > br {
    display: none;
}

.citadelt6 b, .citadelt6 .mycode_b {
  color: transparent !important;
  background: linear-gradient(to bottom, rgb(255, 238, 152),rgb(225, 163, 83))!important;;
  -webkit-background-clip: text !important;;
  background-clip: text !important;
    text-shadow: none !important;
  filter: drop-shadow(0 0 2px rgba(0,0,0,0.5));
  font-family: 'Germania One';
}

.citadelt6 credit {
    position: absolute;
    bottom: -17px;
    right: 5px;
    width: 100%;
    text-align: right;
    
    font-family: "Unica One", arial;
    font-weight: bold;
    font-size: 11px;
}

@media (max-width: 1200px) {

    .citadelt6 {
        --maxwidth: 450px;
        max-width: var(--maxwidth);
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }    
    
    .citadelt6 bor {
        flex-direction: column;
        --maxheight: auto;
        height: var(--maxheight);
    }
    
    .citadelt6 mood {
        box-sizing: border-box;
        aspect-ratio: 1/1;
    }

    .citadelt6 credit {
        position: absolute;
        inset: auto;
        margin-top: 5px;
        text-align: center;
    }

}
