@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
.nyxirat2 {
  position: relative;
  margin: 200px auto 20px;
  width: 400px;
}

.nyxirat2 nyx {
  position: absolute;
  right: 0;
  top: -200px;
  height: 500px;
  width: 100%;
  z-index: 10;
  background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d4c64f54-d40d-4085-b0fb-50444fde2d42/dmiq557-bd37e4a2-07a8-4bf1-ae61-c5f38943d15c.png/v1/fill/w_1280,h_1341/nyxie_by_goblin_queen_teegan_dmiq557-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTM0MSIsInBhdGgiOiIvZi9kNGM2NGY1NC1kNDBkLTQwODUtYjBmYi01MDQ0NGZkZTJkNDIvZG1pcTU1Ny1iZDM3ZTRhMi0wN2E4LTRiZjEtYWU2MS1jNWYzODk0M2QxNWMucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.cANHENk4_WVCR2O20_kwIk3sZqDkD67S6dDpmS1Wq3U')
    center / contain no-repeat;
  filter:drop-shadow(0 0 2px black);
}

.nyxirat2 con {
  position: relative;
  display: block;
  box-sizing: border-box;
  box-shadow: 0 0 5px #000000a1;
  padding: 200px 20px 20px;
  border-radius: 200px 200px 20px 20px;
}
.nyxirat2 con:before{
  border-radius:inherit;
  content:''; position: absolute;
  inset:0; width: 100%; height:100%;
  background: url('https://ik.imagekit.io/arl60/Ardent/shop/sharedmedia/21935015_6498043.jpg?updatedAt=1771535275043')
    center / cover;
  background-attachment:fixed;
  filter: hue-rotate(30deg) saturate(0.4);
}

.nyxirat2 g {
  display: block;
  filter: drop-shadow(2px 2px 5px #0f0929);
}

.nyxirat2 inbor {
  display: block;
  background: linear-gradient(to bottom, #c19b4f, #ffe58e, #a5883b);
  padding: 2px;
}

.nyxirat2 incon {
  display: block;
  position: relative;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #4b3a5a, #2a1e38);
  
  padding: 60px 19px 0;
  
  color: white;
  text-align: justify;
  font-family: "Cormorant", serif;
  font-size: 15px;
  letter-spacing: 0.1px;
  line-height: 1.2;
  text-shadow: 0 0 2px black;

}

.nyxirat2 incon:before {
  content: '';
  position: absolute;
  top: 30px;
  left: 49%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  
  background: url('https://ik.imagekit.io/arl60/Ardent/shop/assets/div1.png')
    no-repeat top;
  background-size: contain;
  pointer-events: none;

  filter: saturate(3) drop-shadow(1px 1px 1px #000000b5);
  
}

.nyxirat2 incon::after {
  content: '';
  position: absolute;
  bottom: 40px;
  left: 0;
  height: 40px;
  width: 100%;
  background: url('https://ik.imagekit.io/arl60/Ardent/shop/assets/div2.png')
    no-repeat bottom;
  background-size: contain;
  filter: saturate(3) drop-shadow(1px 1px 1px #321e45e5);
}

.nyxirat2 inbor, .nyxirat2 incon {
    mask: 
        radial-gradient(ellipse 25px 20px at 0 0, transparent 24px, rgba(0, 0, 0, 0.4) 24.5px, black 25px) 0 0,
        radial-gradient(ellipse 25px 20px at 100% 0, transparent 24px, rgba(0, 0, 0, 0.4) 24.5px, black 25px) 100% 0,
        radial-gradient(ellipse 25px 20px at 100% 100%, transparent 24px, rgba(0, 0, 0, 0.4) 24.5px, black 25px) 100% 100%,
        radial-gradient(ellipse 25px 20px at 0 100%, transparent 24px, rgba(0, 0, 0, 0.4) 24.5px, black 25px) 0 100%;
    -webkit-mask: 
        radial-gradient(ellipse 25px 20px at 0 0, transparent 24px, rgba(0, 0, 0, 0.4) 24.5px, black 25px) 0 0,
        radial-gradient(ellipse 25px 20px at 100% 0, transparent 24px, rgba(0, 0, 0, 0.4) 24.5px, black 25px) 100% 0,
        radial-gradient(ellipse 25px 20px at 100% 100%, transparent 24px, rgba(0, 0, 0, 0.4) 24.5px, black 25px) 100% 100%,
        radial-gradient(ellipse 25px 20px at 0 100%, transparent 24px, rgba(0, 0, 0, 0.4) 24.5px, black 25px) 0 100%;
    mask-size: 51% 51%;
    -webkit-mask-size: 51% 51%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.nyxirat2 b, .nyxirat2 .mycode_b {
  letter-spacing: 0.5;
  font-size: 18px;
  line-height: 1;
}

.nyxirat2 incon b,
.nyxirat2 incon .mycode_b {
  color: transparent !important;;
  background: linear-gradient(to right, #EA82FF, #5EFFD9, #de5ebe, #afff82);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: none !important;
  filter: drop-shadow(0 0 1px #00000085) drop-shadow(0 0 .5px black);
}

.nyxirat2 speech {
    display: block;
    width: 100%;
    padding: 20px 0 15px;
    
    color: white;
    text-align: center;
    direction: ltr;
}

.nyxirat2 speech b {
  display: block;
  padding: 10px 0 0;
  font-size: 20px;
}

.nyxirat2 speech > br {
  display: none;
}

.nyxirat2 credit {
  display: block;
  text-align: center;
  margin-top:10px;
  font-family: "Unica One", arial;
  font-size: 10px;
}

@media (max-width: 1200px) {
  
  .nyxirat2 {
    max-width: 450px;
    width: 100% !important;
    left:50%;
    transform:translatex(-50%);
  }
  .nyxirat2 con{
    margin-top:200px;
  }
  .nyxirat2 nyx{ top: -220px;}
}

@media (max-width: 460px) {
  
  .nyxirat2 {
    max-width: 450px;
    width: 100% !important;
    left:50%;
    transform:translatex(-50%);
  }
  .nyxirat2 con{
    margin-top:200px;
    padding: 150px 10px 10px;;
  }
  .nyxirat2 incon {
    padding:60px 10px 0;
    font-size:14px;
  }
  .nyxirat2 b, .nyxirat2 .mycode_b {
    font-size: 14px;
  }
  .nyxirat2 nyx {
    top:-220px;
  }

}
@media (max-width: 420px){
  .nyxirat2 nyx { top:-210px;}  
}
@media (max-width: 350px) {
  .nyxirat2 nyx { top:-190px;}  
}
@media (max-width: 250px) {
  .nyxirat2 nyx { top:-165px;}  
  .nyxirat2 con{
    margin-top:100px;
    padding: 150px 5px 5px;;
  }
}
