@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

/*

  font-family: "Unica One", sans-serif;
  font-weight: bold;

  font-family: "Amarante", serif;
  font-weight: 400;

  font-family: "Fleur De Leah", cursive;
  font-weight: 400;

  font-family: "Didact Gothic", sans-serif;
  font-weight: 400; 

*/

.rengokut9 {
	position: relative;
  width: 800px;
  margin: 150px auto 100px;
  position: relative;
  overflow: visible;
  padding: 0;
  box-sizing: border-box;
}

.rengokut9 credit {
  position:absolute;
  bottom: -15px;
  left: 4px;
  font-size:10px;
  margin: 10px 10px 0 auto;
  font-family: "Unica One", sans-serif;
  font-weight: bold;
}
.rengokut9 goku {
  position: absolute;
  z-index: 10;
  right: -82px;
  top: -104px;
  width: 475px;
  height: 479px;
  pointer-events: none;
  background:url('https://ik.imagekit.io/arl60/Ardent/personal/Rengoku/dude1.png?updatedAt=1759421649381');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter:drop-shadow(0 0 2px black) drop-shadow(0 0 2px black);
}


.rengokut9 bor {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 495px;
  margin: 0 auto 0 0;
  border-radius: 0;
  overflow: hidden;
  filter: drop-shadow(1px 1px 2px black);
}
.rengokut9 con {
  display: block;
  position: relative;
  box-sizing: border-box;
  border-radius: inherit;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  pointer-events: none;
  margin: 0 auto;
  background: linear-gradient(to bottom, #181818, #000);
}
.rengokut9 incon {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  height: auto;
  background: none;
  box-shadow: 2px 2px 5px black;
  text-align: justify;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #dddddd;
  line-height: 1.2;
  z-index: 10;
  border: 2px solid;
  border-image: linear-gradient(to bottom, #591e15, #6a1820) 1;
}
.rengokut9 t {
  display: block;
  padding: 10px 25px 0 31px;
  max-height: 230px;
  overflow-y: auto;
  pointer-events: auto;
  --scrollbar-thumb: gold;
  --scrollbar-track: transparent;
  --scrollbar-width: 6px;

  scrollbar-width: thin;
  scrollbar-color: #a65321  var(--scrollbar-track);

  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }
  &::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 3px;
  }  

}
.rengokut9 t > br:first-of-type{display: none;}
.rengokut9 incon:after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -2;
  background: linear-gradient(to bottom, rgb(89, 14, 14), #130208);
  box-shadow: inset 0 0 10px rgb(36, 13, 7);
   pointer-events: none;
}
.rengokut9 incon:before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background: url('https://ik.imagekit.io/arl60/Ardent/personal/Rengoku/fire.png?updatedAt=1755231359185') bottom / 100% no-repeat;
  opacity: .1;
  filter: saturate(1.4) brightness(1.2) drop-shadow(0 0 2px black);
  pointer-events: none;
}
.rengokut9 incon b, .rengokut9 .mycode_b {
  display: inline;
  color: #ffc94a;
	font-family: 'Amarante';
  font-size: 14px;
  font-weight: 400;
  text-shadow: 0px 0px 2px #000000;
  line-height: 0.9;
}
.rengokut9 speech,
.rengokut9 speech br {display: none;}

.ab00.rengokut9 log {
  width: 90%;
  margin: 14px auto 0;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #c98c2c, transparent) 1;
}

@media (max-width: 1200px) {
  
  .rengokut9 {
    width: 100%;
    margin: 0;
  }

  .rengokut9 bor {
    margin: auto;
    max-width: 450px;
    width: 100%;
  }
  .rengokut9 con {
    padding: 10px;
  }
  
  .rengokut9 goku {
    display: none;
  }
  
  .rengokut9 incon {
    padding:  5px 15px;
  }
  
  .rengokut9 incon > br:first-of-type {
    display: none;
  }
  
  .rengokut9 credit {
    display: block;
    position:relative;
    inset: auto;
    margin: 5px auto 0;
    text-align: center;
  }
  
  .rengokut9 speech {
    margin: 20px auto 10px -5px;
  }
  .rengokut9 t {
    padding: 0 10px 10px;
    max-height: none;
    overflow-y:visible;
  }

}
