@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@font-face {
  font-family: 'rengoku';
  src: url('VikingNormal-36VL.otf') format('truetype');
}

/*

  font-family: "Unica One", sans-serif;
  font-weight: bold;

  font-family: "Amarante", serif;
  font-weight: 400;

  font-family: "rengoku", serif;
  font-weight: 400;

  font-family: "Didact Gothic", sans-serif;
  font-weight: 400; 

*/

.rengokut1_content, .rengokut1 {
	position: relative;
  width: 400px;
  margin: 50px auto 40px clamp(20px, 10vw, 250px);
  position: relative;
  overflow: visible;
  padding: 0;
  background:transparent;
  box-sizing: border-box;
}

.rengokut1_content credit, .rengokut1 credit {
  display:block;
  text-align:center;
  font-size:10px;
  margin: 5px auto 0;
  font-family: "Unica One", sans-serif;
  font-weight: bold;
}

.rengokut1_img {
  position: absolute;
  bottom: -50px;
  left: 300px;
  width: 130%;
  height: 500px;
  background: transparent url('https://ik.imagekit.io/arl60/Ardent/personal/Rengoku/dude1.png?updatedAt=1759421649381') no-repeat center bottom;
  background-size: contain; 
  z-index: 5;
  pointer-events: none;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.8)) drop-shadow(0 0 2px rgba(0, 0, 0, 0.8));
}

.rengokut1_bor {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #230705, #000000);
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0 0 10px black;
}

.rengokut1_con {
  position: relative;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  pointer-events: none;
  margin: 0 auto;
  overflow: hidden;
  background: linear-gradient(to bottom, rgb(47, 9, 4), black);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.rengokut1_con::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 100%;
  height: 400px;
  background: transparent url('https://ik.imagekit.io/arl60/Ardent/personal/Rengoku/fire.png?updatedAt=1755231359185') no-repeat center top;
  opacity:0.7;
  background-size: contain; 
  z-index: 5;
  filter: drop-shadow(0 10px 10px rgba(0,0,0,0.8));
  pointer-events: none;
}

.rengokut1_con speech {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 10px;
  font-family: 'rengoku';
  font-weight: bold;
  text-shadow: none;
  font-size: 40px;
  color: transparent;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #efca50, transparent) 1;
  padding: 30px 0 0;
  background: linear-gradient(to bottom, #e96f36, #efca50);
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1;
  filter: drop-shadow(0 10px 10px rgba(0,0,0,0.8));
  z-index:10;
}

.rengokut1_con > * {
  position: relative;
  z-index: 2;
}

.rengokut1_incon {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #efca50;
  padding: 15px 25px 120px;
  width: 100%;
  min-height:320px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.8);
  height: auto;
  box-shadow: 0 0 5px 5px rgba(237, 105, 52, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: justify;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400; 
  font-size: 11px;
  color: #dddddd;
  line-height: 1.2;
}

.rengokut1_incon speak {
  color: transparent;
  background: linear-gradient(to bottom, #e96f36, #efca50);
  -webkit-background-clip: text;
  background-clip: text;
	font-family: 'Amarante';
  font-size: 12px;
  font-weight: bold;
  text-shadow: none !important;
  line-height: 0.9;
  filter: drop-shadow(0 10px 10px rgba(0,0,0,0.8));
}



@media (max-width: 1200px) {

  .rengokut1_content {
    filter: none;
  }

  .rengokut1_con::before {
    display: none;
  }

  .rengokut1_con speech {
    position: relative;
    bottom: auto;
    left: auto;
    display: block;
    text-align: center;
    transform: none;
  }
.rengokut1_content credit {
  margin: 0 auto;
}

.rengokut1_incon {
  min-height:10px;
}

}

