@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@font-face {
    font-family: "kamajit1";
    src: url('KingsAndPirates-p7EAK.ttf') format('truetype');
}

/*
  font-family: "kamajit1", cursive;
  font-weight: 400;

  font-family: "Unica One", sans-serif;
  font-weight: bold;

  font-family: "Comfortaa", sans-serif;
  font-weight: 400;

*/

.kamajit2 {
  width: 100%;
  max-width: 700px;
  margin: 20px auto 50px;
  position: relative;
  overflow: visible;
  padding: 0;
  background: transparent;
  box-sizing: border-box;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.85));
}

.kamajit2 t {
  position: absolute;
  top:119px;
  left:36px;
  z-index:10;
  width: 641px;

  font-family: "kamajit1", cursive;
  font-weight: 400;
  font-size: 67px;
  
  filter:drop-shadow(0 0 10px black);
  text-align: center;
  padding: 0;
  
  color: transparent;
  background: linear-gradient(to bottom, #18C3EC, #CCF5FF);
  -webkit-background-clip: text;
  background-clip: text;
}

.kamajit2 t::before {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 1px;
  
  background: linear-gradient(to right, transparent, #EF4DE7, transparent);
}

.kamajit2 credit {
  position: absolute;
  bottom: 206px;
  left: 13px;
  width: 100px;
  display: block;
  text-align: left;
  font-family: "Unica One", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  z-index: 10;
  transform: rotate(-90deg);
}

.kamajit2_img {
  position: absolute;
  bottom: -61px;
  left: -16px;
  width: 115%;
  height: 717px;
  background: transparent url('https://ik.imagekit.io/arl60/Ardent/shop/Missy/Kamaji/SLXxrrog.png') no-repeat center center;
  background-size: contain;
  z-index: 5;
  pointer-events: none;
  filter: drop-shadow(0 0 3px #000);
}

.kamajit2_bor {
  position: relative;
  width: 550px;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.85), 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: black;
  clip-path: polygon(
    50% 0%,
    100% 180px,
    100% calc(100% - 150px),
    50% 100%,
    0% calc(100% - 150px),
    0% 180px
  );
  padding: 5px;
}

.kamajit2_con {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #96319F, #180237);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  clip-path: polygon(
    50% 0%,
    100% 175px,
    100% calc(100% - 150px),
    50% 100%,
    0% calc(100% - 150px),
    0% 175px
  );
  padding-top: 50px;
  padding-bottom: 200px;
  box-sizing: border-box;
  margin: 0 auto;
  pointer-events: none;

  padding: 20px 10px 15px;
}

.kamajit2_inbor {
  position: relative;
  z-index: 6;
  margin: 0 auto;
  padding: 0 1px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, transparent, #EF4DE7, transparent);
  clip-path: polygon(
    50% 0%,
    100% 165px,
    100% calc(100% - 140px),
    50% 100%,
    0% calc(100% - 140px),
    0% 165px
  );
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.85));
}

.kamajit2_incon {
  position: relative;
  z-index: 6;
  padding: 200px 25px 570px;
  width: 100%;
  min-height: 400px;
  box-sizing: border-box;
  overflow: visible;
  background: linear-gradient(to bottom, #0c0d11, #180237, #0c0d11);
  clip-path: polygon( 50% 0%, 100% 163px, 100% calc(100% - 140px), 50% 100%, 0% calc(100% - 140px), );

  text-align: center;
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #fefbff;
  line-height: 1.2;
}

.kamajit2_incon::before {
  content: '';
  display: block;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 30px solid #fff;
  z-index: 7;
}

.kamajit2_speech {
  position: relative;
  font-family: 'Germania One';
  text-align: center;
  margin: 0 auto -30px;
}

.kamajit2_speech::before {
  content:'';
  position:absolute;
  top:0;
  left:50%;
  transform: translateX(-50%);

  width:50%;
  height:1.2px;

  background: linear-gradient(to right, transparent, #EF4DE7, transparent);
}


.kamajit2_incon speak {
  font-size: 13px;
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
  color: #18C3EC;
}

.kamajit2_speech speak {
  font-size: 18px;
}


@media (max-width: 1200px) {
  
  .kamajit2 t {
    display: none;
  }
  
  .kamajit2 credit {
    position: relative;
    bottom: auto;
    left: auto;
    width: 100%;
    display: block;
    transform: none;
    text-align:center;
    margin-top:10px;
  }
  
  
  .kamajit2_content, .kamajit2_inbor {
    filter: none;
  }

  .kamajit2_bor, 
  .kamajit2_con, 
  .kamajit2_inbor, 
  .kamajit2_incon {
    clip-path: none;
    padding:15px;
  }

  .kamajit2_bor, .kamajit2_inbor {
    padding:2px;
  }

  .kamajit2_img {
    filter: none;
  }

  .kamajit2_incon::before {
    display: none;
  }

  .kamajit2_img {
    display: none;
  }
}
