@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

/*

  font-family: "Unica One", sans-serif;
  font-weight: bold;

  font-family: "Amarante", serif;
  font-weight: 400;

  font-family: "Fleur De Leah", cursive;
  font-weight: 400;

  font-family: "Didact Gothic", sans-serif;
  font-weight: 400; 

*/

.shamsit1 {
	position: relative;
  width: 800px;
  margin: 30px auto;
  position: relative;
  overflow: visible;
  padding: 0;
  box-sizing: border-box;
}

.shamsit1 credit {
  position:absolute;
  bottom: -15px;
  left: 5px;
  font-size:10px;
  margin: 10px 10px 0 auto;
  font-family: "Unica One", sans-serif;
  font-weight: bold;
}

.shamsit1 shamsi {
  float: left;
  width: 367px;
  height: 356px;
  margin-left: -50px;
  margin-top: -30px;
  background: url('https://ik.imagekit.io/arl60/Ardent/shop/Resin/shamsi/ShamsiBirdies.png')
    no-repeat left;
  background-size: contain; 
  z-index: 5;
  pointer-events: none;
  filter: drop-shadow(1px 1px 2px rgb(0, 0, 0));
  
  shape-outside: url('https://ik.imagekit.io/arl60/Ardent/shop/Resin/shamsi/ShamsiBirdies.png');
  shape-margin: 10px;
}

.shamsit1 bor {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 800px;
  padding: 5px;
  margin: 0 auto;
  
  border: 3px solid;
  border-image: linear-gradient(to bottom, #d58147, #7c1e0c) 1;
  
  border-radius: 0;
  overflow: hidden;
  
  filter: drop-shadow(1px 1px 2px black);
}

.shamsit1 con {
  display: block;
  position: relative;
  box-sizing: border-box;
  border-radius: inherit;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  pointer-events: none;
  margin: 0 auto;
}

.shamsit1 con::before {
  border-radius: inherit;
  content:'';
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  background: url('https://images.unsplash.com/photo-1523712999610-f77fbcfc3843?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
}

.shamsit1 inbor {

}

.shamsit1 incon {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 0px 25px 0px;
  width: 100%;
  background: linear-gradient(to bottom, rgb(117, 54, 21), #4c1b0ef0);
  height: auto;
  box-shadow: inset 0 0 10px rgb(36, 13, 7),
    2px 2px 5px black;
  text-align: justify;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-size:13px;
  color: #dddddd;
  line-height: 1.2;
  
  border: 2px solid;
  border-image: linear-gradient(to bottom, #b47916, #be7c1a) 1;
  
}


.shamsit1 incon:after {
  position: absolute;
  content: '';
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 29px;
  
  background: url('https://ik.imagekit.io/arl60/Ardent/shop/assets/2378399_323869-P9DO7B-875.png')
    no-repeat center;
  background-size: contain;
  
  pointer-events: none;
  
  filter:brightness(10)
    drop-shadow(1px 1px 1px black);
  opacity: 0.8;
  z-index: 5;
}


.shamsit1 incon br {
  display: inline;
}

.shamsit1 incon speak {
  display: inline;
  color: #ffc94a;
	font-family: 'Amarante';
  font-size: 14px;
  font-weight: 400;
  text-shadow: 0px 0px 2px #000000;
  line-height: 0.9;
}

.shamsit1 speech {
  display: inline-block;
  width: 100%;
  margin: 30px auto 20px -5px;
  font-size:30px;
  color: #6171d2;
  text-shadow: 1px 1px 2px #0a0906;
  text-align: center;
  line-height: 1;
}

.shamsit1 speech br {
  display: none;
}

.shamsit1 speech speak {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 1.5;
}



@media (max-width: 1200px) {
  
  .shamsit1 {
    width: 100%;
    margin: 0;
  }

  .shamsit1 bor {
    max-width: 450px;
    width: 100%;
  }
  .shamsit1 con {
    padding: 10px;
  }
  
  .shamsit1 shamsi {
    display: none;
  }
  
  .shamsit1 incon {
    padding: 10px;
  }
  
  .shamsit1 incon shamsi + br {
    display: none;
  }
  
  .shamsit1 credit {
    display: block;
    position:relative;
    inset: auto;
    margin: 5px auto 0;
    text-align: center;
  }
  
  .shamsit1 speech {
    margin: 20px auto 10px -5px;
  }


}
