@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@font-face {
    font-family: 'redwake';
    src: url('BloodseekerDemo-DxW1.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*
  font-family: "redwake", cursive;
  font-weight: 400;

  font-family: "Unica One", sans-serif;
  font-weight: bold;

  font-family: "Comfortaa", sans-serif;
  font-weight: 400;

*/

.redwaket2 {
  margin: 20px auto;
  position: relative;
  width: 700px;
  height: auto;
  box-sizing: border-box;
}

.redwaket2 t {
  position: absolute;
  top:682px;
  left:103px;
  z-index:10;
  
  font-family: "redwake", cursive;
  font-weight: 400;
  font-size: 51px;
  padding: 24px 0 0;
  
  color: transparent;
  background: linear-gradient(to bottom, #BFE216, #DEE446, #AE9603);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: none;
  
  filter:drop-shadow(0 0 10px black);
}

.redwaket2 credit {
  position: absolute;
  top: 40px;
  right:-45px;
  transform: rotate(90deg);
  display:block;
  margin: 0 auto;
  text-align:center;
  text-transform:uppercase;
  font-size:10px;
  font-weight: bold;
  font-family: arial;
}


.redwaket2_bor {
  position:relative;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.85);
  background: linear-gradient(to bottom, #0d1820);
}

.redwaket2_con {
  position: relative;
  z-index: 0;
  width: 100%;
  height: auto;
  padding: 480px 15px 15px;
  box-sizing: border-box;
  overflow: hidden;
  background: #081318 url('https://ik.imagekit.io/arl60/Ardent/shop/Missy/Redwake/W4dOi47Q.png') no-repeat top;
  background-size: 101%;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
}

.redwaket2_con::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  background: linear-gradient(to bottom, transparent 660px, #0B1520 740px, #0B1520 100%);
  pointer-events: none;
}

.redwaket2_inf {
  position: absolute;
  top: 300px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  padding: 20px;
  margin: 0;
  height: auto;
  overflow: hidden;
  transform: scaleY(-1);
  -webkit-mask-image: linear-gradient(to top, transparent 200px, #081117 300px, #282A38);
  mask-image: linear-gradient(to top, transparent 200px, #000 300px);
  z-index: 4;
}

.redwaket2_incon {
  position: relative;
  z-index: 6;
  padding: 280px 16px 0;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background: linear-gradient(to bottom, transparent 150px, #59171A);
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  border-image: linear-gradient(to bottom, transparent 70px, #FFD37B) 1;

  font-family: "Comfortaa", sans-serif;
  font-size: 11px;
  color: #fff;
  text-align: center;
  z-index: 5;
}

.redwaket2_incon speak {
  font-size: 13px;
  color: transparent;
  background: linear-gradient(to bottom, #BFE216, #DEE446);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: none;
  line-height: 0.9;
  filter: drop-shadow(0 0 2px black);
}

.redwaket2_spch {
  position:inherit;
  margin: 5px 0;
  text-align: center;
}

.redwaket2_spch speak {
  font-family: "Yatra One", system-ui;
  font-size: 16px;
  font-weight: bold;
  color: transparent;
}

.redwaket2_spch::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  background: linear-gradient(to right, transparent, #FFD37B, transparent);
  height: 1.2px;
  width: 60%;
}

@media (max-width: 1200px) {

.redwaket2 credit {
  position: relative;
  top: auto;
  right: auto;
  transform: none;
}

.redwaket2_inf, .redwaket2_inf::after, .redwaket2_con::after {
  display:none;
}
 
  .redwaket2_con {
    background: none;
    padding: 20px;
  }
  
  .redwaket2_incon {
    padding: 20px;
  }
  
  .redwaket2 t {
    display:none;
  }

}
